
.slider {
  &-sm {
    display: none;
    @include bp-medium {
      display: block;
    }
  }
  &-item {
    padding: 10px;
    text-align: center;
  }
  &__img {

  }
  &__content {
    line-height: 1.4;
  }
  &__title {
    font-size: 26px;
  }
  &__subtitle {
    font-size: 16px;
  }
}


.banner-wrap {
  position: relative;
  height: $sliderHeight;
  z-index: 1;

  @include bp-large-slider {
    margin: 50px 0;
    height: 500px;
  }
  @include bp-medium {
    display: none;
  }
}

.banner-main {
  color: $text-color;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $sliderHeight * 0.8;
  height: $sliderHeight * 0.8;
  margin-left: -$sliderHeight * 0.4;
  margin-top: -$sliderHeight * 0.4;
  z-index: 1;

  @include bp-large-slider {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
  }
}

.banner-main:after {
  content: '>>>';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 7.2rem;
  border-bottom: 6px solid #86bd44;
  color: #2f2f2f;
  font-size: 1.8rem;
  line-height: 1;
  padding: 0 0 1rem;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0)
}

.banner-main:before {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: $sliderHeight * 0.8;
  height: $sliderHeight * 0.8;
  margin-left: -$sliderHeight * 0.4;
  margin-top: -$sliderHeight * 0.4;
  background: url(../img/pics/control.png) no-repeat center/100% 100%;
  transition: .4s linear;
  z-index: 3;
  @include bp-large-slider {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top: -150px;
  }
}

.banner__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: $sliderHeight * 0.77;
  height: $sliderHeight * 0.77;
  border-radius: 50%;
  @include bp-large-slider {
    width: 280px;
    height: 280px;
  }
}

.banner__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: .2s;
  max-height: 100%;
  max-width: 100%
}

.banner__img._actions {
  overflow: hidden
}

.banner__img._sofa img {
  top: 63%;
  max-width: 115%
}

.banner__img._childrens img {
  top: 62%;
  max-width: 90%
}

.banner-main__content {
  position: relative;
  text-align: center;
  padding: 70px 10px;
  line-height: 1;

  @include bp-large-slider {
    padding: 306px 0 0;
  }
}

.banner__title {
  position: relative;
  font-size: 32px;
  text-transform: uppercase;
  padding: 0 0 20px;
  margin: 0 0 20px
}

.banner__title:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -3.6rem;
  width: 7.2rem;
  height: 1px;
  background: #2c2929
}

.banner__subtitle {
  font-size: 18px
}

.banner-main._kitchens:before {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg)
}

.banner-main._actions:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.banner-main._cabinets:before {
  -webkit-transform: rotate(-120deg);
  transform: rotate(-120deg)
}

.banner-main._childrens:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg)
}

.banner-main._sofa:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.banner-main._bedrooms:before {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg)
}

.cube-overlay {
  background: #f1f0f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  z-index: 5
}

.cube-overlay.active {
  background: 0 0;
  visibility: hidden
}

.cube-wrap {
  -webkit-perspective: 55rem;
  perspective: 55rem;
  -webkit-perspective-origin: center center;
  perspective-origin: center center;
  position: absolute;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  z-index: 30;
  transform: translate(-50%, -15%);
  font-size: 0;
  z-index: 5;

}

.cube-wrap:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -100px;
  margin-left: -$sliderHeight * 0.295;
  width: $sliderHeight * 0.59;
  height: 51px;
  background: url(../img/pics/shadow.png) no-repeat center/contain;

}

.cube-wrap.active {
  -webkit-perspective: 200rem;
  perspective: 200rem;
  height: $sliderHeight * 0.55;
  width: $sliderHeight * 1.447;
  margin-left: -$sliderHeight * 0.72;
  margin-top: -$sliderHeight * 0.276;
  background: 0 0;
  transition: 1s;
  -webkit-transform: translate(0);
  transform: translate(0);
  -webkit-animation: hideLayer 0s forwards 1s;
  animation: hideLayer 0s forwards 1s;

  @include bp-large-slider {
    width: 580px;
    height: 300px;
    margin-left: -290px;
    margin-top: -230px;
  }
}

.cube-wrap.active .cube {
  position: absolute;
  width: 6.5rem;
  height: 6.5rem
}

.cube-wrap.active .cube:after {
  opacity: 1
}

.cube-wrap.active .cube:before {
  -webkit-transform: translateZ(3.75rem);
  transform: translateZ(3.75rem);
  background-size: 4.5rem 4.5rem
}

.cube-wrap.active .cube._chair {
  visibility: hidden;
  opacity: 0;
  left: 10rem;
  top: -19rem;
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

.cube-wrap.active .cube._kitchens {
  left: 15rem
}

.cube-wrap.active .cube._kitchens:before {
  -webkit-transform: translateZ(3.25rem);
  transform: translateZ(3.25rem);
  background-size: 3.75rem 3.75rem
}

.cube-wrap.active .cube._actions {
  left: 2rem;
  top: 50%;
  margin-top: -3.75rem;
  -webkit-transform: rotateX(0) rotateY(-45deg) rotateZ(45deg);
  transform: rotateX(0) rotateY(-45deg) rotateZ(45deg);
  width: 7.5rem;
  height: 7.5rem
}

.cube-wrap.active .cube._actions:before {
  -webkit-transform: translateZ(3.75rem);
  transform: translateZ(3.75rem);
  background-size: 5.5rem 5.5rem
}

.cube-wrap.active .cube._actions .cube__side {
  width: 7.5rem;
  height: 7.5rem
}

.cube-wrap.active .cube._actions .cube__side._back {
  -webkit-transform: translateZ(-3.75rem);
  transform: translateZ(-3.75rem)
}

.cube-wrap.active .cube._actions .cube__side._front {
  -webkit-transform: translateZ(3.75rem);
  transform: translateZ(3.75rem)
}

.cube-wrap.active .cube._actions .cube__side._top {
  -webkit-transform: translateY(-3.75rem) rotateX(90deg);
  transform: translateY(-3.75rem) rotateX(90deg)
}

.cube-wrap.active .cube._actions .cube__side._bottom {
  -webkit-transform: translateY(3.75rem) rotateX(90deg);
  transform: translateY(3.75rem) rotateX(90deg)
}

.cube-wrap.active .cube._actions .cube__side._left {
  -webkit-transform: translateX(-3.75rem) rotateY(90deg);
  transform: translateX(-3.75rem) rotateY(90deg)
}

.cube-wrap.active .cube._actions .cube__side._right {
  -webkit-transform: translateX(3.75rem) rotateY(90deg);
  transform: translateX(3.75rem) rotateY(90deg)
}

.cube-wrap.active .cube._cabinets {
  top: 100%;
  -webkit-transform: rotateX(0) rotateY(-20deg) rotateZ(45deg);
  transform: rotateX(0) rotateY(-20deg) rotateZ(45deg);
  width: 8.5rem;
  height: 8.5rem
}

.cube-wrap.active .cube._cabinets:before {
  -webkit-transform: translateZ(4.5rem);
  transform: translateZ(4.5rem);
  background-size: 5.5rem 5.5rem
}

.cube-wrap.active .cube._cabinets .cube__side {
  width: 9rem;
  height: 9rem
}

.cube-wrap.active .cube._cabinets .cube__side._back {
  -webkit-transform: translateZ(-4.5rem);
  transform: translateZ(-4.5rem)
}

.cube-wrap.active .cube._cabinets .cube__side._front {
  -webkit-transform: translateZ(4.5rem);
  transform: translateZ(4.5rem)
}

.cube-wrap.active .cube._cabinets .cube__side._top {
  -webkit-transform: translateY(-4.5rem) rotateX(90deg);
  transform: translateY(-4.5rem) rotateX(90deg)
}

.cube-wrap.active .cube._cabinets .cube__side._bottom {
  -webkit-transform: translateY(4.5rem) rotateX(90deg);
  transform: translateY(4.5rem) rotateX(90deg)
}

.cube-wrap.active .cube._cabinets .cube__side._left {
  -webkit-transform: translateX(-4.5rem) rotateY(90deg);
  transform: translateX(-4.5rem) rotateY(90deg)
}

.cube-wrap.active .cube._cabinets .cube__side._right {
  -webkit-transform: translateX(4.5rem) rotateY(90deg);
  transform: translateX(4.5rem) rotateY(90deg)
}

.cube-wrap.active .cube._childrens {
  left: 100%;
  margin-left: -21.5rem;
  -webkit-transform: rotateX(7deg) rotateY(-2deg) rotateZ(0);
  transform: rotateX(7deg) rotateY(-2deg) rotateZ(0)
}

.cube-wrap.active .cube._sofa {
  top: 50%;
  left: 100%;
  margin-left: -2.75rem;
  margin-top: -2.75rem;
  -webkit-transform: rotateX(0) rotateY(45deg) rotateZ(-45deg);
  transform: rotateX(0) rotateY(45deg) rotateZ(-45deg);
  width: 7.5rem;
  height: 7.5rem
}

.cube-wrap.active .cube._sofa:before {
  -webkit-transform: translateZ(3.75rem);
  transform: translateZ(3.75rem);
  background-size: 5.5rem 5.5rem
}

.cube-wrap.active .cube._sofa .cube__side {
  width: 7.5rem;
  height: 7.5rem
}

.cube-wrap.active .cube._sofa .cube__side._back {
  -webkit-transform: translateZ(-3.75rem);
  transform: translateZ(-3.75rem)
}

.cube-wrap.active .cube._sofa .cube__side._front {
  -webkit-transform: translateZ(3.75rem);
  transform: translateZ(3.75rem)
}

.cube-wrap.active .cube._sofa .cube__side._top {
  -webkit-transform: translateY(-3.75rem) rotateX(90deg);
  transform: translateY(-3.75rem) rotateX(90deg)
}

.cube-wrap.active .cube._sofa .cube__side._bottom {
  -webkit-transform: translateY(3.75rem) rotateX(90deg);
  transform: translateY(3.75rem) rotateX(90deg)
}

.cube-wrap.active .cube._sofa .cube__side._left {
  -webkit-transform: translateX(-3.75rem) rotateY(90deg);
  transform: translateX(-3.75rem) rotateY(90deg)
}

.cube-wrap.active .cube._sofa .cube__side._right {
  -webkit-transform: translateX(3.75rem) rotateY(90deg);
  transform: translateX(3.75rem) rotateY(90deg)
}

.cube-wrap.active .cube._bedrooms {
  left: 100%;
  top: 100%;
  -webkit-transform: rotateX(0) rotateY(20deg) rotateZ(-45deg);
  transform: rotateX(0) rotateY(20deg) rotateZ(-45deg);
  width: 9rem;
  height: 9rem
}

.cube-wrap.active .cube._bedrooms:before {
  -webkit-transform: translateZ(4.5rem);
  transform: translateZ(4.5rem);
  background-size: 5.5rem 5.5rem
}

.cube-wrap.active .cube._bedrooms .cube__side {
  width: 9rem;
  height: 9rem
}

.cube-wrap.active .cube._bedrooms .cube__side._back {
  -webkit-transform: translateZ(-4.5rem);
  transform: translateZ(-4.5rem)
}

.cube-wrap.active .cube._bedrooms .cube__side._front {
  -webkit-transform: translateZ(4.5rem);
  transform: translateZ(4.5rem)
}

.cube-wrap.active .cube._bedrooms .cube__side._top {
  -webkit-transform: translateY(-4.5rem) rotateX(90deg);
  transform: translateY(-4.5rem) rotateX(90deg)
}

.cube-wrap.active .cube._bedrooms .cube__side._bottom {
  -webkit-transform: translateY(4.5rem) rotateX(90deg);
  transform: translateY(4.5rem) rotateX(90deg)
}

.cube-wrap.active .cube._bedrooms .cube__side._left {
  -webkit-transform: translateX(-4.5rem) rotateY(90deg);
  transform: translateX(-4.5rem) rotateY(90deg)
}

.cube-wrap.active .cube._bedrooms .cube__side._right {
  -webkit-transform: translateX(4.5rem) rotateY(90deg);
  transform: translateX(4.5rem) rotateY(90deg)
}

.cube-wrap.active .cube__side {
  opacity: .6;
  border: 1px solid #c5c9bf;
  width: 6.5rem;
  height: 6.5rem
}

.cube-wrap.active .cube__side._back {
  -webkit-transform: translateZ(-3.25rem);
  transform: translateZ(-3.25rem);
  background: #bac0b3
}

.cube-wrap.active .cube__side._front {
  background: #bac0b3;
  -webkit-transform: translateZ(3.25rem);
  transform: translateZ(3.25rem)
}

.cube-wrap.active .cube__side._top {
  -webkit-transform: translateY(-3.25rem) rotateX(90deg);
  transform: translateY(-3.25rem) rotateX(90deg);
  background: #8c9086
}

.cube-wrap.active .cube__side._bottom {
  -webkit-transform: translateY(3.25rem) rotateX(90deg);
  transform: translateY(3.25rem) rotateX(90deg);
  background: #8c9086
}

.cube-wrap.active .cube__side._left {
  -webkit-transform: translateX(-3.25rem) rotateY(90deg);
  transform: translateX(-3.25rem) rotateY(90deg);
  background: #c9cdc4
}

.cube-wrap.active .cube__side._right {
  -webkit-transform: translateX(3.25rem) rotateY(90deg);
  transform: translateX(3.25rem) rotateY(90deg);
  background: #c9cdc4
}

.cube-wrap.active .cube.active .cube__side, .cube-wrap.active .cube:hover .cube__side {
  opacity: .8;
  border-color: #a5d961
}

.cube-wrap.active .cube.active .cube__side._back, .cube-wrap.active .cube:hover .cube__side._back {
  background: #a5d961
}

.cube-wrap.active .cube.active .cube__side._front, .cube-wrap.active .cube:hover .cube__side._front {
  background: #a0d757
}

.cube-wrap.active .cube.active .cube__side._top, .cube-wrap.active .cube:hover .cube__side._top {
  background: #6a9c1a
}

.cube-wrap.active .cube.active .cube__side._bottom, .cube-wrap.active .cube:hover .cube__side._bottom {
  background: #6a9c1a
}

.cube-wrap.active .cube.active .cube__side._left, .cube-wrap.active .cube:hover .cube__side._left {
  background: #8fbf41
}

.cube-wrap.active .cube.active .cube__side._right, .cube-wrap.active .cube:hover .cube__side._right {
  background: #8fbf41
}

.cube-wrap.active .cube:hover {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: .4s ease-in-out
}

.cube-wrap.active .cube:hover:after {
  -webkit-transform: rotate(0);
  transform: rotate(0)
}

.cube-wrap.active:before {
  bottom: auto;
  left: 0;
  top: 0;
  margin-left: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/pics/cube-blur.png)
}

.cube-wrap.active:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(../img/pics/cube-blur.png) no-repeat center/contain
}

.cube {
  display: inline-block;
  vertical-align: middle;
  width: 9.5rem;
  height: 9.5rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: .4s linear;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 1.5rem 1.5rem 0
}

.cube:nth-child(3n) {
  margin-right: 0
}

.cube:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center/5.75rem 5.75rem;
  -webkit-transform: translateZ(4.75rem);
  transform: translateZ(4.75rem);
  z-index: 2;
  transition: .3s
}

.cube:after {
  content: '';
  display: block;
  position: absolute;
  background: no-repeat center/100% 100%;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: .6s;
  opacity: 0
}

.cube__side {
  position: absolute;
  width: 9.5rem;
  height: 9.5rem;
  transition: .6s
}

.cube__side._back {
  -webkit-transform: translateZ(-4.75rem);
  transform: translateZ(-4.75rem);
  background: #bac0b3
}

.cube__side._front {
  background: #bac0b3;
  -webkit-transform: translateZ(4.75rem);
  transform: translateZ(4.75rem)
}

.cube__side._top {
  -webkit-transform: translateY(-4.75rem) rotateX(90deg);
  transform: translateY(-4.75rem) rotateX(90deg);
  background: #8c9086
}

.cube__side._bottom {
  -webkit-transform: translateY(4.75rem) rotateX(90deg);
  transform: translateY(4.75rem) rotateX(90deg);
  background: #8c9086
}

.cube__side._left {
  -webkit-transform: translateX(-4.75rem) rotateY(90deg);
  transform: translateX(-4.75rem) rotateY(90deg);
  background: #c9cdc4
}

.cube__side._right {
  -webkit-transform: translateX(4.75rem) rotateY(90deg);
  transform: translateX(4.75rem) rotateY(90deg);
  background: #c9cdc4
}

.cube._chair {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}

.cube._chair:before {
  background-image: url(../img/pics/chair.svg)
}

.cube._chair.active .cube__side._back {
  -webkit-transform: translateZ(-4.75rem);
  transform: translateZ(-4.75rem);
  background: #a2d55f
}

.cube._chair.active .cube__side._front {
  background: #a2d55f;
  -webkit-transform: translateZ(4.75rem);
  transform: translateZ(4.75rem)
}

.cube._chair.active .cube__side._top {
  -webkit-transform: translateY(-4.75rem) rotateX(90deg);
  transform: translateY(-4.75rem) rotateX(90deg);
  background: #689225
}

.cube._chair.active .cube__side._bottom {
  -webkit-transform: translateY(4.75rem) rotateX(90deg);
  transform: translateY(4.75rem) rotateX(90deg);
  background: #689225
}

.cube._chair.active .cube__side._left {
  -webkit-transform: translateX(-4.75rem) rotateY(90deg);
  transform: translateX(-4.75rem) rotateY(90deg);
  background: #add47a
}

.cube._chair.active .cube__side._right {
  -webkit-transform: translateX(4.75rem) rotateY(90deg);
  transform: translateX(4.75rem) rotateY(90deg);
  background: #add47a
}

.cube._kitchens:before {
  background-image: url(../img/pics/kitchen.svg)
}

.cube._kitchens:after {
  left: -15px;
  bottom: -88px;
  width: 88px;
  height: 51px;
  background-image: url(../img/pics/shadow1.png)
}

.cube._actions:before {
  background-image: url(../img/pics/action.svg)
}

.cube._actions:after {
  left: -100px;
  bottom: -66px;
  width: 300px;
  height: 70px;
  background-image: url(../img/pics/shadow2.png);
  -webkit-transform: rotate(-48deg);
  transform: rotate(-48deg)
}

.cube._cabinets:before {
  background-image: url(../img/pics/cabinet.svg)
}

.cube._cabinets:after {
  left: -15px;
  bottom: -72px;
  width: 160px;
  height: 82px;
  background-image: url(../img/pics/shadow3.png);
  -webkit-transform: rotate(-48deg);
  transform: rotate(-48deg)
}

.cube._childrens:before {
  background-image: url(../img/pics/children.svg)
}

.cube._childrens:after {
  left: -15px;
  bottom: -88px;
  width: 88px;
  height: 51px;
  background-image: url(../img/pics/shadow1.png)
}

.cube._sofa:before {
  background-image: url(../img/pics/sofa.svg)
}

.cube._sofa:after {
  left: -100px;
  bottom: -100px;
  width: 300px;
  height: 70px;
  background-image: url(../img/pics/shadow2.png);
  -webkit-transform: rotate(48deg);
  transform: rotate(48deg)
}

.cube._bedrooms:before {
  background-image: url(../img/pics/bedroom.svg)
}

.cube._bedrooms:after {
  left: -92px;
  bottom: -54px;
  width: 160px;
  height: 82px;
  background-image: url(../img/pics/shadow3.png);
  -webkit-transform: rotate(48deg);
  transform: rotate(48deg)
}

@-webkit-keyframes hideLayer {
  100% {
    z-index: -1
  }
}

@keyframes hideLayer {
  100% {
    z-index: -1
  }
}
