
.about {
  &__top {
    box-shadow: -1px 2px 3px rgba(35, 32, 34, 0.1);
    background-color: #ffffff;
    padding: 42px;

    @include bp-small {
      padding: 20px;
    }
  }
  &-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }
  &__left {
    width: 51%;
    @include bp-large {
      width: 100%;
    }
  }
  &__right {
    text-align: center;
    @include bp-large {
      width: 100%;
    }
  }
  &__title {
    color: #232022;
    margin: 0px;
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  &__content {
    & p {
      margin: 20px 0px;
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__wrap {
    margin: 30px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    @include bp-medium {
      margin: 30px 0;
    }
  }
  &__slider {
    padding-top: 30px;
    height: 504px;
    width: 815px;
    box-shadow: -1px 2px 3px rgba(35, 32, 34, 0.1);
    background-color: #ffffff;

    @include bp-large {
      width: 100%;
      margin-bottom: 30px;
    }

    @include bp-medium {
      height: auto;
    }
  }
  &__aside {
    padding: 11px 30px;
    width: 359px;
    box-shadow: -1px 2px 3px rgba(35, 32, 34, 0.1);
    background-color: #ffffff;
    @include bp-large {
      width: 100%;
    }

    & > p {
      margin: 15px 0px 30px;
    }
  }
  .benefits {
    border-top: 1px solid #f1f0f1;
  }
}
