
.advantages {
  padding: 25px 30px 0;
  @include bp-medium {
    padding: 15px 15px 0;
  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 35px;
  }
  &__items {
      padding: 0;
      margin: 0;
      margin-bottom: -40px;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
  }
  &__item {
    width: 47%;
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 19px;

    @include bp-medium {
      width: 100%;
      margin-bottom: 20px;
    }
    &-img {
      height: 60px;
      margin-bottom: 10px;
      line-height: 60px;
    }
  }
}
