
.articles {
  padding: 15px;
  padding-bottom: 50px;
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);

  &__title {
    font-size: 32px;
    line-height: 36px;
    font-weight: $font-w-semibold;
    text-transform: uppercase;
  }

  &__header {

  }

  &__tags {
    margin: 24px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;

    @include bp-medium {
      margin: 15px 0;
      display: block;
    }

    .tags {
      margin-left: 12px;

      @include bp-medium {
        margin-top: 10px;
        margin-left: -7px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -5px;
    margin-bottom: -35px;

    & > * {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 80px;
    }

    &--mr {
      margin-top: 50px;
      margin-bottom: -50px;
    }

    @include bp-large {
      justify-content: space-around;
    }
  }
}

.article {

  &-item {
    position: relative;
    width: 252px;
    cursor: pointer;
    max-width: 100%;
    // border-bottom: 1px solid #959595;

    &__preview {
      position: relative;
    }

    &__img {
      vertical-align: middle;
      width: 100%;
    }

    &__date {
      color: #ffffff;
      padding: 5px 15px;
      font-size: 12px;
      background-color: #86bd44;
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    &__about {
      position: relative;
      z-index: 1;
    }

    &__title {}

    &__summary {
      color: #7f7f7f;
      font-size: 14px;
      line-height: 18px;
      height: 60px;
      overflow: hidden;
      margin-bottom: 8px;
    }

    &__link {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding: 0;
      font-size: 14px;
      line-height: 30px;
      font-weight: $font-w-regular;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: right;
      width: 100%;
      border-bottom: 1px solid #d7d7d7;
      transition: all 0.5s;


      &:after {
        content: ">>>";
        font-size: 18px;
        margin-left: 8px;
        color: #2f2f2f;
        border-bottom: 6px solid #86bd44;
      }
    }

    &:not(&--no-hover):hover {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -20px;
        right: -20px;
        z-index: 0;
        width: calc(100% + 40px);
        display: block;
        box-shadow: inset 0px 0px 0px 1px #86bd44, 0px 2px 3px 0px rgba(35, 32, 34, 0.1);


        @include bp-large {
          left: -10px;
          right: -10px;
          width: calc(100% + 20px);
        }
        @include bp-small {
          left: -20px;
          right: -20px;
          width: calc(100% + 40px);
        }
      }

      .article-item__preview {
        border: 1px solid transparent;
        height: 177px;
        width: calc(100% + 40px);
        margin-left: -20px;
        overflow: hidden;

        @include bp-large {
          width: calc(100% + 20px);
          margin-left: -10px;
        }
        @include bp-small {
          width: calc(100% + 40px);
          margin-left: -20px;
        }
      }

      .article-item__img {
        transform: scale(1.15);
        transition: transform 0.5s;

      }

      .article-item__link {
        margin-top: 15px;
        margin-bottom: 20px;
        color: $text-color;
        border-bottom: 1px solid #959595;

        &:hover {
          color: #86bd44;
        }
      }
      .article-item__title {
        color: $text-color;
      }
    }
  }
}
