.banner {
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding: 11px;
  width: 425px;
  color: $text-color;
  background-color: #ffffff;
  border: 1px solid #f6fbfd;
  box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
  text-decoration: none;

  @include bp-large {
    width: 48%;
  }
  @include bp-medium {
    width: 100%;
  }


  &__wrap {
    position: relative;
    padding: 85px 10px 65px;
    border: 1px solid #dfdfdf;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: border 0.5s;
    @include bp-large {
      padding: 65px 10px 40px;
    }
    &:hover {
      border: 1px solid #86bd44;
    }
  }

  &__header {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 48px;
    font-weight: $font-w-regular;
    text-transform: uppercase;
  }

  &__logo {
    position: absolute;
    // padding: 15px;
    top: 0;
    right: 0;
  }

  &__content {
    position: relative;
    padding: 5px 15px 25px;
    font-size: 20px;
    line-height: 30px;
    font-weight: $font-w-light;

    &:before {
      /* underheader line */
      content: "";
      position: absolute;
      width: 65px;
      height: 1px;
      left: 50%;
      top: 0px;
      background-color: #7f7f7f;
      box-shadow: 0px -1px 0px 0px #c8c7c5;
      transform: translateX(-50%);
    }
  }

  &__edit {
    position: relative;
    /* to elimenate wrap padding*/
    margin: 11px -12px -12px;
    font-size: 0px;
    border: 1px solid #86bd44;
    background-color: #f1f0f1;
  }

  &__link {
    box-sizing: border-box;
    display: inline-block;
    padding: 14px 25px;
    width: 50%;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &--edit {
      padding-left: 40px;
      background: inline("brush-green-icon.png") no-repeat center left 30px;
      background-size: 12px auto;
      @include bp-large {
        padding-left: 30px;
        background-position: 10% center;
      }
      @include bp-medium {
        padding-left: 25px;
        background-position: 8% center;
      }

      &:hover {
        background: inline("brush-white-icon.png") no-repeat center left 30px;
        background-size: 12px auto;
        background-color: #86bd44;
        @include bp-large {
          padding-left: 30px;
          background-position: 10% center;
        }
        @include bp-medium {
          padding-left: 25px;
          background-position: 8% center;
        }
      }
    }

    &:hover {
      color: #fff;
      background-color: #86bd44;
    }
  }

  &__label {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #232022;
    position: absolute;
    &--top {
      top: -1px;
      left: 30px;
    }
    &--left {
      bottom: 20px;
      left: -1px;
    }
    &--sm {
      font-size: 14px;
      line-height: 17px;
      font-weight: $font-w-semibold;
      text-align: center;
      padding: 9px 10px;
      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 100%;
        width: 0;
        height: 0;
        border-style: solid;
      }
      &::after {
        top: 0;
        border-width: 18px 12px 0 0;
        border-color: #232022 transparent transparent transparent;
      }
      &::before {
        bottom: 0;
        border-width: 18px 0 0 12px;
        border-color: transparent transparent transparent #232022;
      }
    }
    &--lg {
      width: 64px;
      font-size: 22px;
      padding: 15px 10px 10px;
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 100%;
        width: 0;
        height: 0;
        border-style: solid;
      }
      &::after {
        left: 0;
        border-width: 20px 32px 0 0;
        border-color: #232022 transparent transparent transparent;
      }
      &::before {
        right: 0;
        border-width: 0 32px 20px 0;
        border-color: transparent #232022 transparent transparent;
      }
    }
  }

  &--large {
    position: relative;
    box-sizing: border-box;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0px;
    width: 580px;
    min-height: 377px;

    background-color: #ddd;
    background: resolve("banner-bg-1.jpg") center center no-repeat;
    background-size: cover;
    border: none;
    z-index: 0;


    @include bp-large {
      width: 100%;
    }

    .banner {
      &__header {
        margin: 10px 0px;
      }
      &__content {
        padding: 15px;
      }
      &__wrap {
        position: relative;
        box-sizing: border-box;
        padding: 40px;
        margin: 25px;
        width: 395px;
        background-color: rgba(255, 255, 255, 0.8);
        &:hover {
          border: 1px solid #dfdfdf;
        }
        @include bp-medium {
          padding: 15px;
        }
        &:hover:before {
          border-color: #86bd44;
        }

        &:before {
          /* Outer border */
          content: "";
          position: absolute;
          top: -7px;
          left: -7px;
          width: calc(100% + 14px);
          height: calc(100% + 14px);
          border: 1px solid rgba(255, 255, 255, 0.8);
          transition: border 0.5s;
          z-index: -1;
        }
      }
    }
  }

  &--medium {
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    width: 295px;
    background-color: #ffffff;
    background: resolve("banner-bg-3.jpg") 95% 95% no-repeat;
    //background-size: 17px 17px;

    @include bp-large {
      width: 49%;
    }

    @include bp-medium {
      width: 100%;
    }

    .banner {
      &__header {
        margin: 10px 0px;
        margin-bottom: 20px;
      }
      &__content {
        padding: 5px;
        padding-bottom: 30px;
      }
      &__wrap {
        box-sizing: border-box;
        padding: 90px 25px 20px;
        min-height: 355px;
        border: 1px solid #dfdfdf;
        background-color: transparent;
        &:hover {
          border-color: #86bd44;
        }
      }
    }
  }

  &--small {
    box-sizing: border-box;
    padding: 12px;
    margin: 0px;
    width: 295px;
    background-color: #ffffff;

    @include bp-large {
      width: 49%;
    }

    @include bp-medium {
      width: 100%;
    }

    .banner {
      &__wrap {
        padding: 13px 15px 27px;
        border: 1px solid #dfdfdf;
        &:hover {
          border-color: #86bd44;
        }
      }

      &__header {
        margin: 10px 0px;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 31px;
        color: #2f2f2f;
      }

      &__content {
        padding: 9px;
        font-size: 18px;
        line-height: 22px;
        font-weight: $font-w-light;
        color: #2f2f2f;
      }
    }
  }

  &--small-img {
    background-image: resolve("banner-bg-2.jpg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 129px 129px;

    .banner {
      &__wrap {
        position: relative;
        margin: 5px;
        margin-right: 25%;
        padding: 7px 10px 23px;
        border: none;
        z-index: 0;

        &:hover:before {
          border-color: #86bd44;
        }

        &:before {
          /* Outer border */
          content: "";
          position: absolute;
          top: -5px;
          left: -5px;
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          border: 1px solid #dfdfdf;
          transition: border 0.5s;
          z-index: -1;
        }
      }
    }
  }

  &--float {
    float: right;
    margin-bottom: 35px;
  }

  &--margins {
    margin-left: 20px;
    margin-right: 20px;
  }
}
