
.benefits {

  &--bt {
    border-top: 1px solid #ffffff;
  }

  @include bp-medium {
    padding: 25px 0;
  }

  &__header {
    @include visually-hidden;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0px;
    padding: 19px 30px 19px;
    list-style-type: none;
  }

  &__item {
    width: 190px;
    margin: 0px;
    padding: 30px 0px 25px;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    text-align: center;
  }

  &__title {
    position: relative;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: $font-w-regular;

    &:before {
      content: "";
      position: absolute;
      width: 65px;
      height: 1px;
      left: 50%;
      bottom: 0px;
      background-color: #7f7f7f;
      transform: translateX(-50%);
    }
  }
}
