
.breadcrumbs {
  margin-bottom: 35px;

  @include bp-large {
    margin-bottom: 20px;
  }
  &__items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    padding-right: 30px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    &:after {
      content: "";
      position: absolute;
      top: 9px;
      right: 13px;
      width: 4px;
      height: 4px;
      background-color: #86bd44;
    }

    &:last-child {
      padding: 0px;

      &:after {
        display: none;
      }
    }
  }

  &__link {
    font-size: 13px;
    line-height: 16px;
    font-weight: $font-w-regular;
    color: #232022;
    text-decoration: none;

    &--active {
      color: #a1a0a1;
    }
  }
}
