
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 6px 20px;

  font-weight: $font-w-regular;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  white-space: normal;

  background-color: #86bd44;
  box-shadow: none;
  color: #ffffff;

  border: none;
  border-radius: none;
  cursor: pointer;


  &:hover {

  }

  &:active {

  }

  &:disabled {
    &:hover {

    }

    &:active {

    }
  }
}
