.catalog {

  &__nav {
    background-color: #f1f0f1;
  }

  &__title {
    margin: 30px 0px;
    font-size: 32px;
    line-height: 38px;
    font-weight: $font-w-semibold;
    color: #232022;
    text-transform: uppercase;
    &--high {
      margin: 45px 0px 40px;
    }
  }

  &__content {
    &--columns {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0px -15px 45px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px -15px 0px;
  }

  &__col {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 272px;

    .banner--small {
      @include bp-large {
        width: 100%;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 0px;
    width: 890px;
    float: left;
    text-align: center;
    margin-bottom: -25px;

    & > * {
      margin-bottom: 25px;
    }

    @include bp-large {
      justify-content: space-around;
      width: 100%;
      float: none;
    }
  }

  &__sidebar {
    margin: 0px;
    float: right;
    width: 250px;

    @include bp-large {
      width: 100%;
      float: none;
    }
  }

  &__sidebar-item {
    padding-top: 35px;
  }

  &__pagination {
    position: relative;
    margin: 10px 0px 45px;
  }

  &--white {
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
  }
}
