
.contacts {
  margin: 0px;
  padding: 27px 30px;
  list-style-type: none;
  border-top: 1px dashed #d7d7d7;
  border-bottom: 1px dashed #d7d7d7;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include bp-medium {
    padding: 15px;
  }

  &__item {
    width: 50%;
    @include bp-medium {
      width: 100%;
    }
    a {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__tel {
    padding-left: 32px;
    background: inline("phone-green-icon.png") left center no-repeat;
    background-size: 17px 17px;
    @include bp-medium {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__email {
    padding-left: 32px;
    background: inline("email-green-icon.png") left center no-repeat;
    background-size: 21px 14px;
    @include bp-medium {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
