.filter-form {

  @include bp-medium {
    margin-bottom: 15px;
  }
  &__section {
    display: block;
    margin: 0px;
    padding: 0px;
    border: none;

    &--inline {
      font-size: 0px;

      & > * {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
      }

      @include bp-medium {
        flex-wrap: wrap;
      }
    }
  }

  &__items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  &__item {
    @include bp-large {
      width: 32%;
      display: inline-block;
    }
    @include bp-medium {
      width: 100%;
    }
  }

  &__checkbox {
    display: inline;
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #9c9a9a;

    & [type=checkbox] {
      display: none;
    }

    & [type=checkbox]:checked + .filter-form__checkbox-label {
      color: #2f2f2f;

      &:before {
        background-color: #86bd44;
        border: 1px solid #86bd44;
      }
    }
  }

  &__checkbox-label {
    display: inline-block;
    position: relative;
    padding: 6px 6px 6px;
    padding-left: 25px;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      width: 13px;
      height: 13px;
      border: 1px solid #a1a1a1;
      transform: translateY(-50%);
    }
  }

  &__label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
  }

  &__select {
  }
}
