.form {
  box-sizing: border-box;
  padding: 30px;
  margin: 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);

  @include bp-small {
    padding: 25px 15px;
  }

  &--decor {
    border-top: 1px dashed #d7d7d7;
  }

  &--settings {
    padding: 25px 40px;
    padding-bottom: 25px;
    margin-bottom: 35px;
  }

  &--product {
    padding-top: 35px;
    margin-bottom: 35px;
    .form {
      &__header {
        margin-bottom: 40px;
      }
    }
  }

  &--login {
    padding-bottom: 50px;
  }

  &__header {
  }

  &__title {
    margin: 0px;
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 36px;
    font-weight: $font-w-semibold;
    color: #232022;
    text-transform: uppercase;
  }

  &__section {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border: none;
  }

  &__section-title {
    padding: 0;
    margin: 40px 0px 40px;
    font-size: 24px;
    line-height: 28px;
    font-weight: $font-w-regular;
    color: #2f2f2f;

    &--sub {
      margin: 10px 0px 30px;
      font-size: 20px;
      line-height: 22px;
    }

    &--sub-small {
      margin: 10px 0px 10px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__section-footer {
    margin: 10px 0px;
    &--right {
      text-align: right;
    }
  }

  &__items {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &--flex {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      & > * {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
      }
    }

    &--flex-around {
      justify-content: space-around;
    }

    &--flex-between {
      justify-content: space-between;
      @include bp-medium {
        justify-content: space-around;
      }
    }

    &--mb-35 {
      margin-bottom: -35px;
    }

    &--category-cols {
      margin-right: -5px;
      margin-left: -5px;
      margin-bottom: 5px;
      .form {
        &__item {
          box-sizing: border-box;
          margin-right: 5px;
          margin-left: 5px;
          margin-bottom: 18px;
          width: calc(100% / 3 - 10px);
        }
      }
    }

    &--input-rows {
      .form {
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: no-wrap;

          @include bp-small {
            flex-wrap: wrap;
          }

          & > * {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
          }
        }

        &__label {
          margin-top: 0px;
          margin-bottom: 0px;
          margin-right: 10px;

          @include bp-small {
            margin-bottom: 5px;
            width: 100%;
          }
        }
      }
    }

    &--input-width {
      .form {
        &__input {
          max-width: 60%;

          @include bp-small {
            max-width: 100%;
            width: 100%;
          }
          &--sub {
            max-width: 37%;

            @include bp-small {
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__item {
    padding: 0px;
    margin: 0px 0px 35px;
    position: relative;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: $font-w-regular;
    color: #2f2f2f;

    &--grey {
      font-size: 12px;
      color: #9c9a9a;
      text-transform: uppercase;
    }
  }

  &__hint {
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-w-regular;
    color: #9c9a9a;

    &--block {
      display: block;
      margin-top: 5px;
      margin-bottom: -5px;
    }
  }

  &__textarea,
  &__input {
    box-sizing: border-box;
    padding: 12px 15px;
    width: 100%;
    color: #a4a2a3;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    border: 1px solid #b3b3b3;
    background-color: #ffffff;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      color: #2f2f2f;
      border-color: #86bd44;
    }
  }

  &__input {
    &--lg {
      padding-top: 10px;
      padding-bottom: 14px;
      font-size: 16px;
      line-height: 18px;
    }

    &--w165 {
      width: 165px;
    }

    &--name {
      max-width: 330px;
    }

    &--readonly {
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding-right: 35px;
      margin-right: auto;
      width: auto;
      color: #2f2f2f;
      border: 1px solid transparent;

      &:active,
      &:focus,
      &:hover {
        outline: none;
        color: #2f2f2f;
        border-color: transparent;
      }

      .form {
        &__btn {
          position: absolute;
          top: 5px;
          right: 0;
        }
      }
    }

    &--email {
      padding-left: 50px;
      background: inline("email-grey-icon.png") no-repeat center left 20px;
      background-size: 22px 14px;
      &:active,
      &:focus,
      &:hover {
        background: inline("email-green-icon.png") no-repeat center left 20px;
        background-size: 22px 14px;
      }
    }

    &--email-black {
      padding-left: 50px;
      background: inline("email-black-icon.png") no-repeat center left 20px;
      background-size: 22px 14px;
    }

    &--login {
      padding-left: 50px;
      background: inline("email-grey-icon.png") no-repeat center left 15px;
      background-size: 21px 14px;
      &:active,
      &:focus,
      &:hover {
        background: inline("email-green-icon.png") no-repeat center left 15px;
        background-size: 21px 14px;
      }
    }

    &--password {
      padding-left: 50px;
      background: inline("lock-grey-icon.png") no-repeat center left 15px;
      background-size: 14px 18px;
      &:active,
      &:focus,
      &:hover {
        background: inline("lock-green-icon.png") no-repeat center left 15px;
        background-size: 14px 18px;
      }
    }

    &--name {
      padding-left: 50px;
      background: inline("user-grey-icon.png") no-repeat center left 15px;
      background-size: 15px 19px;
      &:active,
      &:focus,
      &:hover {
        background: inline("user-green-icon.png") no-repeat center left 15px;
        background-size: 15px 19px;
      }
    }

    &--tel {
      padding-left: 50px;
      background: inline("phone-grey-icon.png") no-repeat center left 20px;
      background-size: 17px 17px;
      &:active,
      &:focus,
      &:hover {
        background: inline("phone-green-icon.png") no-repeat center left 20px;
        background-size: 17px 17px;
      }
    }

    &--tel-black {
      padding-left: 50px;
      background: inline("phone-dark-icon.png") no-repeat center left 20px;
      background-size: 17px 17px;
    }


    &--company {
      padding-left: 50px;
      background: inline("company-grey-icon.png") no-repeat center left 15px;
      background-size: 21px 20px;
      &:active,
      &:focus,
      &:hover {
        background: inline("company-green-icon.png") no-repeat center left 15px;
        background-size: 21px 20px;
      }
    }

    &--hide {
      display: none;
    }
  }

  &__section {

    &--contacts {
      padding-bottom: 40px;
      margin-top: 40px;
      margin-bottom: 55px;
      border-bottom: 1px solid #959595;
      .form {
        &__section-title {
          display: block;
          margin: 35px 0px;
        }
        &__item {
          margin-bottom: 15px;
        }
      }
    }

    &--password {
      margin-bottom: 20px;
      .form {
        &__section-title {
          margin: 40px 0px 35px;
        }
        &__item {
          margin-bottom: 20px;
        }
        &__item:first-child {
          margin-bottom: 50px;
        }
        &__item:nth-child(n + 2) {
          margin-bottom: 25px;
          .form {
            &__label {
              margin-bottom: 5px;
            }
          }
        }
        &__item:last-child {
          margin-bottom: 0px;
        }
      }
    }

    &--description {
      margin-bottom: 45px;
    }

    &--photo {
      margin-bottom: 0px;
      .form {
        &__section-title {
          margin-bottom: 20px;
        }
        &__item {
          margin-bottom: 0px;
        }
      }
    }

    &--login {
      margin-bottom: 20px;
      .form {
        &__section-title {
          margin-bottom: 27px;
        }
        &__label {
          margin-bottom: 5px;
        }
        &__item {
          margin-bottom: 25px;
        }
      }
    }

    &--feedback {
      margin-bottom: 40px;
      .form {
        &__section-title {
          margin-bottom: 27px;
        }
        &__label {
          margin-bottom: 5px;
        }
        &__item {
          margin-bottom: 25px;
          &:nth-child(2) {
            margin-bottom: 35px;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }
        &__textarea {
          min-height: auto;
          height: 80px;
        }
      }
    }

    &--product {
      margin-bottom: 60px;
      .form {
        &__label {
          margin-bottom: 7px;
        }
      }
    }

    &--category {
      margin-bottom: 40px;
    }

    &--props {
      margin-bottom: 25px;
      .form {
        &__section-title {
          margin-bottom: 25px;
        }
        &__item {
          margin-bottom: 19px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  &__textarea {
    box-sizing: border-box;
    resize: none;
    height: auto;
    min-height: 200px;
  }

  &__err {
    position: relative;
    padding: 7px 15px;
    padding-left: 30px;
    margin-left: 5px;
    font-size: 12px;
    line-height: 18px;
    font-weight: $font-w-semibold;
    background-color: #fff;
    color: #c43938;
    text-transform: uppercase;
    text-align: center;
    border-left: none;
    background: inline("arrow-red.svg") no-repeat center center;
    background-size: 100% 100%;
    @include bp-medium {
      display: inline-block;
      margin: 10px 0px;
      font-size: 10px;
      line-height: 12px;
      width: 140px;
    }
    &-full {
      position: absolute;
      padding: 0 15px;
      bottom: 35px;
      right: 0;
    }
  }

  &__btn {
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin: 20px 0px;

    font-weight: $font-w-semibold;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-shadow: none;
    white-space: normal;

    background-color: transparent;
    box-shadow: none;
    color: #2f2f2f;

    border: none;
    border-radius: none;
    cursor: pointer;

    &--add {
      margin: 10px 0px;
      padding-left: 20px;
      background: inline("add-green-icon.png") left center no-repeat;
      background-size: 12px 12px;
    }

    &--edit {
      margin: 0px;
      width: 25px;
      height: 25px;
      font-size: 0px;
      background: inline("edit-green-icon.png") center center no-repeat;
      background-size: 18px 19px;
    }
  }

  &__submit {
    padding: 6px 22px;
    min-width: 146px;
    font-weight: $font-w-regular;
    text-transform: uppercase;
    background-color: #86bd44;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #86bd44;
    cursor: pointer;
    & + & {
      margin-top: 15px;
    }
    &--outline {
      background-color: #ffffff;
      color: $text-color;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-w-semibold;
    color: #2f2f2f;
    text-decoration: none;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px 0px;

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__postscript {
    margin: 15px 0px 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
  }

  &__category-control {
    display: inline-block;
    vertical-align: top;

    .form {
      &__radio,
      &__checkbox {
        display: none;
      }

      &__radio:checked + .form__radio-label {
        color: #ffffff;
        background-color: #86bf44;
        border: 1px solid #86bf44;

        & .form__radio-icon {
          fill: #ffffff;
        }

        &:hover {
          color: #ffffff;
        }

        &:hover .form__radio-icon {
          fill: #ffffff;
        }
      }

      &__radio-label {
        position: relative;
        display: block;
        box-sizing: border-box;
        padding: 17px 20px;
        padding-left: 95px;
        width: 243px;
        font-size: 16px;
        line-height: 21px;
        font-weight: $font-w-semibold;
        color: #2f2f2f;
        text-transform: uppercase;
        border: 1px solid #b3b3b3;
        cursor: pointer;

        &:hover {
          color: #86bf44;
          border: 1px solid #86bf44;
        }

        &:hover .form__radio-icon {
          fill: #86bf44;
        }
      }

      &__radio-icon {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        fill: #4b4b4b;
      }

      &__checkbox:checked + .form__checkbox-label {
        color: #ffffff;
        border: 1px solid #86bf44;
        background-color: #86bf44;
      }

      &__checkbox-label {
        display: inline-block;
        vertical-align: top;
        padding: 3px 10px;
        font-size: 12px;
        line-height: 17px;
        font-weight: $font-w-regular;
        color: #9c9a9a;
        border: 1px solid #b3b3b3;
        cursor: pointer;
      }
    }
  }


  &__upload-control {
    margin: 0px;
    margin-right: 27px;

    .form {
      &__upload-wrap {
        position: relative;
        box-sizing: border-box;
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        border: 1px solid #b3b3b3;
      }

      &__upload-btn {
        position: absolute;
        padding: 0px;
        margin: 0px;
        top: 0px;
        width: 25px;
        height: 25px;

        font-size: 0px;

        background-color: transparent;
        box-shadow: none;
        border: none;
        border-radius: none;
        cursor: pointer;

        &--reload {
          left: 0px;
          background: inline("update-icon.png") center center no-repeat;
          background-size: 10px 11px;
        }

        &--remove {
          right: 0px;
          background: inline("delete-icon.png") center center no-repeat;
          background-size: 10px 10px;
        }

        &--add {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          padding: 30px 0px 25px;
          margin-top: 20px;
          width: auto;
          height: auto;
          font-size: 14px;
          line-height: 18px;
          font-weight: $font-w-semibold;
          color: #2f2f2f ;
          background: inline("photo-green-icon.png") center 0% no-repeat;
          background-size: 24px 18px;
        }
      }

      &__upload-img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
      }

      &__upload-caption {
        margin: 5px 0px;
        font-size: 14px;
        line-height: 18px;
        font-weight: $font-w-semibold;
        color: #7f7f7f
      }
    }
  }
}
