.group {
  margin-bottom: 20px;

  &--collapsed {
    .group {
      &__btn {
        transform: rotate(180deg);
      }
      &__content {
        display: none;
      }
    }
  }

  &__header {
    position: relative;
    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;
  }

  &__btn {
    display: block;
    position: absolute;
    padding: 0px;
    top: 50%;
    right: 5px;
    width: 25px;
    margin-top: -12px;
    height: 25px;
    font-size: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background: inline("arrow-green.png") center center no-repeat;
    background-size: 14px 10px;
    transition: transform 0.5s;
  }

  &__title {
    margin: 10px 0px;
    font-size: 20px;
    line-height: 22px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
  }

  &__content {
    padding: 19px 0px 10px;

    &--border-bottom {
      border-bottom: 1px solid #959595;
    }
  }
}
