.header {

  &--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px 0px;
    margin: 0px 0px 30px;
    border-bottom: 1px solid #959595;
    background-color: transparent;

    @include bp-small {
      flex-direction: column;
      justify-content: center;
    }

    & > * {
      margin: 10px 0px;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    .header {
      &__title {
        font-size: 24px;
        font-weight: $font-w-regular;
        line-height: 28px;
        background-color: transparent;
        text-transform: none;
      }
    }
  }

  &--pt50 {
    padding-top: 50px;
  }
}
