
.link {
  display: inline-block;
  vertical-align: middle;
  color: #2f2f2f;
  font-size: 14px;
  line-height: 18px;
  font-weight: $font-w-regular;
  text-decoration: none;
  //text-align: center;

  &--grey {
    box-sizing: border-box;
    padding: 5px 6px;
    min-width: 30px;
    color: #7f7f7f;
    &:hover {
      color: #ffffff;
      background-color: #86bd44;
    }
  }

  &--green {
    color: #86bd44;
  }

  &--short {
    font-size: 0px;

    &:after {
      content: ">>>";
      font-size: 18px;
      border-bottom: 6px solid #86bd44;
    }
  }
}
