
.location {
  background-color: #fff;
  padding: 20px 0px;

  &__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: $font-w-semibold;
    text-transform: uppercase;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include bp-large {
      display: block;
    }
  }

  &__addres {
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-w-regular;
    margin-left: 50px;
    margin-bottom: 5px;
    @include bp-large {
      margin-left: 0;
    }
  }

  &__addres-label {
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #9c9a9a;
    text-transform: uppercase;
  }

  &__benefits {
    margin: 20px 0px;
  }
}
