.main-nav {
  padding: 0px;

  &__items {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;
    list-style-type: none;

    @include bp-medium {
      display: none;
      position: absolute;
      overflow: auto;
      left: 0;
      right: 0;
      top: 100%;
      width: 100%;
      z-index: 11;
      border: none;
      background-color: #fff;
      box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
    }
  }

  &__item {
    position: relative;
    padding: 6px 26px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    @include bp-large {
      padding: 0;
    }
    @include bp-medium {
      & + & {
        border-top: 1px solid rgba(#959595, 0.3);
      }
    }

    &:first-child {
      padding-left: 4px;
    }

    &:last-child {
      padding-right: 4px;
    }

    &--cur-tab {
      position: relative;

      .main-nav__link {
        position: relative;
        &:before {
          position: absolute;
          content: '';
          top: 50%;
          right: -20px;
          width: 14px;
          height: 10px;
          background: inline("arrow-green.png") center center no-repeat;
          background-size: 14px 10px;
          transform: translateY(-50%) rotate(180deg);
        }
        &:hover {
          color: inherit;
          background-color: transparent;
        }

        @include bp-large {
          &:before {
            display: none;
          }
        }
      }

      &::before,
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11.5px 10px 11.5px;
        border-color: transparent transparent #959595 transparent;
        position: absolute;
        bottom: 0;
        left: 0;right: 0;
        margin: auto;
        z-index: 20;
      }
      &::after {
        border-color: transparent transparent #171717 transparent;
        bottom: -1px;
      }
    }

    &--hover {
      padding-right: 5px;

      .main-nav__link {
        position: relative;
        padding-right: 35px;

        &:hover {
          color: #232022;
          background-color: transparent;
        }

        &:before {
          position: absolute;
          content: '';
          top: 50%;
          right: 15px;
          width: 14px;
          height: 10px;
          background: inline("arrow-green.png") center center no-repeat;
          background-size: 14px 10px;
          transform: translateY(-50%) rotate(180deg);
        }

        @include bp-medium {
          background: #fff;
        }
      }

      &:hover {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: -1px;
          bottom: -5px;
          left: -5px;
          right: -5px;
          background-color: #fff;
          box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
          z-index: 10;
        }

        @include bp-medium {
          &:after {
            display: none;
          }
        }

        .main-nav__link {
          position: relative;
          z-index: 15;
          &:before {
            transform: translateY(-50%);
          }
          @include bp-medium {
            &:before {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }
    }
  }

  &__link {
    display: block;
    box-sizing: border-box;
    padding: 6px 5px;
    min-width: 100px;
    font-size: 14px;
    line-height: 17px;
    color: #232022;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    @include bp-large {
      min-width: inherit;
      font-size: 13px;
    }
    @include bp-medium {
      padding: 10px 30px;
      text-align: left;
      font-size: 14px;
    }


    &:hover {
      color: #fcfcfc;
      background-color: #86bd44;
    }
  }


  &__popup {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    width: 595px;
    position: absolute;
    top: 100%;
    left: -5px;
    z-index: 99;
    padding: 35px 40px 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
    :hover > & {
        display: flex;
        @include bp-medium {
          display: block;
        }
    }
    @include bp-medium {
      display: block;
      position: static;
      padding: 0;
      box-shadow: none;

      width: auto;
    }
  }

  &__popup-items {
    display: inline-block;
    vertical-align: top;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 0;
    padding: 0;

    list-style-type: none;

    @include bp-medium {
      display: block;
    }
  }

  &__popup-item {
    @include bp-medium {
      margin-left: 30px;
    }
  }


  &__popup-link {
    position: relative;
    display: block;
    padding: 25px 20px 25px;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: rgba(35, 32, 34, 0.76);
    text-decoration: none;
    text-transform: uppercase;

    @include bp-medium {
      padding: 12px 10px 12px 55px;
    }

    &:hover {
      color: #232022;
      .main-nav {
        &__popup-icon {
          fill: #86bd44;
        }
      }
    }
  }

  &__popup-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    fill: #bfc2b9;
  }

  &--dark {
    .main-nav__link {
      min-width: inherit;
      color: #fff;
    }
  }

  &__tabs {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 20px 0px 40px;

    @include bp-medium {
      display: none;
    }
  }

  &__tab {
    .links__item {
      margin: 6px 0;
      min-width: calc(100% / 6);
      @include bp-large {
        width: calc(100% / 5.5);
      }
    }
    .links__link {
      color: rgba(#fff, 0.4);
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
  }
}
