.mapcenter {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  &__left {
    width: calc(100% - 272px);

    @include bp-medium {
      width: 100%;
    }
  }
  &__right {
    width: 272px;
    border-left: 1px solid #ebebeb;

    @include bp-medium {
      width: 100%;
      border-left: none;
      border-bottom: 1px solid #ebebeb;
    }
  }
  &__inner {
    padding: 30px 30px 0;

    @include bp-medium {
      padding: 15px 15px 0;
    }
  }
  &__list {
    padding: 25px 15px;
    max-height: 840px;
    overflow-y: auto;
    position: relative;

    @include bp-medium {
      padding: 15px;
      max-height: 300px;
    }

    &-title {
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
    }
    &-items {
      list-style-type: none;
      padding: 0;
      margin: 0 0 40px;

      @include bp-medium {
        margin-bottom: 20px;
      }
    }
    &__item {
      color: #7f7f7f;
      line-height: 30px;
      padding: 5px;
      cursor: pointer;
      &.active {
        color: #fff;
        background: #86bd44;
      }
    }
  }

  &__search-form {
    border: none;
    border-bottom: 1px solid #d7d7d7;
  }
}

.svg-info-title {
  font-size: 22px;
}

.genplan-path {
  fill: #d7d7d7;
  cursor: pointer;
  &.active,
  .path-group:hover & {
    fill: #86bd44;
  }
}

#third .st4,
#second .st5,
#first .st0{
  fill:#5B5B5B;
}
#third .st0,
#second .st2,
#first .st1{
  fill:#323232;
}
#first .st2{
  fill:#2F2F2F;
}
#third .st1,
#second .st3,
#first .st3{
  fill:#5A5A5A;
}
#third .st3,
#second .st1{
  fill:#FFFFFF;
}
#third .st2,
#second .st4{
  fill:#DDDDDC;
}
#third .st6{
  opacity:0.5;fill:#C0BFBF;
}
