.map {
  position: relative;
  height: 496px;
  box-shadow: 0px 2px 4px 0px rgba(35, 32, 34, 0.19);
  overflow: hidden;

  // & img {
  //   position: absolute;
  //   min-width: 1920px;
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
}
