
.page-footer {

  &__wrap {
    &--dark {
      padding: 30px 0px;
      color: #ffffff;
      background-color: #171717;
    }

    &--grey {
      font-size: 14px;
      padding: 15px 0;
      color: #a4a2a3;
      background-color: #f1f0f1;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    &--adaptive {
      @include bp-large {
        flex-direction: column;
      }
    }
  }

  & .search-form {
    flex-grow: 1;
    margin-right: 20px;

    @include bp-large {
      margin-right: 0px;
    }
  }

  &__contacts {
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-light;
    .text {
      color: #a3a2a3;
    }

    @include bp-large {
      margin-top: 25px;
      text-align: center;
    }
    @include bp-large {
      & > * {
        margin: 5px 10px;
      }
    }
  }
}
