.page-header {
  padding: 0px;
  margin: 0px;
  background-color: #f1f0f1;

  &__contacts {
    padding: 6px 0px 7px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-light;
    color: #a4a2a3;
    text-align: right;
    background-color: #2c2929;

    @include bp-medium {
      text-align: center;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    // ie11 flex-box bug
    //min-height: 124px;
    height: 124px;
    @include bp-large {
      position: relative;
      min-height: inherit;
      padding: 10px 0 0;
    }
    @include bp-medium {
      height: auto;
    }

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    &--adaptive {
      min-height: 110px;
      @include bp-large {
        flex-direction: column;
        height: auto;
      }
    }
  }

  &__logo {
    @include bp-large {
      width: 190px;
    }
    @include bp-medium {
      margin: 10px 0px;
    }
  }
  &__user {
    order: 1;
    @include bp-large {
      order: 0;
    }
    @include bp-medium {
      width: 49%;
      text-align: center;
    }
  }

  &__tab-nav {
    align-self: flex-end;
    margin-right: auto;
    margin-left: 100px;
    @include bp-large {
      text-align: center;
      width: 100%;
      margin-top: 15px;
      margin-left: auto;
    }

    @include bp-medium {
      padding: 0;
    }
  }
}
