
.page-content {
  @include bp-medium {
    overflow: hidden;
  }
  &__header {
    text-transform: uppercase;
    margin: 0px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__main {
    width: 806px;
    float: left;
    margin-bottom: 50px;
    box-shadow: -1px 2px 3px rgba(35, 32, 34, 0.1);
    background-color: #ffffff;

    &--svg {
      width: 862px;
    }
    @include bp-large {
      width: 100%;
      float: none;
    }

  }
  &__inner {
    padding: 30px;

    @include bp-medium {
      padding: 15px;
    }
  }
  &__sidebar {
    width: 362px;
    float: right;

    &--svg {
      width: 309px;
    }

    @include bp-large {
      float: none;
      width: 100%;
      margin: 10px 0;
    }


    &--narrow {
      width: 315px;
      margin-right: 7px;
      @include bp-large {
        float: none;
        // width: 315px;
        margin: 10px auto;
      }
    }
  }

  &__text {
    line-height: 1.2;

    &--grey p {
      color: #7f7f7f;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    h5 {
      margin: 40px 0px 28px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
    }

    strong {
      font-weight: 600;
    }

    img {
      margin: 30px 0px 69px;
    }

    ul {
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 10px;
        line-height: 21px;
        padding-left: 26px;
        position: relative;
        &::before {
          content: '■';
          color: #86bd44;
          font-size: 13px;
          position: absolute;
          left: 2px;
          top: -2px;
        }
      }
    }
  }
}
