.panel {
  position: relative;
  margin-bottom: 35px;
  min-width: 272px;

  &--collapsed {
    height: 395px;
    .panel {
      &__preview {
        height: 144px;
      }
      &__content {
        padding-bottom: 45px;
      }
      &__item {
        margin-bottom: -3px;
      }
    }
  }

  &--expand {
    z-index: 99;
    .panel {
      &__items--extra {
        //display: block;
      }
      &__more {
        transform: none;
      }
      &__wrap {
        box-shadow: inset 0px 0px 0px 1px #86bd44;
      }
    }
  }

  &__wrap {
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
    transition: box-shadow 1.5s;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 3px 5px 0px;
    padding-left: 25px;
    padding-right: 15px;
    height: 60px;
    border-bottom: 1px solid #d7d7d7;
    text-decoration: none;
    transition: border 0.5s ease;

    &:hover {
      border-bottom: 1px solid #86bd44;
      .panel {
        &__title,
        &__link {
          color: #86bd44;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 5px 25px;
    height: 60px;
    border-top: 1px solid #d7d7d7;
    text-decoration: none;
    transition: border 0.5s ease;

    &:hover {
      border-top: 1px solid #86bd44;
      .panel {
        &__title,
        &__link {
          color: #86bd44;
        }
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-right: 10px;
    fill: #86bd44;
  }

  &__title {
    display: inline-block;
    margin: 0px;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-w-semibold;
    color: #232022;
    text-transform: uppercase;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    transition: color 0.5s ease;
  }

  &__link {
    position: relative;
    display: block;
    margin-left: 10px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    font-size: 0px;
    line-height: 18px;
    font-weight: $font-w-regular;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    color: #2f2f2f;
    transition: color 0.5s ease;

    &:before {
      content: ">>>";
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 18px;
      line-height: 22px;
      transform: translateY(-50%);
    }
    &--back {
      margin-left: 0;
      &:before {
        content: "<<<";
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 18px;
        line-height: 22px;
        transform: translateY(-50%);
      }
    }
  }

  &__more {
    display: block;
    position: absolute;
    padding: 0px;
    bottom: 10px;
    left: 20px;
    width: 25px;
    height: 25px;
    font-size: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background: inline("arrow-green.png") center center no-repeat;
    background-size: 14px 10px;
    transform: rotate(180deg);
  }

  &__content {
    position: relative;
    padding: 20px 20px 33px;
  }

  &__text {
    margin: 5px 0px 20px;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-w-regular;

    &--large {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  &__items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    &--extra {
      display: none;
    }
  }

  &__item {
    margin-bottom: 2px;
  }

  &--inline {
    display: block;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    width: auto;
    font-size: 0px;

    .panel {
      &__wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        background-color: transparent;
        box-shadow: none;
      }

      &__header {
        display: inline-flex;
        padding: 0px;
        margin: 0px;
        min-height: 45px;
        line-height: 28px;
        border: none;

        &:hover {
          .panel {
           &__icon {
              fill: #86bd44;
            }
          }
        }
      }

      &__icon {
        margin: 0px;
        fill: #232022;
        transition: fill 0.5s ease;
      }

      &__title {
        margin: 5px 10px;
      }

      &__content {
        padding: 0px;
        margin: 0px -10px;
      }

      &__items {
        margin-left: 14px;
      }

      &__item {
        display: inline-block;
        vertical-align: top;
        margin: 0px 7px;
      }
    }
  }

  &--short {
    .panel {
      &__header {
        border: none;
      }
    }
  }
}
