
.popover {
    position: absolute;
    top: 0;left: 0;
    z-index: 10;
    box-shadow: -1px 2px 3px rgba(35, 32, 34, 0.1);
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    z-index: -1;
    transition: top 0.1s linear, left 0.1s linear, opactity 0.5s linear;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 12px 0 12px;
      border-color: #86bd44 transparent transparent transparent;
      position: absolute;
      bottom: -8px;
      left: 0;right: 0;
      margin: auto;
    }

    &-txt {
      position: absolute;
      top: 0;left: 0;
      z-index: 10;
      opacity: 0;
      z-index: -1;
      color: #ffffff;
      &.active {
          opacity: 1;
          z-index: 10;
      }
    }

    &.active {
        opacity: 1;
        z-index: 10;
    }
}
