
.postscript {
  padding: 0px;
  margin: 60px 0px 70px;

  &--store-post {
    margin: 25px 0px 75px;
    border-top: 1px solid #ffffff;
    .postscript {
      &__header {
        margin: 50px 0px 20px;
      }
    }
  }

  &--article-post {
    margin: 25px 0px 65px;
    .postscript {
      &__header {
        margin: 35px 0px 20px;
      }
    }
  }

  @include bp-large {
    margin: 45px 0px;
  }
  &__header {
    margin: 30px 0px 35px;
    font-size: 24px;
    line-height: 32px;
    font-weight: $font-w-regular;
    color: #2f2f2f;

    @include bp-large {
      margin: 25px 0px;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 20px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
  }
}
