
.products {
  padding: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
  overflow: hidden;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    @include bp-medium {
      padding-bottom: 20px;
      justify-content: space-around;
    }
  }

  &__header {
    border-bottom: 1px solid #d7d7d7;
  }

  &__title {
    margin: 10px 0px;
    font-size: 24px;
    line-height: 28px;
    font-weight: $font-w-regular;

    &--hidden {
      @include visually-hidden;
    }
  }

  &__filters {
    padding: 45px 0px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 0px;
    margin: 0px -20px;

    & > * {
      margin: 0px 20px 65px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }

    &--aling-left {
      & > *:last-child {
        margin-right: auto;
        @include bp-large {
          margin-right: 0px;
        }
      }
    }

    &--no-wrap {
      flex-wrap: nowrap;
      margin: 25px 30px 20px;

      @include bp-large {
        flex-wrap: wrap;
      }
      @include bp-medium {
        flex-wrap: wrap;
      }
    }
  }
}
