.product-post {
  margin-bottom: 60px;

  &__about {
    box-sizing: border-box;
    float: left;
    padding: 20px 30px 40px;
    width: 580px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);


    @include bp-medium {
      padding: 10px;
    }
    @include bp-large {
      float: none;
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__title {
    margin: 10px 0px 10px;
    font-size: 32px;
    line-height: 38px;
    font-weight: $font-w-semibold;
    color: #232022;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 10px 0px 20px;
    font-size: 24px;
    line-height: 26px;
    font-weight: $font-w-regular;
    color: #232022;
  }

  &__price {
    font-size: 24px;
    line-height: 26px;
    font-weight: $font-w-bold;
    color: #494544;
    text-transform: uppercase;
  }

  &__tags {
    margin: 30px 0px 20px;
  }

  &__desc {

    &-title {
      margin: 25px 0px 20px;
      font-size: 24px;
      line-height: 26px;
      font-weight: $font-w-regular;
      color: #2f2f2f;
    }

    &-text {
      margin: 10px 0px;
      font-size: 16px;
      line-height: 20px;
      font-weight: $font-w-regular;
      color: #2f2f2f;
    }
  }

  &__preview {
    box-sizing: border-box;
    float: right;
    margin-bottom: 25px;
    width: 590px;
    height: 390px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);

    @include bp-medium {
      height: auto;
    }

    @include bp-large {
      float: none;
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__slider {
    padding-top: 30px;
    height: 390px;

    @include bp-medium {
      height: auto;
    }

    & .slider__controls {
      height: 65px;
    }
    img {
      @media only screen and (max-width: 500px) {
        width: 300px;
      }
    }
  }

  &__store {
    box-sizing: border-box;
    float: right;
    width: 590px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);

    @include bp-large {
      float: none;
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__store-about {
    padding: 10px 30px 25px;

    @include bp-medium {
      padding: 10px;
    }
  }

  &__store-contacts {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    width: 100%;
    margin: 0px;
    padding: 0px;

    border-top: 1px dashed #d7d7d7;
    list-style-type: none;
  }

  &__contacts-item {
    padding: 20px;
    width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-left: 1px solid #d7d7d7;
    text-align: center;

    @include bp-medium {
      padding: 10px;
    }

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    &:first-child {
      border-left: none;
    }
  }

  &__contacts-label {
    margin: 5px 0px 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2b2828;
    text-transform: uppercase;

    @include bp-medium {
      margin: 12px 0px 20px;
    }
  }

  &__promo {
    font-size: 15px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
  }

  &__promo-label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: left;
    padding: 5px 15px;
    margin-right: 30px;
    width: 40px;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #232022;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &::after {
      top: 0;
      border-width: 18px 12px 0 0;
      border-color: #232022 transparent transparent transparent;
    }
    &::before {
      bottom: 0;
      border-width: 18px 0 0 12px;
      border-color: transparent transparent transparent #232022;
    }
  }
}
