
.product-item {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  max-width: 270px;
  text-align: left;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  &:hover {
    color: #86bd44;
  }
  &.slick-slide {
     margin: 0 24px;
  }

    @include bp-large {
      max-width: 250px;
    }
    @include bp-small {
      max-width: 270px;
    }

  &__preview {
    position: relative;
    box-sizing: border-box;
    margin: 0px auto;
    width: 270px;
    height: 280px;
    border: 1px solid #d7d7d7;
    transition: border 0.2s ease-out;

    @include bp-large {
      width: 250px;
    }
    @include bp-small {
      width: 270px;
    }
  }

  &__viewers {
    position: absolute;
    padding-left: 25px;
    left: 15px;
    bottom: 30px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    text-transform: uppercase;
    background: inline("eye-icon.png") 0% center no-repeat;
    background-size: 18px 12px;
  }

  &__img {
    display: block;
    width: 270px;
    height: auto;
    margin: 0 auto;

    @include bp-large {
      width: 250px;
    }
    @include bp-small {
      width: 270px;
    }
  }

  &__about {
    position: relative;
    box-sizing: border-box;
    margin: 0px auto;
    overflow: hidden;
    z-index: 1;
  }

  &__title {
    margin: 10px 0px;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-weight: $font-w-regular;
    color: rgba(73, 69, 68, 0.63);
  }

  &__price {
    margin: 12px 0px;
    font-size: 18px;
    line-height: 22px;
    font-weight: $font-w-bold;
    color: #494544;
    text-transform: uppercase;
  }

  &__edit {
    position: relative;
    border: 1px solid #86bd44;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0px;
    margin-top: -25px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 30px;
    font-weight: $font-w-regular;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    transition: all 0.5s;


    &:after {
      content: ">>>";
      font-size: 18px;
      margin-left: 8px;
      color: #2f2f2f;
      border-bottom: 6px solid #86bd44;
    }

    &--edit {
      padding: 14px 20px;
      padding-left: 38px;

      &:hover {
        background-color: #86bd44;
      }
    }
  }

  &__btn {
    box-sizing: border-box;
    display: inline-block;
    padding: 16px 15px;
    width: 35%;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: #ffffff;
      background-color: #86bd44;
    }

    &--edit {
      padding-left: 35px;
      width: 65%;
      color: #86bd44;
      background: inline("brush-green-icon.png") no-repeat center left 15px;
      background-size: 12px auto;

      &:hover {
        padding-left: 35px;
        color: #ffffff;
        background: inline("brush-white-icon.png") no-repeat center left 15px;
        background-size: 12px auto;
        background-color: #86bd44;
      }
    }
  }

  &__moder {
    font-size: 14px;
    border-top: 1px solid #c43938;
    padding: 15px 0;
    &-res {
      color: #c43938;
      text-transform: uppercase;
    }
    &-name {
      font-size: 16px;
      padding: 10px 0;
    }
    &-date {
      font-size: 14px;
      color: #7f7f7f;
    }
  }

  &:not(&--no-hover):hover {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -20px;
      right: -20px;
      z-index: 0;
      width: calc(100% + 40px);
      display: block;
      box-shadow: inset 0px 0px 0px 1px #86bd44, 0px 2px 3px 0px rgba(35, 32, 34, 0.1);


      @include bp-large {
        left: -10px;
        right: -10px;
        width: calc(100% + 20px);
      }
      @include bp-small {
        left: -20px;
        right: -20px;
        width: calc(100% + 40px);
      }
    }

    .product-item__preview {
      border: 1px solid transparent;
      height: 280px;
      width: calc(100% + 40px);
      margin-left: -20px;
      overflow: hidden;

      @include bp-large {
        width: calc(100% + 20px);
        margin-left: -10px;
      }
      @include bp-small {
        width: calc(100% + 40px);
        margin-left: -20px;
      }
    }

    .product-item__img {
      width: 270px;
      transform: scale(1.15);
      transition: transform 0.5s;

    }

    .product-item__link {
      margin-top: -5px;
      margin-bottom: 20px;
      color: $text-color;
      border-bottom: 1px solid #959595;

    }
    .product-item__title {
      color: $text-color;
    }
  }
}
