
.promotions {
  padding: 0px;
  background-color: #f1f0f1;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    @include bp-medium {
      padding-bottom: 20px;
      justify-content: space-around;
    }
  }

  &__header {
    background-color: #ffffff;
    border-bottom: 1px solid #d7d7d7;
  }

  &__content {
    padding-top: 35px;
    border-top: 1px solid #ffffff;
  }

  &__title {
    margin: 30px 0px 35px;
    font-size: 32px;
    line-height: 38px;
    font-weight: $font-w-semibold;
    text-transform: uppercase;

    &--hidden {
      @include visually-hidden;
    }
  }

  &__filters {
    margin: 0px 0px 30px;
    padding: 45px 0px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
  }

  &__list {
    font-size: 0px;
    margin: 0px -20px;
    max-width: 930px;
    float: left;
    text-align: center;

    @include bp-large {
      width: 100%;
      float: none;
      margin: 0;
    }

    & .banner {
      display: inline-block;
      vertical-align: top;
      margin: 25px 20px;

      @include bp-large {
        margin: 10px 1%;
      }
    }

    &--mb70 {
      margin-bottom: 70px;
    }
  }

  &__sidebar {
    margin: 25px 0px;
    float: right;
    width: 250px;
    @include bp-large {
      float: none;
      width: 100%;
      margin: 10px 0;
    }
  }

  &__hot {
    @include clearfix;
    margin: 30px 0px 50px;

    & .banner:nth-child(1) {
      float: left;
      @include bp-large {
        margin-bottom: 16px;
      }
    }

    & .banner:nth-child(2) {
      float: left;
      margin: 0px 15px;

      @include bp-large {
        margin: 0;
      }

      @include bp-medium {
        margin-bottom: 16px;
      }
    }

    & .banner:nth-child(3) {
      float: right;
      margin-bottom: 15px;
    }

    & .banner:nth-child(4) {
      float: right;
    }

    &--mb70 {
      margin-bottom: 70px;
    }
  }

  &__pagination {
    margin: 25px 0px;
  }

  &-item {
    text-align: center;
    margin-top: 25px; 
  }

  &-post {
    &__content {
      ul {
        margin: 50px 0;
      }
      p {
        color: #7f7f7f;
      }
    }
    &__date {
      font-size: 12px;
      line-height: 17px;
      padding: 5px 15px;
      color: #fff;
      background-color: #86bd44;
    }
  }
}
