.promotion-post {
  box-sizing: border-box;
  padding: 0px 30px 35px;
  margin: 0px 0px 80px;
  max-width: 850px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);

  @include bp-medium {
    padding: 0px 15px 15px;
  }
  &--left {
    float: left;

    @include bp-large {
      float: none;
      width: 100%;
    }
  }

  &__thumbnail {
    position: relative;
    margin: 0px -30px;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
    @include bp-medium {
      margin: 0px -15px;
    }
  }

  &__date {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    background-color: #86bd44;
  }

  &__title {
    margin: 40px 0px 20px;
    font-size: 32px;
    line-height: 38px;
    font-weight: $font-w-semibold;
    color: #232022;
    text-transform: uppercase;
  }

  &__content {
    margin: 30px 0px 20px;

    & ul {
      margin: 45px 0px;
    }
  }
}
