
.promotion-slider {
  position: relative;
  margin-top: -35px;
  margin-bottom: 38px;
  @include bp-large {
    margin-top: 0px;
  }
  &__mouse {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: block;
    width: 40px;
    height: 60px;
    z-index: 99;
    -webkit-animation: mouseMove 2000ms infinite;
    animation: mouseMove 2000ms infinite;

    @include bp-large {
      display: none;
    }

    @include bp-large-slider  {
      -webkit-animation: mouseMoveL 2000ms infinite;
      animation: mouseMoveL 2000ms infinite;
    }

    svg {
      width: 100%;
      height: 100%;
      .cls-1 {
        -webkit-animation: changeColor 2000ms infinite;
        animation: changeColor 2000ms infinite;
      }
    }
  }
}


@-webkit-keyframes mouseMove {
  0%   { bottom: 0%; }
  50% { bottom: -5%; }
  100% { bottom: 0%; }
}

@keyframes mouseMove {
  0%   { bottom: 0%; }
  50% { bottom: -5%; }
  100% { bottom: 0%; }
}


@-webkit-keyframes mouseMoveL {
  0%   { bottom: -20%; }
  50% { bottom: -15%; }
  100% { bottom: -20%; }
}

@keyframes mouseMoveL {
  0%   { bottom: -20%; }
  50% { bottom: -15%; }
  100% { bottom: -20%; }
}

@keyframes changeColor {
  0%   { stroke: #87bc44; }
  50% { stroke: #282828; }
  100% { stroke: #87bc44; }
}



.cls-1 {
  fill: none;
  stroke: #87bc44;
  stroke-linecap: round;
  stroke-linejoin: round;
}
