.slider {
  padding: 0px;
  margin: 0;
  width: 100%;
  background-color: #fff;

  &__items {
    @include clearfix;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }
  &__item {
    float: left;
    margin: 0px 8px;
    padding: 0;

    &:first-child {
      margin-left: 27px;

      @include bp-medium {
        margin-left: 0;
      }
    }
    &:last-child {
      margin-right: 27px;

      @include bp-medium {
        margin-right: 0;
      }
    }

    & img {
      display: block;
      margin: 0;

      @include bp-medium {
        width: auto !important;
        height: 180px !important;
      }
    }
  }
  &__controls {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 0px 12px;

    &::before {
      content: '';
      position: absolute;
      right: 25px;
      top: 57%;
      height: 1px;
      width: calc(100% - 50px);
      background-color: #9d9d9d;
    }
  }
  &__btns {
    @include clearfix;
    position: relative;
    top: 40%;
    padding: 0px 15px;
    width: 140px;
    background-color: #fff;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 32px;
      height: 6px;
      background-color: #86bd44;
      transform: translate(-50%, -50%);
    }
  }
  &__btn {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 20px;
    cursor: pointer;

    &:before {
      content: ">>>";
      font-size: 18px;
      line-height: 20px;
      font-weight: $font-w-regular;
      color: #2f2f2f;
    }
    &--prev {
      float: left;
      &:before {
        content: "<<<";
      }
    }
    &--next {
      float: right;
      &:before {
        content: ">>>";
      }
    }
  }
}
