
.stores {
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }
  }

  &__header {
    padding-bottom: 27px;
    background-color: #f1f0f1;
  }

  &__title {
    margin: 35px 0px 32px;
    font-size: 32px;
    line-height: 38px;
    font-weight: $font-w-semibold;
    color: #232022;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 31px 0px 20px;
    font-size: 28px;
    line-height: 34px;
    font-weight: $font-w-semibold;
    color: #2f2f2f;
    text-transform: uppercase;
    background-color: transparent;
  }

  &__search {
    width: 33%;
    border: none;
  }

  &__paginator {
    width: 63%;
    font-size: 0px;
    text-transform: uppercase;
    text-align: right;

    @include bp-large {
      width: 100%;
      text-align: left;
      margin: 10px -5px;
    }

    @include bp-medium {
      width: 100%;
    }
    & > * {
      margin: 0px -2px;
      text-align: center;
    }
  }

  &__content {
    background-color: #ffffff;
    overflow: hidden;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px 67px;

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }
  }

  &__items {
    margin: 0px;
    max-width: 900px;
    float: left;

    @include bp-large {
      width: 100%;
      float: none;
      margin: 0;
    }
  }

  &__items-pagination {
    margin-bottom: 50px;
  }

  &__sidebar {
    margin: 0px;
    float: right;
    width: 250px;
    @include bp-large {
      float: none;
      width: 100%;
      margin: 10px 0;
    }
  }

  &__link {
    display: block;
    margin: 5px;
    margin-bottom: -10px;
    width: 163px;
    height: 127px;
    line-height: 127px;
    text-align: center;

    @include bp-large {
      margin: 0;
    }

    @include bp-medium {
      width: 50%;
    }

    &:hover {
      box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
  }
}
