.store-form {
  padding-bottom: 80px;
  background-color: #ffffff;

  & [type=file] {
    display: none;
  }

  &__section {
    padding: 0px;
    margin: 0px;
    border: none;
  }

  &__header {

  }

  &__title {
    margin: 0px;
    font-size: 24px;
    line-height: 32px;
    font-weight: $font-w-regular;
    color: #2f2f2f;

    &--hidden {
      @include visually-hidden;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
  }

  &__upload {
    margin: 55px 0px 40px;
  }

  &__wrap {

  }

  &__message {
    box-sizing: border-box;
    padding: 20px;
    margin: 30px 0px;
    min-width: 280px;
    height: 165px;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
    resize: none;
    border: 1px solid #b3b3b3;
    background-color: #ffffff;
  }
}
