.store-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 45px;
  border: 1px solid #d7d7d7;

  &:hover {
    border: 1px solid #86bd44;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 120px;
  }

  &__about {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 10px;

    @include bp-large {
      padding: 20px;
      width: calc(100% - 170px);
    }
    @include bp-medium {
      width: 100%;
    }
  }

  &__title {
    margin: 15px 0px 5px;
    font-size: 20px;
    line-height: 24px;
    font-weight: $font-w-semibold;
    color: #2f2f2f;
  }

  &__text {
    margin: 5px 0px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
  }

  &__tags {
    margin: 28px 0px 12px;
  }

  &__contacts {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    width: 100%;
    margin: 0px;
    padding: 0px;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-top: 1px dashed #d7d7d7;
    list-style-type: none;
  }

  &__contact-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    width: 224px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border-left: 1px solid #d7d7d7;
    margin: 0px -1px;
    margin-bottom: -1px;

    @include bp-large {
      border-left: none;
    }

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }

    &:first-child {
      border-left: none;
    }
  }
}
