.store-post {

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @include bp-medium {
      justify-content: space-around;
    }

    .panel {
      @include bp-large {
        min-width: inherit;
        width: 32%;
      }
      @include bp-medium {
        width: 255px;
      }
    }

    & > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }
  }

  &__about {
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0px 2px 3px 0px rgba(35, 32, 34, 0.1);
  }

  &__header {

  }

  &__title {
    margin: 30px 0px;
    font-size: 32px;
    line-height: 38px;
    font-weight: $font-w-semibold;
    color: #2f2f2f;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 40px 0px 15px;
    font-size: 24px;
    line-height: 28px;
    font-weight: $font-w-regular;
    color: #232022;
    &--categories {
      margin: 60px 0px 35px;
    }
  }

  &__thumbnail {
    position: relative;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__logo {
    position: absolute;
    margin: 17px 20px;
    bottom: 0;
    left: 0;

    @include bp-large {
      margin: 10px;
      width: 120px;
      height: auto;
    }

    @include bp-medium {
      margin: 10px;
      width: 100px;
      height: auto;
    }
  }

  &__tags {
    margin: 35px 0px 20px;
  }

  &__wrap {
    float: left;
    max-width: 930px;

    @include bp-large {
      max-width: 560px;
    }

    @include bp-medium {
      max-width: 560px;
      width: 100%;
      float: none;
    }
  }

  &__contacts {
    float: right;
    padding: 35px 0px;
    width: 185px;
    text-align: center;

    & > .btn {
      margin-bottom: 27px;
      width: 100%;
    }

    @include bp-medium {
      float: left;
    }

    @include bp-small {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__contacts-label {
    margin: 5px 0px 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2b2828;
    text-transform: uppercase;
  }

  &__content {
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
    font-weight: $font-w-regular;
    color: #2f2f2f;

    & p {
      margin: 20px 0px 25px;
    }
  }

  &__promotions {
    padding: 0px 0px 45px;
  }

  &__categories {
    padding-bottom: 0px;
  }
}
