.sub-nav {

  &__items {
    margin: 0px -15px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;

    @include bp-medium {
      text-align: center;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;

    @include bp-medium {
      padding: 0px;
    }
  }

  &__link {
    display: block;
    padding: 26px 15px;
    font-size: 14px;
    line-height: 22px;
    font-weight: $font-w-semibold;
    color: #2f2f2f;
    text-decoration: none;
    text-align: center;

    &--active {
      position: relative;
      color: #86bd44;

      &::before,
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11.5px 10px 11.5px;
        border-color: transparent transparent #d7d7d7 transparent;
        position: absolute;
        bottom: 0;
        left: 0;right: 0;
        margin: auto;
        z-index: 20;
      }
      &::after {
        border-color: transparent transparent #fff transparent;
        bottom: -1px;
      }
    }
    &--g {

      &::after {
        border-color: transparent transparent #f1f0f1 transparent;
      }
    }
  }

  &__hint {
    display: inline-block;
    vertical-align: top;
    padding: 0px 10px;
  }
}
