
.tab-nav {
  display: inline-block;
  margin: 0px 10px;

  &__items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
  }

  &__link {
    display: block;
    box-sizing: border-box;
    padding: 26px 20px;
    /* eleminate double side borders*/
    margin: 0px -1px;
    min-width: 163px;
    font-size: 14px;
    line-height: 19px;
    font-weight: $font-w-regular;
    color: #9c9a9a;
    background-color: #f1f0f1;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid #d7d7d7;
    border-bottom: none;

    @include bp-medium {
      min-width: inherit;
      padding: 15px 13px;
    }

    &--active {
      color: #232022;
      background-color: #ffffff;
      border: none;
    }
  }
}
