.table {
  display: block;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;

  &__row {
  }

  &__col {
    padding: 7px 0px 11px;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #2f2f2f;

    &--header {
      padding: 9px 0px;
      padding-right: 90px;
      font-size: 12px;
      line-height: 18px;
      color: #9c9a9a;
      text-transform: uppercase;
      text-align: left;

      @include bp-medium {
        padding-right: 15px;
      }
    }
  }
}
