.tabs {
  &__caption {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 8px 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
      width: 33%;
      text-align: center;
      cursor: pointer;
      padding: 8px;
      + li {
        border-left: 1px solid #d7d7d7;
      }
      &.active {
        color: #86bd44;
      }
    }
  }
  &__content {
    opacity: 0;
    position: absolute;
    min-height: 600px;
    transition: opacity 0.5s;
    z-index: -11;
    &.active {
      opacity: 1;
      position: static;
      z-index: 11;
    }
  }
}


svg {
  max-width: 590px;
}
