
.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* article post conflict */
  margin: 0;
  padding: 0;
  &__item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 13px;
    list-style-type: none;
    white-space: nowrap;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__more {
    a {
      margin-top: 15px;
    }
  }

  &__link {
    display: block;
    color: #9c9a9a;
    padding: 4px 14px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    border: 1px solid #9c9a9a;

    &:hover {
      color: #fff;
      background-color: #9c9a9a;
    }

    &--more {
      padding-left: 5px;
      font-size: 14px;
      color: #86bd44;
      border: none;

      &:hover {
        color: #86bd44;
        background-color: transparent;
      }
    }
  }
}
