
.text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  font-weight: $font-w-light;
  color: #2f2f2f;
  text-decoration: none;

  &--mr {
    margin-left: 20px;
    margin-right: 5px;
  }

  &--mr-b {
    margin-left: 25px;
    margin-right: 15px;
    @include bp-medium {
      margin: 10px 0px;
    }
  }

  &--big {
    font-size: 16px;
    line-height: 20px;
  }

  &--clock {
    padding-left: 25px;
    background: inline("clock-icon.png") left center no-repeat;
    background-size: 16px 16px;

    &-dark {
      padding-left: 25px;
      background: inline("clock-dark-icon.png") left center no-repeat;
      background-size: 16px 16px;
    }

    @include bp-large {
      span {
        display: none;
      }
    }
  }

  &--label {
    color: #9c9a9a;
    font-size: 14px;
    text-transform: uppercase;
  }

  &--location {
    padding-left: 20px;
    background: inline("location-icon.png") left center no-repeat;
    background-size: 10px 16px;

    &-dark {
      padding-left: 20px;
      background: inline("location-dark-icon.png") left center no-repeat;
      background-size: 10px 16px;
    }

    @include bp-large {
        span {
          display: none;
        }
    }
    &--grey {
      color: #9c9a9a;
      padding-left: 20px;

      @include bp-large {
        padding-left: 20px;
        width: auto;
        white-space: normal;
      }
    }
  }

  &--green {
    color: #86bd44;
  }

  &--white {
    color: #a4a2a3;
  }

  &--bold {
    font-weight: 600;
  }

  &--tel-dark {
    padding-left: 25px;
    background: inline("phone-dark-icon.png") left center no-repeat;
    background-size: 17px 17px;
  }

  &--clock-dark {
    padding-left: 25px;
    padding-right: 10px;
    background: inline("clock-dark-fill-icon.png") left center no-repeat;
    background-size: 17px 17px;
  }

  &--tel-green {
    padding-left: 25px;
    padding-right: 10px;
    background: inline("phone-green-icon.png") left 2px no-repeat;
    background-size: 17px 17px;
  }

  &--clock-green {
    padding-left: 25px;
    padding-right: 10px;
    background: inline("clock-green-icon.png") left center no-repeat;
    background-size: 16px 16px;
  }

  &--mail-green {
    padding-left: 25px;
    padding-right: 10px;
    background: inline("email-green-icon.png") left 5px no-repeat;
    background-size: 21px 14px;
  }

  &--location-grey {
    padding-left: 20px;
    padding-right: 10px;
    color: #9c9a9a;
    background: inline("location-grey-icon.png") left center no-repeat;
    background-size: 10px 16px;
  }

  &--banner {
    display: block;
    line-height: 1.4;
    padding: 20px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #3e3b3b;
    span {
      font-size: 20px;
    }
  }

}
