.toggle {
  width: 30px;
  display: none;
  cursor: pointer;

  @include bp-medium {
    display: block;
  }

  &__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $text-color;
    & + & {
      margin-top: 3px;
    }
  }


}
