.upload-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 270px;
  border: 1px dashed #b3b3b3;
  cursor: pointer;

  &__dialog {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 35px 25px 20px;
    margin: 0 auto;
    text-align: center;
    background: inline("photo-green-icon.png") center 13px no-repeat;
    background-size: 24px 18px;

    @include bp-large {
      align-self: flex-start;
    }
  }

  &__title {
    margin: 3px 0px;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-w-semibold;
    color: #2f2f2f;
  }

  &__hint {
    font-size: 14px;
    line-height: 16px;
    font-weight: $font-w-regular;
    color: #2f2f2f;
  }

  &--logo {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 17px;
    min-height: auto;
    .upload-img {
      &__dialog {
        padding: 35px 20px 20px;
      }
    }
  }

  &:hover {
    border: 1px dashed #85bb42;
  }
}
