.user {

  &--w420 {
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
  }

  &--w580 {
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    border-bottom: 1px solid #959595;
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 12px;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-w-regular;
    @include bp-medium {
      padding: 5px;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 5px 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: $font-w-regular;
    color: #86bd44;
    text-transform: uppercase;
    text-decoration: none;

    &--settings {
      padding-left: 20px;
      padding-right: 0px;
      font-weight: $font-w-semibold;
      background: inline("settings-green-icon.png") left center no-repeat;
      background-size: 18px 17px;
    }

    &--home {
      position: relative;
      padding: 10px;
      padding-left: 45px;
      color: #232022;

      @include bp-medium {
        padding: 5px;
        padding-left: 35px;
      }

      &:before {
        content: '<<<';
        position: absolute;
        bottom: -1px;
        left: 0px;
        padding-bottom: 5px;
        font-size: 18px;
        line-height: 18px;
        color: #2f2f2f;
        border-bottom: 6px solid #86bd44;
      }
    }
  }
}
