
html {
  font-size: 10px
}

* {
  box-sizing: border-box;
  border-radius: 0
}

:before {
  box-sizing: border-box
}

:after {
  box-sizing: border-box
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-w-regular;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg-color;
  margin: 0px;
  padding: 0px;
  min-width: $mobile-max-width;
}


.mt15 {
  margin-top: 15px;
}

.hidemore-block {
  display: none;
}

.visually-hidden {
  @include visually-hidden;
}
