<svg version="1.1" class="genplan--js" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 40 467.5 566" xml:space="preserve" id="third">
  <g id="zzend">
  	<g>
  		<path class="st0" d="M392.5,103.7h-1.1v-8.3h-2.9v-1h7v1h-2.9V103.7z"/>
  		<path class="st0" d="M395.5,96.8h1.1l1.5,4c0.3,0.9,0.5,1.6,0.6,2h0.1c0.1-0.2,0.2-0.6,0.3-1.1s0.8-2.1,1.7-4.8h1.1l-3,7.9
  			c-0.3,0.8-0.6,1.3-1,1.7s-0.9,0.5-1.5,0.5c-0.3,0-0.6,0-1-0.1v-0.8c0.2,0.1,0.5,0.1,0.8,0.1c0.7,0,1.2-0.4,1.5-1.2l0.4-1
  			L395.5,96.8z"/>
  		<path class="st0" d="M407.5,103.7l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H407.5z M405.1,103
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S404.7,103,405.1,103z"/>
  		<path class="st0" d="M415.6,103.7h-1.1v-6.1h-2.1c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V103.7z"/>
  		<path class="st0" d="M420.8,103.8c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.6c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C421.7,103.8,421.2,103.8,420.8,103.8z M420.5,97.5c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S421,97.5,420.5,97.5z"/>
  		<path class="st0" d="M429.8,97.7h-2.3v6.1h-1.1v-6.1h-2.2v-0.9h5.5V97.7z"/>
  	</g>
  	<g>
  		<path class="st1" d="M421.4,67h-2.4l-8.8-8.8c-0.3-0.3-0.8-0.5-1.3-0.5c-0.5,0-0.9,0.2-1.3,0.5l-8.8,8.8h-2.4
  			c-0.8,0-1.5,0.7-1.5,1.5v18.9c0,0.8,0.7,1.5,1.5,1.5h25.1c0.8,0,1.5-0.7,1.5-1.5V68.5C422.8,67.7,422.2,67,421.4,67 M406.8,62
  			c0.4,0.7,1.2,1.2,2.1,1.2c0.9,0,1.7-0.5,2.1-1.2l5,5h-14.1L406.8,62z M408.1,82.9h-2.2l-1.5-5.3l-1.5,5.3h-2.2l-2.3-9.9h2.5
  			l1.1,5.4l1.5-5.4h1.9l1.5,5.4L408,73h2.5L408.1,82.9z M419.2,76.5l-0.1,0.3h-2.4v-0.3c0-0.5-0.1-0.9-0.4-1.2
  			c-0.2-0.3-0.6-0.4-1.1-0.4c-0.4,0-0.8,0.2-1.1,0.5c-0.3,0.4-0.4,0.9-0.4,1.5v1.8c0,0.6,0.1,1.1,0.4,1.5c0.3,0.4,0.7,0.5,1.1,0.5
  			c0.5,0,0.8-0.1,1-0.4c0.2-0.2,0.3-0.6,0.3-1.2v-0.3h2.4l0.1,0.3v0c0,1.1-0.3,2-1,2.6c-0.7,0.6-1.6,1-2.8,1c-1.2,0-2.2-0.4-2.9-1.2
  			c-0.8-0.8-1.1-1.8-1.1-3V77c0-1.2,0.4-2.2,1.1-3c0.7-0.8,1.7-1.2,2.9-1.2c1.2,0,2.2,0.3,2.9,1C418.9,74.5,419.2,75.3,419.2,76.5
  			L419.2,76.5z"/>
  	</g>
  	<g>
  		<path class="st0" d="M211.2,468.5v1h-4.1v8.3h-1.1v-9.3H211.2z"/>
  		<path class="st0" d="M218.7,477.8l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H218.7z M217.2,473.8l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H217.2z"/>
  		<path class="st0" d="M227.7,477.8h-1.1v-8.3h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V477.8z"/>
  		<path class="st0" d="M235.4,477.8h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V477.8z"/>
  		<path class="st0" d="M243.3,471.2c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C242.2,468.5,243.3,469.4,243.3,471.2z M238.5,473.2h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V473.2z"/>
  		<path class="st0" d="M250.4,477.8h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V477.8z"/>
  		<path class="st0" d="M255.3,473.9l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H255.3z M257.1,469.4h-1.4c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V469.4z"/>
  		<path class="st0" d="M271.6,473c0,1.5-0.4,2.7-1.2,3.5c-0.8,0.8-2,1.2-3.6,1.2h-2.6v-9.3h2.8c1.4,0,2.6,0.4,3.4,1.2
  			C271.2,470.5,271.6,471.6,271.6,473z M270.4,473.1c0-1.2-0.3-2.1-0.9-2.7s-1.5-0.9-2.7-0.9h-1.6v7.4h1.3c1.3,0,2.3-0.3,2.9-0.9
  			C270.1,475.3,270.4,474.3,270.4,473.1z"/>
  	</g>
  	<g>
  		<path class="st0" d="M210.6,118.4v1h-4.1v8.3h-1.1v-9.3H210.6z"/>
  		<path class="st0" d="M218,127.7l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H218z M216.5,123.8l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H216.5z"/>
  		<path class="st0" d="M227,127.7h-1.1v-8.3h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V127.7z"/>
  		<path class="st0" d="M234.7,127.7h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V127.7z"/>
  		<path class="st0" d="M242.7,121.1c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C241.5,118.4,242.7,119.3,242.7,121.1z M237.9,123.1h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V123.1z"/>
  		<path class="st0" d="M249.8,127.7h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V127.7z"/>
  		<path class="st0" d="M254.6,123.8l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H254.6z M256.5,119.3H255c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V119.3z"/>
  		<path class="st0" d="M269.3,127.7l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H269.3z M267.8,123.8l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H267.8z"/>
  	</g>
  	<g>
  		<path class="st0" d="M211.2,236.4v1h-4.1v8.3h-1.1v-9.3H211.2z"/>
  		<path class="st0" d="M218.7,245.7l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H218.7z M217.2,241.8l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H217.2z"/>
  		<path class="st0" d="M227.7,245.7h-1.1v-8.3h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V245.7z"/>
  		<path class="st0" d="M235.4,245.7h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V245.7z"/>
  		<path class="st0" d="M243.3,239.1c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C242.2,236.4,243.3,237.3,243.3,239.1z M238.5,241.1h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V241.1z"/>
  		<path class="st0" d="M250.4,245.7h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V245.7z"/>
  		<path class="st0" d="M255.3,241.8l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H255.3z M257.1,237.3h-1.4c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V237.3z"/>
  		<path class="st0" d="M264.1,236.4h2.6c1.2,0,2.1,0.2,2.7,0.6c0.5,0.4,0.8,1,0.8,1.7c0,0.5-0.2,1-0.5,1.4s-0.8,0.6-1.3,0.7v0.1
  			c1.4,0.2,2.1,1,2.1,2.2c0,0.8-0.3,1.5-0.8,1.9s-1.3,0.7-2.4,0.7h-3.2V236.4z M265.2,240.4h1.8c0.8,0,1.3-0.1,1.6-0.4
  			s0.5-0.6,0.5-1.2c0-0.5-0.2-0.9-0.6-1.1c-0.4-0.2-1-0.3-1.8-0.3h-1.6V240.4z M265.2,241.3v3.5h1.9c0.7,0,1.3-0.1,1.7-0.4
  			s0.6-0.7,0.6-1.4c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.8-0.4H265.2z"/>
  	</g>
  	<g>
  		<path class="st0" d="M74.8,561.1h2.6c1.2,0,2.1,0.2,2.7,0.6c0.5,0.4,0.8,1,0.8,1.7c0,0.5-0.2,1-0.5,1.4s-0.8,0.6-1.3,0.7v0.1
  			c1.4,0.2,2.1,1,2.1,2.2c0,0.8-0.3,1.5-0.8,1.9s-1.3,0.7-2.4,0.7h-3.2V561.1z M75.9,565.1h1.8c0.8,0,1.3-0.1,1.6-0.4
  			s0.5-0.6,0.5-1.2c0-0.5-0.2-0.9-0.6-1.1c-0.4-0.2-1-0.3-1.8-0.3h-1.6V565.1z M75.9,566v3.5h1.9c0.7,0,1.3-0.1,1.7-0.4
  			s0.6-0.7,0.6-1.4c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.8-0.4H75.9z"/>
  		<path class="st0" d="M84.8,566.8l-2.4-3.4h1.2l1.8,2.7l1.8-2.7h1.2l-2.4,3.4l2.5,3.6h-1.2l-1.9-2.8l-2,2.8h-1.2L84.8,566.8z"/>
  		<path class="st0" d="M95.9,566.9c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C95.6,564.9,95.9,565.8,95.9,566.9z
  			 M90.6,566.9c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S90.6,566,90.6,566.9z"/>
  		<path class="st0" d="M103.8,572.8h-1v-2.4h-4.9v2.4h-1v-3.3h0.5c0.6-0.8,1-1.7,1.3-2.7c0.3-1,0.5-2.1,0.5-3.3h3.5v6h1V572.8z
  			 M101.8,569.5v-5.2h-1.6c-0.1,0.9-0.2,1.9-0.5,2.9s-0.7,1.8-1.1,2.4H101.8z"/>
  		<path class="st0" d="M109.6,563.4v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9h-1.3v-7H109.6z"/>
  		<path class="st0" d="M118.1,566.3c1.3,0,2-0.4,2-1.1c0-0.7-0.5-1-1.6-1c-0.3,0-0.6,0-0.9,0.1c-0.3,0.1-0.6,0.2-1,0.4l-0.4-0.9
  			c0.7-0.3,1.5-0.5,2.4-0.5c0.8,0,1.4,0.2,1.9,0.5c0.5,0.3,0.7,0.8,0.7,1.3c0,0.8-0.4,1.3-1.3,1.5v0.1c0.5,0.2,0.9,0.4,1.2,0.7
  			c0.2,0.3,0.4,0.7,0.4,1.1c0,0.6-0.3,1.1-0.8,1.5s-1.2,0.5-2.1,0.5c-1,0-1.8-0.2-2.3-0.5v-1c0.8,0.4,1.6,0.5,2.3,0.5
  			c0.6,0,1.1-0.1,1.4-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.8-0.7-1.2-2-1.2h-1v-0.9H118.1z"/>
  		<path class="st0" d="M130.7,564.3h-3.1v6.1h-1.1v-7h4.2V564.3z"/>
  		<path class="st0" d="M136.3,570.4l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H136.3z M133.9,569.7
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5V567l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S133.5,569.7,133.9,569.7z"/>
  		<path class="st0" d="M144.5,570.4h-1.1v-6.1h-2.1c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V570.4z"/>
  		<path class="st0" d="M149.6,570.5c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.6c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C150.5,570.5,150.1,570.5,149.6,570.5z M149.3,564.2c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S149.9,564.2,149.3,564.2z"/>
  		<path class="st0" d="M157.2,570.5c-0.5,0-0.9-0.1-1.2-0.3c-0.4-0.2-0.7-0.4-0.9-0.8H155c0.1,0.4,0.1,0.8,0.1,1.2v2.9H154v-10.1
  			h0.9l0.1,1h0.1c0.3-0.4,0.6-0.7,0.9-0.8c0.4-0.2,0.8-0.3,1.2-0.3c0.9,0,1.6,0.3,2.1,0.9c0.5,0.6,0.8,1.5,0.8,2.7
  			c0,1.1-0.3,2-0.8,2.7S158.1,570.5,157.2,570.5z M157.1,564.2c-0.7,0-1.2,0.2-1.5,0.6c-0.3,0.4-0.5,1-0.5,1.9v0.2
  			c0,1,0.2,1.7,0.5,2.1c0.3,0.4,0.8,0.6,1.6,0.6c0.6,0,1.1-0.2,1.4-0.7s0.5-1.2,0.5-2c0-0.9-0.2-1.5-0.5-2
  			C158.2,564.4,157.7,564.2,157.1,564.2z"/>
  		<path class="st0" d="M164.9,570.5c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.6c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C165.8,570.5,165.4,570.5,164.9,570.5z M164.6,564.2c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S165.2,564.2,164.6,564.2z"/>
  		<path class="st0" d="M170.2,563.4v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9h-1.3v-7H170.2z"/>
  		<path class="st0" d="M184.5,569.4l0.2-0.6l0.3-0.8l1.9-4.6h1.3v6.9h-0.9v-5.7l-0.1,0.4l-0.4,1l-1.8,4.4h-0.9l-1.8-4.4
  			c-0.2-0.6-0.4-1-0.5-1.3v5.7h-0.9v-6.9h1.3l1.8,4.4C184.2,568.3,184.3,568.8,184.5,569.4z"/>
  		<path class="st0" d="M194.7,570.4l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H194.7z M192.3,569.7
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5V567l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S191.9,569.7,192.3,569.7z"/>
  		<path class="st0" d="M201.8,564.3h-3.1v6.1h-1.1v-7h4.2V564.3z"/>
  		<path class="st0" d="M207.5,570.4l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H207.5z M205.1,569.7
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5V567l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S204.7,569.7,205.1,569.7z"/>
  		<path class="st0" d="M211.8,566.3c1.3,0,2-0.4,2-1.1c0-0.7-0.5-1-1.6-1c-0.3,0-0.6,0-0.9,0.1c-0.3,0.1-0.6,0.2-1,0.4l-0.4-0.9
  			c0.7-0.3,1.5-0.5,2.4-0.5c0.8,0,1.4,0.2,1.9,0.5c0.5,0.3,0.7,0.8,0.7,1.3c0,0.8-0.4,1.3-1.3,1.5v0.1c0.5,0.2,0.9,0.4,1.2,0.7
  			c0.2,0.3,0.4,0.7,0.4,1.1c0,0.6-0.3,1.1-0.8,1.5s-1.2,0.5-2.1,0.5c-1,0-1.8-0.2-2.3-0.5v-1c0.8,0.4,1.6,0.5,2.3,0.5
  			c0.6,0,1.1-0.1,1.4-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.8-0.7-1.2-2-1.2h-1v-0.9H211.8z"/>
  		<path class="st0" d="M217.7,563.4v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9h-1.3v-7H217.7z"/>
  		<path class="st0" d="M226,563.4v2.9h3.9v-2.9h1.1v7h-1.1v-3.1H226v3.1H225v-7H226z"/>
  		<path class="st0" d="M239.2,566.9c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C238.9,564.9,239.2,565.8,239.2,566.9z
  			 M233.9,566.9c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S233.9,566,233.9,566.9z"/>
  		<path class="st0" d="M246.7,565.2c0,0.5-0.1,0.8-0.4,1c-0.3,0.2-0.6,0.4-1.1,0.5v0.1c0.6,0.1,1,0.3,1.3,0.5
  			c0.3,0.3,0.4,0.6,0.4,1.1c0,0.6-0.2,1.1-0.7,1.5c-0.5,0.4-1.2,0.5-2.1,0.5h-3.1v-7h3.1C245.8,563.4,246.7,564,246.7,565.2z
  			 M245.7,565.3c0-0.3-0.1-0.6-0.4-0.7c-0.3-0.1-0.7-0.2-1.2-0.2h-2v2h1.8c0.7,0,1.1-0.1,1.4-0.2
  			C245.5,565.9,245.7,565.7,245.7,565.3z M245.9,568.3c0-0.4-0.1-0.7-0.4-0.8c-0.3-0.2-0.8-0.3-1.4-0.3h-1.9v2.3h1.9
  			C245.3,569.5,245.9,569.1,245.9,568.3z"/>
  		<path class="st0" d="M80,578.9c0,0.6-0.2,1.1-0.5,1.5c-0.3,0.4-0.8,0.6-1.4,0.8v0.1c0.7,0.1,1.3,0.3,1.7,0.7s0.5,0.9,0.5,1.5
  			c0,0.9-0.3,1.6-0.9,2c-0.6,0.5-1.5,0.7-2.6,0.7c-0.5,0-0.9,0-1.3-0.1s-0.8-0.2-1.2-0.4v-1c0.4,0.2,0.8,0.3,1.3,0.5
  			s0.9,0.2,1.3,0.2c1.6,0,2.4-0.6,2.4-1.9c0-1.1-0.9-1.7-2.7-1.7h-0.9v-0.9h0.9c0.7,0,1.3-0.2,1.7-0.5s0.6-0.8,0.6-1.3
  			c0-0.5-0.2-0.8-0.5-1.1c-0.3-0.3-0.7-0.4-1.3-0.4c-0.4,0-0.8,0.1-1.1,0.2c-0.4,0.1-0.8,0.3-1.2,0.6l-0.5-0.7
  			c0.4-0.3,0.8-0.5,1.3-0.7c0.5-0.2,1-0.3,1.6-0.3c0.9,0,1.6,0.2,2.1,0.6C79.7,577.6,80,578.2,80,578.9z"/>
  		<path class="st0" d="M86.6,586.1c-0.7,0-1.3-0.1-1.8-0.4v-0.9c0.3,0.1,0.5,0.2,0.8,0.3c0.3,0.1,0.6,0.1,1,0.1
  			c0.7,0,1.3-0.2,1.7-0.6c0.4-0.4,0.6-1,0.7-1.8h-3.5V582h3.5c-0.1-0.7-0.3-1.3-0.6-1.6c-0.4-0.3-0.9-0.5-1.6-0.5
  			c-0.4,0-1,0.1-1.6,0.3l-0.3-0.9c0.2-0.1,0.5-0.2,0.9-0.3c0.3-0.1,0.7-0.1,1-0.1c1.1,0,1.9,0.3,2.5,0.9s0.8,1.5,0.8,2.7
  			c0,1.1-0.3,2-0.9,2.7C88.5,585.8,87.7,586.1,86.6,586.1z"/>
  		<path class="st0" d="M96.6,579.9h-2.3v6.1h-1.1v-6.1H91V579h5.5V579.9z"/>
  		<path class="st0" d="M102.2,586l-0.2-1H102c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H102.2z M99.9,585.3
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S99.4,585.3,99.9,585.3z"/>
  		<path class="st0" d="M108.4,579.1h1v3.4l2.9-3.4h1.2l-2.9,3.4l3.2,3.6h-1.2l-3.1-3.5v3.5h-1v-3.5l-3.1,3.5h-1.2l3.1-3.6l-2.9-3.4
  			h1.2l2.9,3.4V579.1z"/>
  		<path class="st0" d="M119,586l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H119z M116.7,585.3
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S116.2,585.3,116.7,585.3z"/>
  		<path class="st0" d="M128.4,586h-1.1v-8.3h-2.9v-1h7v1h-2.9V586z"/>
  		<path class="st0" d="M138.6,579.4c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C137.4,576.7,138.6,577.6,138.6,579.4z M133.8,581.4h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V581.4z"/>
  		<path class="st0" d="M147.2,586h-1.3l-4.3-4.7v4.7h-1.1v-9.3h1.1v4.5l4.2-4.5h1.2l-4.1,4.5L147.2,586z"/>
  		<path class="st0" d="M151.1,582.5l2.2-2.6l0.8,0.4l-1.8,2.2l1.8,2.2l-0.8,0.5l-2.2-2.6V582.5z M153.6,582.5l2.2-2.6l0.7,0.4
  			l-1.8,2.2l1.8,2.2l-0.7,0.5l-2.2-2.6V582.5z"/>
  		<path class="st0" d="M164.4,583.3c0,0.9-0.3,1.6-0.8,2s-1.4,0.7-2.5,0.7h-2.7v-9.3h5.5v1h-4.4v3h1.4c0.8,0,1.5,0.1,2,0.3
  			s0.9,0.5,1.1,0.8C164.2,582.2,164.4,582.7,164.4,583.3z M159.4,585.1h1.5c0.8,0,1.4-0.1,1.8-0.4s0.5-0.7,0.5-1.4
  			c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.9-0.4h-1.3V585.1z"/>
  		<path class="st0" d="M170.4,586l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H170.4z M168,585.3
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S167.6,585.3,168,585.3z"/>
  		<path class="st0" d="M178.6,586h-1.1v-6.1h-2.1c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V586z"/>
  		<path class="st0" d="M184.9,579h1.2l-3,3.4l3.2,3.6H185l-3.2-3.5v3.5h-1.1v-7h1.1v3.4L184.9,579z"/>
  		<path class="st0" d="M191.8,586l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H191.8z M189.4,585.3
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S189,585.3,189.4,585.3z"/>
  		<path class="st0" d="M195.8,579v2.9h3.9V579h1.1v7h-1.1v-3.1h-3.9v3.1h-1.1v-7H195.8z"/>
  		<path class="st0" d="M204,579v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9H203v-7H204z"/>
  		<path class="st0" d="M211.6,586h-1.2l2-2.9c-0.5-0.1-0.9-0.3-1.2-0.7c-0.3-0.3-0.4-0.8-0.4-1.3c0-0.6,0.2-1.1,0.6-1.5
  			c0.4-0.4,1-0.5,1.8-0.5h3.1v7h-1.1v-2.8h-1.8L211.6,586z M211.7,581.1c0,0.8,0.6,1.2,1.8,1.2h1.7V580h-1.9
  			C212.2,580,211.7,580.3,211.7,581.1z"/>
  		<path class="st0" d="M229.3,586.7H228l-5.1-6.2h-0.1c0.1,0.7,0.1,1.4,0.1,2v4.2h-1v-7.3h1.2l5.1,6.1h0.1c0-0.1,0-0.4-0.1-0.9
  			c0-0.5,0-0.8,0-1.1v-4.2h1V586.7z"/>
  		<path class="st0" d="M237.7,582.5c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C237.4,580.5,237.7,581.4,237.7,582.5z
  			 M232.4,582.5c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S232.4,581.6,232.4,582.5z"/>
  		<path class="st0" d="M241,586l-2.6-7h1.1l1.5,4.1c0.3,1,0.5,1.6,0.6,1.9h0.1c0-0.2,0.2-0.7,0.4-1.4c0.2-0.7,0.8-2.2,1.7-4.6h1.1
  			l-2.6,7H241z"/>
  		<path class="st0" d="M250.3,586l-0.2-1H250c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H250.3z M247.9,585.3
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S247.5,585.3,247.9,585.3z"/>
  		<path class="st0" d="M255.6,582.7l-2.2,2.6l-0.7-0.5l1.8-2.2l-1.8-2.2l0.7-0.4l2.2,2.6V582.7z M258.1,582.7l-2.2,2.6l-0.7-0.5
  			l1.8-2.2l-1.8-2.2l0.7-0.4l2.2,2.6V582.7z"/>
  	</g>
  	<g>
  		<polygon class="st2" points="92.8,237.6 92.8,290.5 92.8,329.4 92.8,362.9 136.4,366.9 136.4,329.4 136.4,290.5 136.4,232.1 		"/>
  		<rect x="92.8" y="283.7" class="st3" width="49.8" height="25.3"/>
  		<g>
  			<path class="st4" d="M139.6,285.5l-46.7,0l0-3l46.7,0c0.8,0,1.5,0.7,1.5,1.5l0,0C141.1,284.9,140.4,285.5,139.6,285.5"/>
  			<path class="st4" d="M139.6,298l-46.7,0l0-3l46.7,0c0.8,0,1.5,0.7,1.5,1.5l0,0C141.1,297.3,140.4,298,139.6,298"/>
  			<rect x="95.8" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="100.2" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="104.7" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="109.2" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="113.6" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="118.1" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="122.6" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="127" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="131.5" y="287.5" class="st4" width="2.5" height="5.9"/>
  			<rect x="136" y="287.5" class="st4" width="2.5" height="5.9"/>
  		</g>
  		<g>
  			<path class="st4" d="M139.6,298l-46.7,0l0-3l46.7,0c0.8,0,1.5,0.7,1.5,1.5l0,0C141.1,297.3,140.4,298,139.6,298"/>
  			<path class="st4" d="M139.6,310.5l-46.7,0l0-3l46.7,0c0.8,0,1.5,0.7,1.5,1.5l0,0C141.1,309.8,140.4,310.5,139.6,310.5"/>
  			<rect x="95.8" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="100.2" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="104.7" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="109.2" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="113.6" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="118.1" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="122.6" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="127" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="131.5" y="300" class="st4" width="2.5" height="5.9"/>
  			<rect x="136" y="300" class="st4" width="2.5" height="5.9"/>
  		</g>
  	</g>
  	<g>
  		<path class="st0" d="M211.2,353.3v1h-4.1v8.3h-1.1v-9.3H211.2z"/>
  		<path class="st0" d="M218.7,362.6l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H218.7z M217.2,358.6l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H217.2z"/>
  		<path class="st0" d="M227.7,362.6h-1.1v-8.3h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V362.6z"/>
  		<path class="st0" d="M235.4,362.6h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V362.6z"/>
  		<path class="st0" d="M243.3,356c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C242.2,353.3,243.3,354.2,243.3,356z M238.5,358h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V358z"/>
  		<path class="st0" d="M250.4,362.6h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V362.6z"/>
  		<path class="st0" d="M255.3,358.7l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H255.3z M257.1,354.2h-1.4c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V354.2z"/>
  		<path class="st0" d="M268.1,354.1c-1,0-1.8,0.3-2.4,1c-0.6,0.7-0.9,1.6-0.9,2.8c0,1.2,0.3,2.2,0.9,2.8s1.4,1,2.4,1
  			c0.6,0,1.4-0.1,2.2-0.3v0.9c-0.6,0.2-1.4,0.4-2.4,0.4c-1.4,0-2.4-0.4-3.2-1.2c-0.7-0.8-1.1-2-1.1-3.5c0-1,0.2-1.8,0.5-2.5
  			c0.4-0.7,0.9-1.3,1.5-1.7c0.7-0.4,1.5-0.6,2.4-0.6c1,0,1.8,0.2,2.6,0.5l-0.5,0.9C269.5,354.3,268.8,354.1,268.1,354.1z"/>
  	</g>
  </g>

	<g class="path-group"><rect x="39.1" y="223.9" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="40" height="73.8" data-id="201" /></g>
	<g class="path-group"><rect x="39.1" y="299.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="40" height="73.8" data-id="202" /></g>
	<g class="path-group"><polygon class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" points="136.4,470.3 92.8,470.3 92.8,375.4 136.4,379.4 	" data-id="203" /></g>
	<g class="path-group"><polygon class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" points="136.4,219.8 92.8,225.3 92.8,147.4 136.4,147.4 	" data-id="204" /></g>
	<g class="path-group"><rect x="206.6" y="147.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="34.8" data-id="205" /></g>
	<g class="path-group"><rect x="235" y="147.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="34.8" data-id="206" /></g>
	<g class="path-group"><rect x="206.6" y="184.2" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="32.8" data-id="207" /></g>
	<g class="path-group"><rect x="348.5" y="147.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.2" height="34.8" data-id="208" /></g>
	<g class="path-group"><rect x="291.8" y="147.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="34.8" data-id="209" /></g>
	<g class="path-group"><rect x="263.4" y="147.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="34.8" data-id="210" /></g>
	<g class="path-group"><rect x="263.4" y="184.2" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="32.8" data-id="211" /></g>
	<g class="path-group"><rect x="150.1" y="147.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="54.5" height="69.6" data-id="212" /></g>
	<g class="path-group"><rect x="320.1" y="147.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="34.8" data-id="213" /></g>
	<g class="path-group"><rect x="235" y="184.2" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="32.8" data-id="214" /></g>
	<g class="path-group"><rect x="348.5" y="184.2" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.2" height="32.8" data-id="215" /></g>
	<g class="path-group"><rect x="320.1" y="184.2" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="32.8" data-id="216" /></g>
	<g class="path-group"><rect x="291.8" y="184.2" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.4" height="32.8" data-id="217" /></g>
	<g class="path-group"><rect x="205.4" y="415.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="54" height="33.8" data-id="218" /></g>
	<g class="path-group"><rect x="205.4" y="379.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="54" height="33.8" data-id="219" /></g>
	<g class="path-group"><rect x="261.4" y="379.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="54" height="33.8" data-id="220" /></g>
	<g class="path-group"><rect x="347.2" y="379.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="27.6" height="33.8" data-id="221" /></g>
	<g class="path-group"><rect x="261.4" y="415.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.9" height="33.8" data-id="222" /></g>
	<g class="path-group"><rect x="150.1" y="379.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="53.3" height="69.6" data-id="223" /></g>
	<g class="path-group"><rect x="290.3" y="415.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="25.1" height="33.8" data-id="224" /></g>
	<g class="path-group"><rect x="347.2" y="415.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="27.6" height="33.8" data-id="225" /></g>
	<g class="path-group"><rect x="317.4" y="415.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="27.8" height="33.8" data-id="226" /></g>
	<g class="path-group"><rect x="317.4" y="379.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="27.8" height="33.8" data-id="227" /></g>
	<g class="path-group"><rect x="234.5" y="299.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="25.9" height="33.8" data-id="228" /></g>
	<g class="path-group"><rect x="234.5" y="263.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="25.9" height="33.8" data-id="229" /></g>
	<g class="path-group"><rect x="290.3" y="263.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="25.9" height="69.6" data-id="230" /></g>
	<g class="path-group"><rect x="262.4" y="263.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="25.9" height="33.8" data-id="231" /></g>
	<g class="path-group"><rect x="262.4" y="299.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="25.9" height="33.8" data-id="232" /></g>
	<g class="path-group"><polygon class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" points="346.2,263.6 346.2,297.4 346.2,299.4 346.2,333.2 374.8,333.2 374.8,263.6 	" data-id="233" /></g>
	<g class="path-group"><polygon class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" points="232.5,263.6 207,263.6 207,299.2 206.5,299.2 205,299.2 150.1,299.2 150.1,333.2 232.5,333.2 	" data-id="234" /></g>
	<g class="path-group"><rect x="318.3" y="299.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="25.9" height="33.8" data-id="235" /></g>
	<g class="path-group"><rect x="318.3" y="263.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="25.9" height="33.8" data-id="236" /></g>
	<g class="path-group"><rect x="150.1" y="263.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="54.9" height="33.6" data-id="237" /></g>
	<g class="path-group"><rect x="39.1" y="375.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="40" height="94.9" data-id="238" /></g>
	<g class="path-group"><polygon class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" points="101.3,472.3 79.1,472.3 39.1,472.3 39.1,537.6 79.1,537.6 136.4,537.6 136.4,472.3 	" data-id="239" /></g>
	<g class="path-group"><rect x="178.9" y="496" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="53.9" height="41.7" data-id="240" /></g>
	<g class="path-group"><rect x="234.8" y="496" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.1" height="41.7" data-id="241" /></g>
	<g class="path-group"><rect x="291.1" y="496" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.1" height="41.7" data-id="242" /></g>
	<g class="path-group"><rect x="263" y="496" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.1" height="41.7" data-id="243" /></g>
	<g class="path-group"><rect x="375.6" y="496" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="54.3" height="41.7" data-id="244" /></g>
	<g class="path-group"><rect x="150.1" y="496" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.8" height="41.7" data-id="245" /></g>
	<g class="path-group"><rect x="319.3" y="496" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.1" height="41.7" data-id="246" /></g>
	<g class="path-group"><rect x="347.4" y="496" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26.1" height="41.7" data-id="247" /></g>
	<g class="path-group"><rect x="391.8" y="121" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="35.8" height="57.2" data-id="248" /></g>
	<g class="path-group"><rect x="391.8" y="450.2" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="35.8" height="43.8" data-id="249" /></g>
	<g class="path-group"><rect x="391.8" y="300.4" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="35.8" height="77.1" data-id="250" /></g>
	<g class="path-group"><rect x="391.8" y="379.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="35.8" height="68.6" data-id="251" /></g>
	<g class="path-group"><rect x="391.8" y="239.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="35.8" height="58.8" data-id="252" /></g>
	<g class="path-group"><rect x="391.8" y="496" class="st6" width="35.8" height="4.6" data-id="253" /></g>
	<g class="path-group"><rect x="391.8" y="180.1" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="35.8" height="57.5" data-id="254" /></g>
	<g class="path-group"><rect x="206.5" y="57.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26" height="42.8" data-id="255" /></g>
	<g class="path-group"><rect x="110.4" y="57.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="27" height="42.8" data-id="256" /></g>
	<g class="path-group"><rect x="178.5" y="57.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26" height="42.8" data-id="257" /></g>
	<g class="path-group"><rect x="139.4" y="57.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="37" height="42.8" data-id="258" /></g>
	<g class="path-group"><polygon class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" points="108.4,57.6 79.1,57.6 73.6,57.6 39.1,57.6 39.1,221.9 79.1,221.9 79.1,100.5 108.4,100.5 	" data-id="259" /></g>
	<g class="path-group"><rect x="319.1" y="57.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="55.6" height="42.8" data-id="260" /></g>
	<g class="path-group"><rect x="234.5" y="57.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26" height="42.8" data-id="261" /></g>
	<g class="path-group"><path class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" d="M317.1,100.5h-26.7V57.6h26.7V100.5z" data-id="262" /></g>
	<g class="path-group"><rect x="262.5" y="57.6" class="genplan-path" data-label="9C" data-title="MOON >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="" data-store="img/mrdoors-s.svg" width="26" height="42.8" data-id="263" /></g>

</svg>
