<svg version="1.1" class="genplan--js" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 567 628.6" xml:space="preserve" id="second">

	<g class="path-group"><polygon class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" points="230.3,529.4 184,529.4 184,364.7 230.3,369.7" data-id="101"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" points="171.7,439.4 115.5,439.4 115.5,359 171.7,364" data-id="102"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" points="230.3,137.4 184,137.4 184,212 230.3,207" data-id="103"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" points="171.7,137.4 115.5,137.4 115.5,217.7 171.7,212.7" data-id="104"/></g>
	<g class="path-group"><rect x="71" y="486.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="101.1" height="43.1" data-id="105"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" points="171.7,323.9 115.5,317.4 115.5,259.6 171.7,253.9" data-id="106"/></g>
	<g class="path-group"><rect x="211.6" y="320.8" transform="matrix(0.7155 -0.6987 0.6987 0.7155 -173.9993 248.4861)" class="st1" width="12.8" height="34" data-id="107"/></g>
	<g class="path-group"><rect x="201" y="236.7" transform="matrix(0.6987 -0.7155 0.7155 0.6987 -108.2032 229.2688)" class="st1" width="34" height="12.8" data-id="108"/></g>
	<g class="path-group"><rect x="180.3" y="274" class="st1" width="48.2" height="28" data-id="109"/></g>
	<g class="path-group"><rect x="43" y="174.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="55" height="77.3" data-id="110"/></g>
	<g class="path-group"><rect x="43" y="254.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="55" height="116" data-id="111"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" points="43,372.2 43,529.4 69,529.4 69,484.2 98,484.2 98,372.2" data-id="112"/></g>
	<g class="path-group"><rect x="173" y="49.8" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="95.2" height="42" data-id="113"/></g>
	<g class="path-group"><rect x="298.7" y="49.8" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="42" data-id="114"/></g>
	<g class="path-group"><rect x="270.2" y="49.8" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="42" data-id="115"/></g>
	<g class="path-group"><rect x="327.2" y="49.8" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="42" data-id="116"/></g>
	<g class="path-group"><rect x="412.7" y="49.8" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="55.3" height="42" data-id="117"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" points="171,49.8 43,49.8 43,50.4 43,91.8 43,172.9 98,172.9 98,91.8 171,91.8" data-id="118"/></g>
	<g class="path-group"><rect x="355.7" y="49.8" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="42" data-id="119"/></g>
	<g class="path-group"><rect x="384.2" y="49.8" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="42" data-id="120"/></g>
	<g class="path-group"><rect x="486" y="292" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="38" height="77.2" data-id="121"/></g>
	<g class="path-group"><rect x="486" y="371.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="38" height="68.2" data-id="122"/></g>
	<g class="path-group"><rect x="486" y="137.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="38" height="152.6" data-id="123"/></g>
	<g class="path-group"><rect x="298.7" y="137.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="34.5" data-id="124"/></g>
	<g class="path-group"><rect x="298.7" y="173.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="32.5" data-id="125"/></g>
	<g class="path-group"><rect x="327.2" y="137.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="34.5" data-id="126"/></g>
	<g class="path-group"><rect x="412.7" y="137.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="55.3" height="34.5" data-id="127"/></g>
	<g class="path-group"><rect x="327.2" y="173.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="32.5" data-id="128"/></g>
	<g class="path-group"><rect x="355.7" y="137.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="34.5" data-id="129"/></g>
	<g class="path-group"><rect x="412.7" y="173.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="55.3" height="32.5" data-id="130"/></g>
	<g class="path-group"><rect x="242" y="137.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="54.7" height="69" data-id="131"/></g>
	<g class="path-group"><rect x="384.2" y="173.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="32.5" data-id="132"/></g>
	<g class="path-group"><rect x="355.7" y="173.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="32.5" data-id="133"/></g>
	<g class="path-group"><rect x="384.2" y="137.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="34.5" data-id="134"/></g>
	<g class="path-group"><rect x="298.7" y="253.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="55" height="36.1" data-id="135"/></g>
	<g class="path-group"><rect x="298.7" y="292" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="55" height="30.9" data-id="136"/></g>
	<g class="path-group"><rect x="439.7" y="253.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="28.3" height="36.1" data-id="137"/></g>
	<g class="path-group"><rect x="384.2" y="253.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="36.1" data-id="138"/></g>
	<g class="path-group"><rect x="355.7" y="292" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="30.9" data-id="139"/></g>
	<g class="path-group"><rect x="355.7" y="253.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="36.1" data-id="140"/></g>
	<g class="path-group"><rect x="412.7" y="253.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="25" height="36.1" data-id="141"/></g>
	<g class="path-group"><rect x="242" y="292" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="54.7" height="30.9" data-id="142"/></g>
	<g class="path-group"><rect x="384.2" y="292" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="30.9" data-id="143"/></g>
	<g class="path-group"><rect x="439.7" y="292" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="28.3" height="30.9" data-id="144"/></g>
	<g class="path-group"><rect x="242" y="253.9" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="54.7" height="36.1" data-id="145"/></g>
	<g class="path-group"><rect x="412.7" y="292" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="25" height="30.9" data-id="146"/></g>
	<g class="path-group"><rect x="329.3" y="486.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="50.7" height="43.1" data-id="147"/></g>
	<g class="path-group"><rect x="382" y="486.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="27.7" height="43.1" data-id="148"/></g>
	<g class="path-group"><rect x="270" y="486.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="27.7" height="43.1" data-id="149"/></g>
	<g class="path-group"><rect x="299.7" y="486.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="27.7" height="43.1" data-id="150"/></g>
	<g class="path-group"><rect x="441.3" y="486.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="82.7" height="43.1" data-id="151"/></g>
	<g class="path-group"><rect x="411.7" y="486.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="27.7" height="43.1" data-id="152"/></g>
	<g class="path-group"><rect x="242" y="486.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26" height="43.1" data-id="153"/></g>
	<g class="path-group"><rect x="355.7" y="408.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="31.2" data-id="154"/></g>
	<g class="path-group"><rect x="327.2" y="408.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="31.2" data-id="155"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" points="298.7,439.4 325.2,439.4 325.2,406.2 325.2,406.2 327.2,406.2 353.7,406.2 353.7,370.4 298.7,370.4" data-id="156"/></g>
	<g class="path-group"><rect x="384.2" y="370.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="35.8" data-id="157"/></g>
	<g class="path-group"><rect x="439.7" y="370.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="28.3" height="35.8" data-id="158"/></g>
	<g class="path-group"><rect x="355.7" y="370.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="35.8" data-id="159"/></g>
	<g class="path-group"><rect x="439.7" y="408.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="28.3" height="31.2" data-id="160"/></g>
	<g class="path-group"><rect x="242" y="370.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="54.7" height="69" data-id="161"/></g>
	<g class="path-group"><rect x="412.7" y="370.4" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="25" height="35.8" data-id="162"/></g>
	<g class="path-group"><rect x="384.2" y="408.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="31.2" data-id="163"/></g>
	<g class="path-group"><rect x="412.7" y="408.2" class="genplan-path" data-label="1B" data-title="Modex >>>" data-logo="img/bobox.png" data-section="секция a5 - 4 этаж" data-section2="секция ab - 3 этаж" data-store="img/mrdoors-s.svg" width="25" height="31.2" data-id="164"/></g>

  <g id="zzzzzend">
  	<g>
  		<path class="st2" d="M483.2,99.9h-1.1v-8.3h-2.9v-1h7v1h-2.9V99.9z"/>
  		<path class="st2" d="M486.3,93h1.1l1.5,4c0.3,0.9,0.5,1.6,0.6,2h0.1c0.1-0.2,0.2-0.6,0.3-1.1s0.8-2.1,1.7-4.8h1.1l-3,7.9
  			c-0.3,0.8-0.6,1.3-1,1.7s-0.9,0.5-1.5,0.5c-0.3,0-0.6,0-1-0.1v-0.8c0.2,0.1,0.5,0.1,0.8,0.1c0.7,0,1.2-0.4,1.5-1.2l0.4-1L486.3,93
  			z"/>
  		<path class="st2" d="M498.2,99.9l-0.2-1H498c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H498.2z M495.8,99.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S495.4,99.2,495.8,99.2z"/>
  		<path class="st2" d="M506.4,99.9h-1.1v-6.1h-2.1c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V99.9z"/>
  		<path class="st2" d="M511.5,100.1c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.6c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C512.4,100,512,100.1,511.5,100.1z M511.2,93.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S511.8,93.7,511.2,93.7z"/>
  		<path class="st2" d="M520.6,93.9h-2.3v6.1h-1.1v-6.1H515V93h5.5V93.9z"/>
  	</g>
  	<g>
  		<path class="st3" d="M512.1,63.2h-2.4l-8.8-8.8c-0.3-0.3-0.8-0.5-1.3-0.5c-0.5,0-0.9,0.2-1.3,0.5l-8.8,8.8H487
  			c-0.8,0-1.5,0.7-1.5,1.5v18.9c0,0.8,0.7,1.5,1.5,1.5h25.1c0.8,0,1.5-0.7,1.5-1.5V64.7C513.6,63.9,512.9,63.2,512.1,63.2
  			 M497.5,58.3c0.4,0.7,1.2,1.2,2.1,1.2c0.9,0,1.7-0.5,2.1-1.2l5,5h-14.1L497.5,58.3z M498.9,79.1h-2.2l-1.5-5.3l-1.5,5.3h-2.2
  			l-2.3-9.9h2.5l1.1,5.4l1.5-5.4h1.9l1.5,5.4l1.1-5.4h2.5L498.9,79.1z M510,72.7l-0.1,0.3h-2.4v-0.3c0-0.5-0.1-0.9-0.4-1.2
  			c-0.2-0.3-0.6-0.4-1.1-0.4c-0.4,0-0.8,0.2-1.1,0.5c-0.3,0.4-0.4,0.9-0.4,1.5v1.8c0,0.6,0.1,1.1,0.4,1.5c0.3,0.4,0.7,0.5,1.1,0.5
  			c0.5,0,0.8-0.1,1-0.4c0.2-0.2,0.3-0.6,0.3-1.2v-0.3h2.4l0.1,0.3v0.1c0,1.1-0.3,2-1,2.6c-0.7,0.6-1.6,1-2.8,1
  			c-1.2,0-2.2-0.4-2.9-1.2c-0.8-0.8-1.1-1.8-1.1-3v-1.8c0-1.2,0.4-2.2,1.1-3c0.7-0.8,1.7-1.2,2.9-1.2c1.2,0,2.2,0.3,2.9,1
  			C509.6,70.7,510,71.6,510,72.7L510,72.7z"/>
  	</g>
  	<rect x="184.7" y="230.9" class="st4" width="43.8" height="116.3"/>
  	<g>
  		<path class="st5" d="M231,343.7l-21.4-21.8c-0.6-0.6-0.6-1.5,0-2.1l0,0c0.6-0.6,1.5-0.6,2.1,0l21.4,21.8c0.6,0.6,0.6,1.5,0,2.1
  			l0,0C232.5,344.3,231.6,344.3,231,343.7"/>
  		<path class="st5" d="M222.1,352.5l-21.4-21.8c-0.6-0.6-0.6-1.5,0-2.1l0,0c0.6-0.6,1.5-0.6,2.1,0l21.4,21.8c0.6,0.6,0.6,1.5,0,2.1
  			l0,0C223.6,353,222.7,353,222.1,352.5"/>

  			<rect x="206" y="327.1" transform="matrix(0.7135 -0.7007 0.7007 0.7135 -170.1667 240.4473)" class="st5" width="5.9" height="2.5"/>

  			<rect x="209.1" y="330.3" transform="matrix(0.7135 -0.7007 0.7007 0.7135 -171.5032 243.5548)" class="st5" width="5.9" height="2.5"/>

  			<rect x="212.2" y="333.4" transform="matrix(0.7135 -0.7007 0.7007 0.7135 -172.8398 246.6624)" class="st5" width="5.9" height="2.5"/>

  			<rect x="215.4" y="336.6" transform="matrix(0.7135 -0.7007 0.7007 0.7135 -174.1763 249.7699)" class="st5" width="5.9" height="2.5"/>

  			<rect x="218.5" y="339.8" transform="matrix(0.7135 -0.7007 0.7007 0.7135 -175.5129 252.8775)" class="st5" width="5.9" height="2.5"/>

  			<rect x="221.6" y="343" transform="matrix(0.7135 -0.7007 0.7007 0.7135 -176.8494 255.9851)" class="st5" width="5.9" height="2.5"/>
  	</g>
  	<g>
  		<path class="st5" d="M231,236.7l-21.4,21.8c-0.6,0.6-0.6,1.5,0,2.1l0,0c0.6,0.6,1.5,0.6,2.1,0l21.4-21.8c0.6-0.6,0.6-1.5,0-2.1
  			l0,0C232.5,236.1,231.6,236.1,231,236.7"/>
  		<path class="st5" d="M222.1,227.9l-21.4,21.8c-0.6,0.6-0.6,1.5,0,2.1l0,0c0.6,0.6,1.5,0.6,2.1,0l21.4-21.8c0.6-0.6,0.6-1.5,0-2.1
  			l0,0C223.6,227.3,222.7,227.4,222.1,227.9"/>

  			<rect x="207.7" y="249.1" transform="matrix(0.7007 -0.7135 0.7135 0.7007 -117.3258 224.5256)" class="st5" width="2.5" height="5.9"/>

  			<rect x="210.8" y="246" transform="matrix(0.7007 -0.7135 0.7135 0.7007 -114.1138 225.8055)" class="st5" width="2.5" height="5.9"/>

  			<rect x="214" y="242.8" transform="matrix(0.7007 -0.7135 0.7135 0.7007 -110.9018 227.0854)" class="st5" width="2.5" height="5.9"/>

  			<rect x="217.1" y="239.6" transform="matrix(0.7007 -0.7135 0.7135 0.7007 -107.6898 228.3655)" class="st5" width="2.5" height="5.9"/>

  			<rect x="220.2" y="236.4" transform="matrix(0.7007 -0.7135 0.7135 0.7007 -104.4778 229.6455)" class="st5" width="2.5" height="5.9"/>

  			<rect x="223.4" y="233.2" transform="matrix(0.7007 -0.7135 0.7135 0.7007 -101.2659 230.9253)" class="st5" width="2.5" height="5.9"/>
  	</g>
  	<g>
  		<path class="st5" d="M181.8,277c-0.8,0-1.5-0.7-1.5-1.5l0,0c0-0.8,0.7-1.5,1.5-1.5l46.7,0l0,3"/>
  		<path class="st5" d="M181.8,289.5c-0.8,0-1.5-0.7-1.5-1.5l0,0c0-0.8,0.7-1.5,1.5-1.5l46.7,0l0,3"/>
  		<rect x="184.7" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="189.1" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="193.6" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="198.1" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="202.5" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="207" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="211.5" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="216" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="220.4" y="279" class="st5" width="2.5" height="5.9"/>
  		<rect x="224.9" y="279" class="st5" width="2.5" height="5.9"/>
  	</g>
  	<g>
  		<path class="st5" d="M181.8,289.5c-0.8,0-1.5-0.7-1.5-1.5l0,0c0-0.8,0.7-1.5,1.5-1.5l46.7,0l0,3"/>
  		<path class="st5" d="M181.8,301.9c-0.8,0-1.5-0.7-1.5-1.5l0,0c0-0.8,0.7-1.5,1.5-1.5l46.7,0l0,3"/>
  		<rect x="184.7" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="189.1" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="193.6" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="198.1" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="202.5" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="207" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="211.5" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="216" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="220.4" y="291.5" class="st5" width="2.5" height="5.9"/>
  		<rect x="224.9" y="291.5" class="st5" width="2.5" height="5.9"/>
  	</g>
  	<g>
  		<path class="st2" d="M272.5,345v1h-4.1v8.3h-1.1V345H272.5z"/>
  		<path class="st2" d="M279.9,354.2l-1.2-3H275l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H279.9z M278.4,350.3l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H278.4z"/>
  		<path class="st2" d="M288.9,354.2h-1.1v-8.3h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V354.2z"/>
  		<path class="st2" d="M296.6,354.2h-5.2V345h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V354.2z"/>
  		<path class="st2" d="M304.6,347.7c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1V345h2.4
  			C303.4,345,304.6,345.9,304.6,347.7z M299.8,349.7h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V349.7z"/>
  		<path class="st2" d="M311.7,354.2h-5.2V345h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V354.2z"/>
  		<path class="st2" d="M316.5,350.4l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H316.5z M318.4,345.9H317c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V345.9z"/>
  		<path class="st2" d="M329.4,345.8c-1,0-1.8,0.3-2.4,1c-0.6,0.7-0.9,1.6-0.9,2.8c0,1.2,0.3,2.2,0.9,2.8s1.4,1,2.4,1
  			c0.6,0,1.4-0.1,2.2-0.3v0.9c-0.6,0.2-1.4,0.4-2.4,0.4c-1.4,0-2.4-0.4-3.2-1.2c-0.7-0.8-1.1-2-1.1-3.5c0-1,0.2-1.8,0.5-2.5
  			c0.4-0.7,0.9-1.3,1.5-1.7c0.7-0.4,1.5-0.6,2.4-0.6c1,0,1.8,0.2,2.6,0.5l-0.5,0.9C330.8,346,330.1,345.8,329.4,345.8z"/>
  	</g>
  	<g>
  		<path class="st2" d="M272.5,460.2v1h-4.1v8.3h-1.1v-9.3H272.5z"/>
  		<path class="st2" d="M279.9,469.5l-1.2-3H275l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H279.9z M278.4,465.5l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H278.4z"/>
  		<path class="st2" d="M288.9,469.5h-1.1v-8.3h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V469.5z"/>
  		<path class="st2" d="M296.6,469.5h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V469.5z"/>
  		<path class="st2" d="M304.6,462.9c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C303.4,460.2,304.6,461.1,304.6,462.9z M299.8,464.9h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V464.9z"/>
  		<path class="st2" d="M311.7,469.5h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V469.5z"/>
  		<path class="st2" d="M316.5,465.6l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H316.5z M318.4,461.1H317c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V461.1z"/>
  		<path class="st2" d="M332.8,464.7c0,1.5-0.4,2.7-1.2,3.5c-0.8,0.8-2,1.2-3.6,1.2h-2.6v-9.3h2.8c1.4,0,2.6,0.4,3.4,1.2
  			C332.4,462.2,332.8,463.3,332.8,464.7z M331.7,464.8c0-1.2-0.3-2.1-0.9-2.7s-1.5-0.9-2.7-0.9h-1.6v7.4h1.3c1.3,0,2.3-0.3,2.9-0.9
  			C331.3,466.9,331.7,466,331.7,464.8z"/>
  	</g>
  	<g>
  		<path class="st2" d="M271.8,110.1v1h-4.1v8.3h-1.1v-9.3H271.8z"/>
  		<path class="st2" d="M279.3,119.4l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H279.3z M277.8,115.4l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H277.8z"/>
  		<path class="st2" d="M288.2,119.4h-1.1V111h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V119.4z"/>
  		<path class="st2" d="M296,119.4h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V119.4z"/>
  		<path class="st2" d="M303.9,112.8c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7H298v-9.3h2.4
  			C302.8,110.1,303.9,111,303.9,112.8z M299.1,114.8h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V114.8z"/>
  		<path class="st2" d="M311,119.4h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V119.4z"/>
  		<path class="st2" d="M315.8,115.5l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H315.8z M317.7,111h-1.4c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V111z"/>
  		<path class="st2" d="M330.6,119.4l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H330.6z M329.1,115.4l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H329.1z"/>
  	</g>
  	<g>
  		<path class="st2" d="M272.5,228.1v1h-4.1v8.3h-1.1v-9.3H272.5z"/>
  		<path class="st2" d="M279.9,237.4l-1.2-3H275l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H279.9z M278.4,233.4l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H278.4z"/>
  		<path class="st2" d="M288.9,237.4h-1.1V229h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V237.4z"/>
  		<path class="st2" d="M296.6,237.4h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V237.4z"/>
  		<path class="st2" d="M304.6,230.8c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C303.4,228.1,304.6,229,304.6,230.8z M299.8,232.8h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V232.8z"/>
  		<path class="st2" d="M311.7,237.4h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V237.4z"/>
  		<path class="st2" d="M316.5,233.5l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H316.5z M318.4,229H317c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V229z"/>
  		<path class="st2" d="M325.4,228.1h2.6c1.2,0,2.1,0.2,2.7,0.6c0.5,0.4,0.8,1,0.8,1.7c0,0.5-0.2,1-0.5,1.4s-0.8,0.6-1.3,0.7v0.1
  			c1.4,0.2,2.1,1,2.1,2.2c0,0.8-0.3,1.5-0.8,1.9s-1.3,0.7-2.4,0.7h-3.2V228.1z M326.5,232.1h1.8c0.8,0,1.3-0.1,1.6-0.4
  			s0.5-0.6,0.5-1.2c0-0.5-0.2-0.9-0.6-1.1c-0.4-0.2-1-0.3-1.8-0.3h-1.6V232.1z M326.5,233v3.5h1.9c0.7,0,1.3-0.1,1.7-0.4
  			s0.6-0.7,0.6-1.4c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.8-0.4H326.5z"/>
  	</g>
  	<g>
  		<path class="st2" d="M122.8,554.7h2.6c1.2,0,2.1,0.2,2.7,0.6c0.5,0.4,0.8,1,0.8,1.7c0,0.5-0.2,1-0.5,1.4s-0.8,0.6-1.3,0.7v0.1
  			c1.4,0.2,2.1,1,2.1,2.2c0,0.8-0.3,1.5-0.8,1.9s-1.3,0.7-2.4,0.7h-3.2V554.7z M123.9,558.6h1.8c0.8,0,1.3-0.1,1.6-0.4
  			s0.5-0.6,0.5-1.2c0-0.5-0.2-0.9-0.6-1.1c-0.4-0.2-1-0.3-1.8-0.3h-1.6V558.6z M123.9,559.5v3.5h1.9c0.7,0,1.3-0.1,1.7-0.4
  			s0.6-0.7,0.6-1.4c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.8-0.4H123.9z"/>
  		<path class="st2" d="M132.8,560.4l-2.4-3.4h1.2l1.8,2.7l1.8-2.7h1.2l-2.4,3.4l2.5,3.6h-1.2l-1.9-2.8l-2,2.8h-1.2L132.8,560.4z"/>
  		<path class="st2" d="M143.9,560.4c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C143.6,558.5,143.9,559.3,143.9,560.4z
  			 M138.6,560.4c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S138.6,559.6,138.6,560.4z"/>
  		<path class="st2" d="M151.8,566.3h-1v-2.4h-4.9v2.4h-1V563h0.5c0.6-0.8,1-1.7,1.3-2.7c0.3-1,0.5-2.1,0.5-3.3h3.5v6h1V566.3z
  			 M149.8,563v-5.2h-1.6c-0.1,0.9-0.2,1.9-0.5,2.9s-0.7,1.8-1.1,2.4H149.8z"/>
  		<path class="st2" d="M157.6,557v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9h-1.3v-7H157.6z"/>
  		<path class="st2" d="M166.2,559.9c1.3,0,2-0.4,2-1.1c0-0.7-0.5-1-1.6-1c-0.3,0-0.6,0-0.9,0.1c-0.3,0.1-0.6,0.2-1,0.4l-0.4-0.9
  			c0.7-0.3,1.5-0.5,2.4-0.5c0.8,0,1.4,0.2,1.9,0.5c0.5,0.3,0.7,0.8,0.7,1.3c0,0.8-0.4,1.3-1.3,1.5v0.1c0.5,0.2,0.9,0.4,1.2,0.7
  			c0.2,0.3,0.4,0.7,0.4,1.1c0,0.6-0.3,1.1-0.8,1.5s-1.2,0.5-2.1,0.5c-1,0-1.8-0.2-2.3-0.5v-1c0.8,0.4,1.6,0.5,2.3,0.5
  			c0.6,0,1.1-0.1,1.4-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.8-0.7-1.2-2-1.2h-1v-0.9H166.2z"/>
  		<path class="st2" d="M178.7,557.9h-3.1v6.1h-1.1v-7h4.2V557.9z"/>
  		<path class="st2" d="M184.3,563.9l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H184.3z M181.9,563.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S181.5,563.2,181.9,563.2z"/>
  		<path class="st2" d="M192.5,563.9h-1.1v-6.1h-2.1c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V563.9z"/>
  		<path class="st2" d="M197.6,564.1c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.6c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C198.5,564,198.1,564.1,197.6,564.1z M197.3,557.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S197.9,557.7,197.3,557.7z"/>
  		<path class="st2" d="M205.2,564.1c-0.5,0-0.9-0.1-1.2-0.3c-0.4-0.2-0.7-0.4-0.9-0.8H203c0.1,0.4,0.1,0.8,0.1,1.2v2.9H202V557h0.9
  			l0.1,1h0.1c0.3-0.4,0.6-0.7,0.9-0.8c0.4-0.2,0.8-0.3,1.2-0.3c0.9,0,1.6,0.3,2.1,0.9c0.5,0.6,0.8,1.5,0.8,2.7c0,1.1-0.3,2-0.8,2.7
  			S206.1,564.1,205.2,564.1z M205.1,557.7c-0.7,0-1.2,0.2-1.5,0.6c-0.3,0.4-0.5,1-0.5,1.9v0.2c0,1,0.2,1.7,0.5,2.1
  			c0.3,0.4,0.8,0.6,1.6,0.6c0.6,0,1.1-0.2,1.4-0.7s0.5-1.2,0.5-2c0-0.9-0.2-1.5-0.5-2C206.2,558,205.7,557.7,205.1,557.7z"/>
  		<path class="st2" d="M212.9,564.1c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.6c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C213.8,564,213.4,564.1,212.9,564.1z M212.6,557.7c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S213.2,557.7,212.6,557.7z"/>
  		<path class="st2" d="M218.2,557v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9h-1.3v-7H218.2z"/>
  		<path class="st2" d="M232.5,562.9l0.2-0.6l0.3-0.8l1.9-4.6h1.3v6.9h-0.9v-5.7l-0.1,0.4l-0.4,1l-1.8,4.4h-0.9l-1.8-4.4
  			c-0.2-0.6-0.4-1-0.5-1.3v5.7h-0.9V557h1.3l1.8,4.4C232.2,561.9,232.3,562.4,232.5,562.9z"/>
  		<path class="st2" d="M242.7,563.9l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H242.7z M240.3,563.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S239.9,563.2,240.3,563.2z"/>
  		<path class="st2" d="M249.8,557.9h-3.1v6.1h-1.1v-7h4.2V557.9z"/>
  		<path class="st2" d="M255.5,563.9l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H255.5z M253.1,563.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S252.7,563.2,253.1,563.2z"/>
  		<path class="st2" d="M259.8,559.9c1.3,0,2-0.4,2-1.1c0-0.7-0.5-1-1.6-1c-0.3,0-0.6,0-0.9,0.1c-0.3,0.1-0.6,0.2-1,0.4l-0.4-0.9
  			c0.7-0.3,1.5-0.5,2.4-0.5c0.8,0,1.4,0.2,1.9,0.5c0.5,0.3,0.7,0.8,0.7,1.3c0,0.8-0.4,1.3-1.3,1.5v0.1c0.5,0.2,0.9,0.4,1.2,0.7
  			c0.2,0.3,0.4,0.7,0.4,1.1c0,0.6-0.3,1.1-0.8,1.5s-1.2,0.5-2.1,0.5c-1,0-1.8-0.2-2.3-0.5v-1c0.8,0.4,1.6,0.5,2.3,0.5
  			c0.6,0,1.1-0.1,1.4-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.8-0.7-1.2-2-1.2h-1v-0.9H259.8z"/>
  		<path class="st2" d="M265.7,557v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9h-1.3v-7H265.7z"/>
  		<path class="st2" d="M274,557v2.9h3.9V557h1.1v7h-1.1v-3.1H274v3.1H273v-7H274z"/>
  		<path class="st2" d="M287.2,560.4c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C286.9,558.5,287.2,559.3,287.2,560.4z
  			 M281.9,560.4c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S281.9,559.6,281.9,560.4z"/>
  		<path class="st2" d="M294.7,558.7c0,0.5-0.1,0.8-0.4,1c-0.3,0.2-0.6,0.4-1.1,0.5v0.1c0.6,0.1,1,0.3,1.3,0.5
  			c0.3,0.3,0.4,0.6,0.4,1.1c0,0.6-0.2,1.1-0.7,1.5c-0.5,0.4-1.2,0.5-2.1,0.5h-3.1v-7h3.1C293.8,557,294.7,557.6,294.7,558.7z
  			 M293.7,558.8c0-0.3-0.1-0.6-0.4-0.7c-0.3-0.1-0.7-0.2-1.2-0.2h-2v2h1.8c0.7,0,1.1-0.1,1.4-0.2
  			C293.5,559.5,293.7,559.2,293.7,558.8z M293.9,561.8c0-0.4-0.1-0.7-0.4-0.8c-0.3-0.2-0.8-0.3-1.4-0.3h-1.9v2.3h1.9
  			C293.3,563.1,293.9,562.6,293.9,561.8z"/>
  		<path class="st2" d="M128.3,579.5h-6.1v-0.9l2.4-2.5c0.7-0.8,1.2-1.3,1.5-1.6c0.2-0.3,0.4-0.6,0.5-0.9c0.1-0.3,0.2-0.6,0.2-1
  			c0-0.5-0.1-0.9-0.5-1.2s-0.7-0.4-1.3-0.4c-0.4,0-0.8,0.1-1.1,0.2s-0.7,0.4-1.2,0.7l-0.6-0.7c0.9-0.7,1.8-1.1,2.8-1.1
  			c0.9,0,1.6,0.2,2,0.7s0.7,1,0.7,1.8c0,0.6-0.2,1.2-0.5,1.7c-0.3,0.6-0.9,1.3-1.9,2.2l-2,2v0.1h4.8V579.5z"/>
  		<path class="st2" d="M134.6,579.7c-0.7,0-1.3-0.1-1.8-0.4v-0.9c0.3,0.1,0.5,0.2,0.8,0.3c0.3,0.1,0.6,0.1,1,0.1
  			c0.7,0,1.3-0.2,1.7-0.6c0.4-0.4,0.6-1,0.7-1.8h-3.5v-0.9h3.5c-0.1-0.7-0.3-1.3-0.6-1.6c-0.4-0.3-0.9-0.5-1.6-0.5
  			c-0.4,0-1,0.1-1.6,0.3l-0.3-0.9c0.2-0.1,0.5-0.2,0.9-0.3c0.3-0.1,0.7-0.1,1-0.1c1.1,0,1.9,0.3,2.5,0.9s0.8,1.5,0.8,2.7
  			c0,1.1-0.3,2-0.9,2.7C136.5,579.3,135.7,579.7,134.6,579.7z"/>
  		<path class="st2" d="M144.6,573.5h-2.3v6.1h-1.1v-6.1H139v-0.9h5.5V573.5z"/>
  		<path class="st2" d="M150.2,579.5l-0.2-1H150c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H150.2z M147.9,578.8
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S147.4,578.8,147.9,578.8z"/>
  		<path class="st2" d="M156.4,572.6h1v3.4l2.9-3.4h1.2l-2.9,3.4l3.2,3.6h-1.2l-3.1-3.5v3.5h-1V576l-3.1,3.5h-1.2l3.1-3.6l-2.9-3.4
  			h1.2l2.9,3.4V572.6z"/>
  		<path class="st2" d="M167,579.5l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H167z M164.7,578.8
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S164.2,578.8,164.7,578.8z"/>
  		<path class="st2" d="M176.4,579.5h-1.1v-8.3h-2.9v-1h7v1h-2.9V579.5z"/>
  		<path class="st2" d="M186.6,573c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C185.4,570.3,186.6,571.2,186.6,573z M181.8,575h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V575z"/>
  		<path class="st2" d="M195.2,579.5h-1.3l-4.3-4.7v4.7h-1.1v-9.3h1.1v4.5l4.2-4.5h1.2l-4.1,4.5L195.2,579.5z"/>
  		<path class="st2" d="M199.1,576l2.2-2.6l0.8,0.4l-1.8,2.2l1.8,2.2l-0.8,0.5l-2.2-2.6V576z M201.6,576l2.2-2.6l0.7,0.4l-1.8,2.2
  			l1.8,2.2l-0.7,0.5l-2.2-2.6V576z"/>
  		<path class="st2" d="M212.4,576.8c0,0.9-0.3,1.6-0.8,2s-1.4,0.7-2.5,0.7h-2.7v-9.3h5.5v1h-4.4v3h1.4c0.8,0,1.5,0.1,2,0.3
  			s0.9,0.5,1.1,0.8C212.2,575.7,212.4,576.2,212.4,576.8z M207.4,578.6h1.5c0.8,0,1.4-0.1,1.8-0.4s0.5-0.7,0.5-1.4
  			c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.9-0.4h-1.3V578.6z"/>
  		<path class="st2" d="M218.4,579.5l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H218.4z M216,578.8
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S215.6,578.8,216,578.8z"/>
  		<path class="st2" d="M226.6,579.5h-1.1v-6.1h-2.1c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V579.5z"/>
  		<path class="st2" d="M232.9,572.6h1.2l-3,3.4l3.2,3.6H233l-3.2-3.5v3.5h-1.1v-7h1.1v3.4L232.9,572.6z"/>
  		<path class="st2" d="M239.8,579.5l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H239.8z M237.4,578.8
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S237,578.8,237.4,578.8z"/>
  		<path class="st2" d="M243.8,572.6v2.9h3.9v-2.9h1.1v7h-1.1v-3.1h-3.9v3.1h-1.1v-7H243.8z"/>
  		<path class="st2" d="M252,572.6v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9H251v-7H252z"/>
  		<path class="st2" d="M259.6,579.5h-1.2l2-2.9c-0.5-0.1-0.9-0.3-1.2-0.7c-0.3-0.3-0.4-0.8-0.4-1.3c0-0.6,0.2-1.1,0.6-1.5
  			c0.4-0.4,1-0.5,1.8-0.5h3.1v7h-1.1v-2.8h-1.8L259.6,579.5z M259.7,574.6c0,0.8,0.6,1.2,1.8,1.2h1.7v-2.3h-1.9
  			C260.2,573.5,259.7,573.9,259.7,574.6z"/>
  		<path class="st2" d="M277.3,579.5H276l-5.1-7.8h-0.1c0.1,0.9,0.1,1.8,0.1,2.5v5.3h-1v-9.3h1.2l5.1,7.8h0.1c0-0.1,0-0.5-0.1-1.1
  			c0-0.6,0-1.1,0-1.3v-5.3h1V579.5z"/>
  		<path class="st2" d="M285.7,576c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C285.4,574.1,285.7,574.9,285.7,576z
  			 M280.4,576c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S280.4,575.2,280.4,576z"/>
  		<path class="st2" d="M289,579.5l-2.6-7h1.1l1.5,4.1c0.3,1,0.5,1.6,0.6,1.9h0.1c0-0.2,0.2-0.7,0.4-1.4c0.2-0.7,0.8-2.2,1.7-4.6h1.1
  			l-2.6,7H289z"/>
  		<path class="st2" d="M298.3,579.5l-0.2-1H298c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H298.3z M295.9,578.8
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S295.5,578.8,295.9,578.8z"/>
  		<path class="st2" d="M303.6,576.2l-2.2,2.6l-0.7-0.5l1.8-2.2l-1.8-2.2l0.7-0.4l2.2,2.6V576.2z M306.1,576.2l-2.2,2.6l-0.7-0.5
  			l1.8-2.2l-1.8-2.2l0.7-0.4l2.2,2.6V576.2z"/>
  	</g>
  </g>
</svg>
