<svg version="1.1" class="genplan--js" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 576.8 603.3" xml:space="preserve" id="first">
  <g id="zzzend">
  	<g>
  		<path class="st0" d="M241.1,324.6l-26.5-15.2c-0.7-0.4-1-1.3-0.6-2l0,0c0.4-0.7,1.3-1,2-0.6l26.5,15.2c0.7,0.4,1,1.3,0.6,2l0,0
  			C242.8,324.7,241.9,325,241.1,324.6"/>
  		<path class="st0" d="M235,335.4l-26.5-15.2c-0.7-0.4-1-1.3-0.6-2l0,0c0.4-0.7,1.3-1,2-0.6l26.5,15.2c0.7,0.4,1,1.3,0.6,2l0,0
  			C236.6,335.6,235.7,335.8,235,335.4"/>

  			<rect x="212.8" y="314.5" transform="matrix(0.4959 -0.8684 0.8684 0.4959 -165.4356 346.4966)" class="st0" width="5.9" height="2.5"/>

  			<rect x="216.6" y="316.7" transform="matrix(0.4959 -0.8684 0.8684 0.4959 -165.4031 350.9836)" class="st0" width="5.9" height="2.5"/>

  			<rect x="220.5" y="318.9" transform="matrix(0.4959 -0.8684 0.8684 0.4959 -165.3705 355.4708)" class="st0" width="5.9" height="2.5"/>

  			<rect x="224.4" y="321.2" transform="matrix(0.4959 -0.8684 0.8684 0.4959 -165.3379 359.9578)" class="st0" width="5.9" height="2.5"/>

  			<rect x="228.3" y="323.4" transform="matrix(0.4959 -0.8684 0.8684 0.4959 -165.3054 364.4449)" class="st0" width="5.9" height="2.5"/>

  			<rect x="232.2" y="325.6" transform="matrix(0.4959 -0.8684 0.8684 0.4959 -165.2728 368.932)" class="st0" width="5.9" height="2.5"/>
  	</g>
  	<g>
  		<path class="st0" d="M241.1,229.2l-26.5,15.2c-0.7,0.4-1,1.3-0.6,2l0,0c0.4,0.7,1.3,1,2,0.6l26.5-15.2c0.7-0.4,1-1.3,0.6-2l0,0
  			C242.8,229,241.9,228.8,241.1,229.2"/>
  		<path class="st0" d="M235,218.3l-26.5,15.2c-0.7,0.4-1,1.3-0.6,2l0,0c0.4,0.7,1.3,1,2,0.6l26.5-15.2c0.7-0.4,1-1.3,0.6-2l0,0
  			C236.6,218.2,235.7,217.9,235,218.3"/>

  			<rect x="214.5" y="235" transform="matrix(0.8684 -0.4959 0.4959 0.8684 -89.6243 138.2878)" class="st0" width="2.5" height="5.9"/>

  			<rect x="218.4" y="232.8" transform="matrix(0.8684 -0.4959 0.4959 0.8684 -88.0149 139.9206)" class="st0" width="2.5" height="5.9"/>

  			<rect x="222.2" y="230.6" transform="matrix(0.8684 -0.4959 0.4959 0.8684 -86.4056 141.5534)" class="st0" width="2.5" height="5.9"/>

  			<rect x="226.1" y="228.4" transform="matrix(0.8684 -0.4959 0.4959 0.8684 -84.7962 143.1863)" class="st0" width="2.5" height="5.9"/>

  			<rect x="230" y="226.2" transform="matrix(0.8684 -0.4959 0.4959 0.8684 -83.1869 144.8192)" class="st0" width="2.5" height="5.9"/>

  			<rect x="233.9" y="224" transform="matrix(0.8684 -0.4959 0.4959 0.8684 -81.5775 146.4519)" class="st0" width="2.5" height="5.9"/>
  	</g>
  	<g>
  		<path class="st1" d="M268.5,432v1h-4.1v8.3h-1.1V432H268.5z"/>
  		<path class="st1" d="M275.9,441.3l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H275.9z M274.5,437.4l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H274.5z"/>
  		<path class="st1" d="M284.9,441.3h-1.1V433h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V441.3z"/>
  		<path class="st1" d="M292.7,441.3h-5.2V432h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V441.3z"/>
  		<path class="st1" d="M300.6,434.7c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1V432h2.4
  			C299.4,432,300.6,432.9,300.6,434.7z M295.8,436.7h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V436.7z"/>
  		<path class="st1" d="M307.7,441.3h-5.2V432h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V441.3z"/>
  		<path class="st1" d="M312.5,437.4l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H312.5z M314.4,432.9H313c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V432.9z"/>
  		<path class="st1" d="M325.4,432.8c-1,0-1.8,0.3-2.4,1c-0.6,0.7-0.9,1.6-0.9,2.8c0,1.2,0.3,2.2,0.9,2.8s1.4,1,2.4,1
  			c0.6,0,1.4-0.1,2.2-0.3v0.9c-0.6,0.2-1.4,0.4-2.4,0.4c-1.4,0-2.4-0.4-3.2-1.2c-0.7-0.8-1.1-2-1.1-3.5c0-1,0.2-1.8,0.5-2.5
  			c0.4-0.7,0.9-1.3,1.5-1.7c0.7-0.4,1.5-0.6,2.4-0.6c1,0,1.8,0.2,2.6,0.5l-0.5,0.9C326.8,433,326.1,432.8,325.4,432.8z"/>
  	</g>
  	<g>
  		<path class="st1" d="M267.9,112.3v1h-4.1v8.3h-1.1v-9.3H267.9z"/>
  		<path class="st1" d="M275.3,121.6l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H275.3z M273.8,117.7l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H273.8z"/>
  		<path class="st1" d="M284.3,121.6h-1.1v-8.3h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V121.6z"/>
  		<path class="st1" d="M292,121.6h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V121.6z"/>
  		<path class="st1" d="M299.9,115.1c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C298.8,112.3,299.9,113.2,299.9,115.1z M295.1,117.1h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V117.1z"/>
  		<path class="st1" d="M307.1,121.6h-5.2v-9.3h5.2v1H303v3h3.8v1H303v3.4h4.1V121.6z"/>
  		<path class="st1" d="M311.9,117.8l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H311.9z M313.8,113.3h-1.4c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V113.3z"/>
  		<path class="st1" d="M326.6,121.6l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H326.6z M325.1,117.7l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H325.1z"/>
  	</g>
  	<g>
  		<path class="st1" d="M493,95.4H492v-8.3H489v-1h7v1H493V95.4z"/>
  		<path class="st1" d="M496.1,88.4h1.1l1.5,4c0.3,0.9,0.5,1.6,0.6,2h0.1c0.1-0.2,0.2-0.6,0.3-1.1s0.8-2.1,1.7-4.8h1.1l-3,7.9
  			c-0.3,0.8-0.6,1.3-1,1.7s-0.9,0.5-1.5,0.5c-0.3,0-0.6,0-1-0.1v-0.8c0.2,0.1,0.5,0.1,0.8,0.1c0.7,0,1.2-0.4,1.5-1.2l0.4-1
  			L496.1,88.4z"/>
  		<path class="st1" d="M508,95.4l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H508z M505.7,94.6
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5V92l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S505.3,94.6,505.7,94.6z"/>
  		<path class="st1" d="M516.2,95.4h-1.1v-6.1H513c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V95.4z"/>
  		<path class="st1" d="M521.4,95.5c-1,0-1.8-0.3-2.4-0.9S518,93.1,518,92c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C522.2,95.5,521.8,95.5,521.4,95.5z M521.1,89.2c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S521.6,89.2,521.1,89.2z"/>
  		<path class="st1" d="M530.4,89.3h-2.3v6.1h-1.1v-6.1h-2.2v-0.9h5.5V89.3z"/>
  	</g>
  	<g>
  		<path class="st1" d="M151.6,550.1h2.6c1.2,0,2.1,0.2,2.7,0.6c0.5,0.4,0.8,1,0.8,1.7c0,0.5-0.2,1-0.5,1.4s-0.8,0.6-1.3,0.7v0.1
  			c1.4,0.2,2.1,1,2.1,2.2c0,0.8-0.3,1.5-0.8,1.9s-1.3,0.7-2.4,0.7h-3.2V550.1z M152.6,554.1h1.8c0.8,0,1.3-0.1,1.6-0.4
  			s0.5-0.6,0.5-1.2c0-0.5-0.2-0.9-0.6-1.1c-0.4-0.2-1-0.3-1.8-0.3h-1.6V554.1z M152.6,555v3.5h1.9c0.7,0,1.3-0.1,1.7-0.4
  			s0.6-0.7,0.6-1.4c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.8-0.4H152.6z"/>
  		<path class="st1" d="M161.5,555.8l-2.4-3.4h1.2l1.8,2.7l1.8-2.7h1.2l-2.4,3.4l2.5,3.6h-1.2l-1.9-2.8l-2,2.8H159L161.5,555.8z"/>
  		<path class="st1" d="M172.6,555.9c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C172.4,553.9,172.6,554.8,172.6,555.9z
  			 M167.3,555.9c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S167.3,555,167.3,555.9z"/>
  		<path class="st1" d="M180.5,561.8h-1v-2.4h-4.9v2.4h-1v-3.3h0.5c0.6-0.8,1-1.7,1.3-2.7c0.3-1,0.5-2.1,0.5-3.3h3.5v6h1V561.8z
  			 M178.5,558.5v-5.2H177c-0.1,0.9-0.2,1.9-0.5,2.9s-0.7,1.8-1.1,2.4H178.5z"/>
  		<path class="st1" d="M186.3,552.4v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9h-1.3v-7H186.3z"/>
  		<path class="st1" d="M194.9,555.3c1.3,0,2-0.4,2-1.1c0-0.7-0.5-1-1.6-1c-0.3,0-0.6,0-0.9,0.1c-0.3,0.1-0.6,0.2-1,0.4l-0.4-0.9
  			c0.7-0.3,1.5-0.5,2.4-0.5c0.8,0,1.4,0.2,1.9,0.5c0.5,0.3,0.7,0.8,0.7,1.3c0,0.8-0.4,1.3-1.3,1.5v0.1c0.5,0.2,0.9,0.4,1.2,0.7
  			c0.2,0.3,0.4,0.7,0.4,1.1c0,0.6-0.3,1.1-0.8,1.5s-1.2,0.5-2.1,0.5c-1,0-1.8-0.2-2.3-0.5v-1c0.8,0.4,1.6,0.5,2.3,0.5
  			c0.6,0,1.1-0.1,1.4-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.8-0.7-1.2-2-1.2h-1v-0.9H194.9z"/>
  		<path class="st1" d="M207.4,553.3h-3.1v6.1h-1.1v-7h4.2V553.3z"/>
  		<path class="st1" d="M213,559.4l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H213z M210.7,558.6
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5V556l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S210.2,558.6,210.7,558.6z"/>
  		<path class="st1" d="M221.2,559.4h-1.1v-6.1H218c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V559.4z"/>
  		<path class="st1" d="M226.3,559.5c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.6c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C227.2,559.5,226.8,559.5,226.3,559.5z M226.1,553.2c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S226.6,553.2,226.1,553.2z"/>
  		<path class="st1" d="M233.9,559.5c-0.5,0-0.9-0.1-1.2-0.3c-0.4-0.2-0.7-0.4-0.9-0.8h-0.1c0.1,0.4,0.1,0.8,0.1,1.2v2.9h-1.1v-10.1
  			h0.9l0.1,1h0.1c0.3-0.4,0.6-0.7,0.9-0.8c0.4-0.2,0.8-0.3,1.2-0.3c0.9,0,1.6,0.3,2.1,0.9c0.5,0.6,0.8,1.5,0.8,2.7
  			c0,1.1-0.3,2-0.8,2.7S234.8,559.5,233.9,559.5z M233.8,553.2c-0.7,0-1.2,0.2-1.5,0.6c-0.3,0.4-0.5,1-0.5,1.9v0.2
  			c0,1,0.2,1.7,0.5,2.1c0.3,0.4,0.8,0.6,1.6,0.6c0.6,0,1.1-0.2,1.4-0.7s0.5-1.2,0.5-2c0-0.9-0.2-1.5-0.5-2
  			C234.9,553.4,234.4,553.2,233.8,553.2z"/>
  		<path class="st1" d="M241.6,559.5c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.6c0-1.1,0.3-2,0.8-2.7c0.6-0.7,1.3-1,2.2-1
  			c0.9,0,1.6,0.3,2.1,0.9s0.8,1.3,0.8,2.3v0.7h-4.8c0,0.8,0.2,1.4,0.6,1.9c0.4,0.4,0.9,0.6,1.7,0.6c0.8,0,1.5-0.2,2.2-0.5v0.9
  			c-0.4,0.2-0.7,0.3-1.1,0.3C242.5,559.5,242.1,559.5,241.6,559.5z M241.3,553.2c-0.6,0-1,0.2-1.3,0.5c-0.3,0.4-0.5,0.9-0.6,1.5h3.6
  			c0-0.7-0.1-1.2-0.4-1.5S241.9,553.2,241.3,553.2z"/>
  		<path class="st1" d="M247,552.4v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9H246v-7H247z"/>
  		<path class="st1" d="M261.2,558.4l0.2-0.6l0.3-0.8l1.9-4.6h1.3v6.9H264v-5.7l-0.1,0.4l-0.4,1l-1.8,4.4h-0.9L259,555
  			c-0.2-0.6-0.4-1-0.5-1.3v5.7h-0.9v-6.9h1.3l1.8,4.4C260.9,557.3,261,557.8,261.2,558.4z"/>
  		<path class="st1" d="M271.4,559.4l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H271.4z M269,558.6
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5V556l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S268.6,558.6,269,558.6z"/>
  		<path class="st1" d="M278.6,553.3h-3.1v6.1h-1.1v-7h4.2V553.3z"/>
  		<path class="st1" d="M284.2,559.4l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H284.2z M281.8,558.6
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5V556l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S281.4,558.6,281.8,558.6z"/>
  		<path class="st1" d="M288.5,555.3c1.3,0,2-0.4,2-1.1c0-0.7-0.5-1-1.6-1c-0.3,0-0.6,0-0.9,0.1c-0.3,0.1-0.6,0.2-1,0.4l-0.4-0.9
  			c0.7-0.3,1.5-0.5,2.4-0.5c0.8,0,1.4,0.2,1.9,0.5c0.5,0.3,0.7,0.8,0.7,1.3c0,0.8-0.4,1.3-1.3,1.5v0.1c0.5,0.2,0.9,0.4,1.2,0.7
  			c0.2,0.3,0.4,0.7,0.4,1.1c0,0.6-0.3,1.1-0.8,1.5s-1.2,0.5-2.1,0.5c-1,0-1.8-0.2-2.3-0.5v-1c0.8,0.4,1.6,0.5,2.3,0.5
  			c0.6,0,1.1-0.1,1.4-0.3c0.3-0.2,0.5-0.5,0.5-0.9c0-0.8-0.7-1.2-2-1.2h-1v-0.9H288.5z"/>
  		<path class="st1" d="M294.4,552.4v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8l-3.8,5.9h-1.3v-7H294.4z"/>
  		<path class="st1" d="M302.7,552.4v2.9h3.9v-2.9h1.1v7h-1.1v-3.1h-3.9v3.1h-1.1v-7H302.7z"/>
  		<path class="st1" d="M315.9,555.9c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C315.6,553.9,315.9,554.8,315.9,555.9z
  			 M310.6,555.9c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S310.6,555,310.6,555.9z"/>
  		<path class="st1" d="M323.4,554.2c0,0.5-0.1,0.8-0.4,1c-0.3,0.2-0.6,0.4-1.1,0.5v0.1c0.6,0.1,1,0.3,1.3,0.5
  			c0.3,0.3,0.4,0.6,0.4,1.1c0,0.6-0.2,1.1-0.7,1.5c-0.5,0.4-1.2,0.5-2.1,0.5h-3.1v-7h3.1C322.5,552.4,323.4,553,323.4,554.2z
  			 M322.4,554.3c0-0.3-0.1-0.6-0.4-0.7c-0.3-0.1-0.7-0.2-1.2-0.2h-2v2h1.8c0.7,0,1.1-0.1,1.4-0.2
  			C322.2,554.9,322.4,554.6,322.4,554.3z M322.6,557.3c0-0.4-0.1-0.7-0.4-0.8c-0.3-0.2-0.8-0.3-1.4-0.3h-1.9v2.3h1.9
  			C322,558.5,322.6,558.1,322.6,557.3z"/>
  		<path class="st1" d="M154.8,575h-1v-6.6c0-0.5,0-1.1,0.1-1.6c-0.1,0.1-0.2,0.2-0.3,0.3s-0.6,0.5-1.5,1.2l-0.6-0.7l2.5-1.9h0.9V575
  			z"/>
  		<path class="st1" d="M163.3,575.1c-0.7,0-1.3-0.1-1.8-0.4v-0.9c0.3,0.1,0.5,0.2,0.8,0.3c0.3,0.1,0.6,0.1,1,0.1
  			c0.7,0,1.3-0.2,1.7-0.6c0.4-0.4,0.6-1,0.7-1.8h-3.5v-0.9h3.5c-0.1-0.7-0.3-1.3-0.6-1.6c-0.4-0.3-0.9-0.5-1.6-0.5
  			c-0.4,0-1,0.1-1.6,0.3l-0.3-0.9c0.2-0.1,0.5-0.2,0.9-0.3c0.3-0.1,0.7-0.1,1-0.1c1.1,0,1.9,0.3,2.5,0.9s0.8,1.5,0.8,2.7
  			c0,1.1-0.3,2-0.9,2.7C165.2,574.8,164.4,575.1,163.3,575.1z"/>
  		<path class="st1" d="M173.3,568.9H171v6.1H170v-6.1h-2.2V568h5.5V568.9z"/>
  		<path class="st1" d="M179,575l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H179z M176.6,574.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S176.2,574.2,176.6,574.2z"/>
  		<path class="st1" d="M185.1,568h1v3.4l2.9-3.4h1.2l-2.9,3.4l3.2,3.6h-1.2l-3.1-3.5v3.5h-1v-3.5L182,575h-1.2l3.1-3.6l-2.9-3.4h1.2
  			l2.9,3.4V568z"/>
  		<path class="st1" d="M195.8,575l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H195.8z M193.4,574.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S193,574.2,193.4,574.2z"/>
  		<path class="st1" d="M205.1,575H204v-8.3h-2.9v-1h7v1h-2.9V575z"/>
  		<path class="st1" d="M215.3,568.4c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C214.2,565.7,215.3,566.6,215.3,568.4z M210.5,570.4h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V570.4z"/>
  		<path class="st1" d="M223.9,575h-1.3l-4.3-4.7v4.7h-1.1v-9.3h1.1v4.5l4.2-4.5h1.2l-4.1,4.5L223.9,575z"/>
  		<path class="st2" d="M227.8,571.5l2.2-2.6l0.8,0.4l-1.8,2.2l1.8,2.2l-0.8,0.5l-2.2-2.6V571.5z M230.3,571.5l2.2-2.6l0.7,0.4
  			l-1.8,2.2l1.8,2.2l-0.7,0.5l-2.2-2.6V571.5z"/>
  		<path class="st2" d="M241.1,572.3c0,0.9-0.3,1.6-0.8,2s-1.4,0.7-2.5,0.7h-2.7v-9.3h5.5v1h-4.4v3h1.4c0.8,0,1.5,0.1,2,0.3
  			s0.9,0.5,1.1,0.8C240.9,571.1,241.1,571.6,241.1,572.3z M236.1,574h1.5c0.8,0,1.4-0.1,1.8-0.4s0.5-0.7,0.5-1.4
  			c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.9-0.4h-1.3V574z"/>
  		<path class="st2" d="M247.1,575l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H247.1z M244.8,574.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S244.3,574.2,244.8,574.2z"/>
  		<path class="st2" d="M255.3,575h-1.1v-6.1h-2.1c-0.1,1.5-0.3,2.7-0.5,3.6c-0.2,0.9-0.5,1.5-0.8,1.9c-0.3,0.4-0.7,0.6-1.2,0.6
  			c-0.2,0-0.4,0-0.5-0.1v-0.8c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.5,1.2-1.5c0.3-1,0.5-2.6,0.7-4.7h4.1V575z"/>
  		<path class="st2" d="M261.6,568h1.2l-3,3.4l3.2,3.6h-1.2l-3.2-3.5v3.5h-1.1v-7h1.1v3.4L261.6,568z"/>
  		<path class="st2" d="M268.5,575l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H268.5z M266.2,574.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S265.7,574.2,266.2,574.2z"/>
  		<path class="st2" d="M272.5,568v2.9h3.9V568h1.1v7h-1.1v-3.1h-3.9v3.1h-1.1v-7H272.5z"/>
  		<path class="st2" d="M280.7,568v4.4l0,1.2l0,0.4l3.8-5.9h1.3v7h-1v-4.3l0-0.8l0-0.8L281,575h-1.3v-7H280.7z"/>
  		<path class="st2" d="M288.3,575h-1.2l2-2.9c-0.5-0.1-0.9-0.3-1.2-0.7c-0.3-0.3-0.4-0.8-0.4-1.3c0-0.6,0.2-1.1,0.6-1.5
  			c0.4-0.4,1-0.5,1.8-0.5h3.1v7h-1.1v-2.8h-1.8L288.3,575z M288.4,570.1c0,0.8,0.6,1.2,1.8,1.2h1.7v-2.3H290
  			C289,568.9,288.4,569.3,288.4,570.1z"/>
  		<path class="st2" d="M306,575h-1.2l-5.1-7.8h-0.1c0.1,0.9,0.1,1.8,0.1,2.5v5.3h-1v-9.3h1.2l5.1,7.8h0.1c0-0.1,0-0.5-0.1-1.1
  			c0-0.6,0-1.1,0-1.3v-5.3h1V575z"/>
  		<path class="st2" d="M314.4,571.5c0,1.1-0.3,2-0.9,2.7c-0.6,0.6-1.4,1-2.4,1c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.3
  			c-0.3-0.5-0.4-1.2-0.4-1.9c0-1.1,0.3-2,0.8-2.7c0.6-0.6,1.4-0.9,2.4-0.9c1,0,1.7,0.3,2.3,1C314.1,569.5,314.4,570.4,314.4,571.5z
  			 M309.1,571.5c0,0.9,0.2,1.6,0.5,2c0.4,0.5,0.9,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.4-0.5,0.5-1.1,0.5-2c0-0.9-0.2-1.6-0.5-2
  			s-0.9-0.7-1.6-0.7c-0.7,0-1.2,0.2-1.6,0.7S309.1,570.6,309.1,571.5z"/>
  		<path class="st2" d="M317.7,575l-2.6-7h1.1l1.5,4.1c0.3,1,0.5,1.6,0.6,1.9h0.1c0-0.2,0.2-0.7,0.4-1.4c0.2-0.7,0.8-2.2,1.7-4.6h1.1
  			l-2.6,7H317.7z"/>
  		<path class="st2" d="M327,575l-0.2-1h-0.1c-0.3,0.4-0.7,0.7-1,0.9s-0.8,0.2-1.3,0.2c-0.7,0-1.2-0.2-1.6-0.5s-0.6-0.9-0.6-1.5
  			c0-1.4,1.1-2.1,3.4-2.2l1.2,0v-0.4c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.6-0.4-1.1-0.4c-0.6,0-1.2,0.2-2,0.5l-0.3-0.8
  			c0.3-0.2,0.7-0.3,1.1-0.4c0.4-0.1,0.8-0.2,1.2-0.2c0.8,0,1.4,0.2,1.8,0.6c0.4,0.4,0.6,1,0.6,1.8v4.7H327z M324.6,574.2
  			c0.7,0,1.2-0.2,1.5-0.5c0.4-0.4,0.6-0.9,0.6-1.5v-0.6l-1.1,0c-0.8,0-1.4,0.2-1.8,0.4s-0.6,0.6-0.6,1.1c0,0.4,0.1,0.7,0.3,0.9
  			S324.2,574.2,324.6,574.2z"/>
  		<path class="st2" d="M332.3,571.6l-2.2,2.6l-0.7-0.5l1.8-2.2l-1.8-2.2l0.7-0.4l2.2,2.6V571.6z M334.8,571.6l-2.2,2.6l-0.7-0.5
  			l1.8-2.2l-1.8-2.2l0.7-0.4l2.2,2.6V571.6z"/>
  	</g>
  	<g>
  		<path class="st2" d="M36.5,144.4v2.6c0,1.2-0.2,2.1-0.6,2.7c-0.4,0.5-1,0.8-1.7,0.8c-0.5,0-1-0.2-1.4-0.5s-0.6-0.8-0.7-1.3H32
  			c-0.2,1.4-1,2.1-2.2,2.1c-0.8,0-1.5-0.3-1.9-0.8s-0.7-1.3-0.7-2.4v-3.2H36.5z M31.6,145.5h-3.5v1.9c0,0.7,0.1,1.3,0.4,1.7
  			s0.7,0.6,1.4,0.6c0.6,0,1-0.2,1.3-0.6c0.3-0.4,0.4-1,0.4-1.8V145.5z M32.5,145.5v1.8c0,0.8,0.1,1.3,0.4,1.6s0.6,0.5,1.2,0.5
  			c0.5,0,0.9-0.2,1.1-0.6c0.2-0.4,0.3-1,0.3-1.8v-1.6H32.5z"/>
  		<path class="st2" d="M30.7,154.4l3.4-2.4v1.2l-2.7,1.8l2.7,1.8v1.2l-3.4-2.4l-3.6,2.5v-1.2L30,155l-2.8-2v-1.2L30.7,154.4z"/>
  		<path class="st2" d="M30.7,165.5c-1.1,0-2-0.3-2.7-0.9c-0.6-0.6-1-1.4-1-2.4c0-0.6,0.1-1.2,0.4-1.7c0.3-0.5,0.7-0.9,1.3-1.1
  			c0.5-0.3,1.2-0.4,1.9-0.4c1.1,0,2,0.3,2.7,0.8c0.6,0.6,0.9,1.4,0.9,2.4c0,1-0.3,1.7-1,2.3C32.7,165.2,31.8,165.5,30.7,165.5z
  			 M30.7,160.2c-0.9,0-1.6,0.2-2,0.5c-0.5,0.4-0.7,0.9-0.7,1.6s0.2,1.2,0.7,1.6c0.5,0.4,1.1,0.5,2,0.5c0.9,0,1.6-0.2,2-0.5
  			s0.7-0.9,0.7-1.6c0-0.7-0.2-1.2-0.7-1.6S31.6,160.2,30.7,160.2z"/>
  		<path class="st2" d="M24.8,173.4v-1h2.4v-4.9h-2.4v-1h3.3v0.5c0.8,0.6,1.7,1,2.7,1.3c1,0.3,2.1,0.5,3.3,0.5v3.5h-6v1H24.8z
  			 M28.1,171.4h5.2v-1.6c-0.9-0.1-1.9-0.2-2.9-0.5s-1.8-0.7-2.4-1.1V171.4z"/>
  		<path class="st2" d="M27.1,180.9c0-1,0.3-1.8,0.9-2.3c0.6-0.6,1.5-0.8,2.6-0.8c1.2,0,2.1,0.3,2.7,0.8s1,1.4,1,2.4
  			c0,0.3,0,0.7-0.1,1c-0.1,0.3-0.2,0.6-0.3,0.8l-0.9-0.3c0.1-0.2,0.2-0.5,0.2-0.8s0.1-0.5,0.1-0.7c0-1.4-0.9-2.1-2.7-2.1
  			c-0.9,0-1.5,0.2-2,0.5s-0.7,0.9-0.7,1.5c0,0.6,0.1,1.2,0.4,1.8h-0.9C27.2,182.2,27.1,181.6,27.1,180.9z"/>
  		<path class="st2" d="M27.2,188.8v-1.1h7v5.8h-7v-1.1h6v-3.7H27.2z"/>
  		<path class="st2" d="M27.2,200.1l1-0.2v-0.1c-0.4-0.3-0.7-0.7-0.9-1s-0.2-0.8-0.2-1.3c0-0.7,0.2-1.2,0.5-1.6s0.9-0.6,1.5-0.6
  			c1.4,0,2.1,1.1,2.2,3.4l0,1.2h0.4c0.5,0,0.9-0.1,1.2-0.4c0.3-0.2,0.4-0.6,0.4-1.1c0-0.6-0.2-1.2-0.5-2l0.8-0.3
  			c0.2,0.3,0.3,0.7,0.4,1.1c0.1,0.4,0.2,0.8,0.2,1.2c0,0.8-0.2,1.4-0.6,1.8c-0.4,0.4-1,0.6-1.8,0.6h-4.7V200.1z M27.9,197.7
  			c0,0.7,0.2,1.2,0.5,1.5c0.4,0.4,0.9,0.6,1.5,0.6h0.6l0-1.1c0-0.8-0.2-1.4-0.4-1.8s-0.6-0.6-1.1-0.6c-0.4,0-0.7,0.1-0.9,0.3
  			S27.9,197.3,27.9,197.7z"/>
  		<path class="st2" d="M27.1,206.3c0-0.5,0.1-0.9,0.3-1.2c0.2-0.4,0.4-0.7,0.8-0.9V204c-0.4,0.1-0.8,0.1-1.2,0.1h-2.9V203h10.1v0.9
  			l-1,0.1v0.1c0.4,0.3,0.7,0.6,0.8,0.9c0.2,0.4,0.3,0.8,0.3,1.2c0,0.9-0.3,1.6-0.9,2.1c-0.6,0.5-1.5,0.8-2.7,0.8
  			c-1.1,0-2-0.3-2.7-0.8S27.1,207.2,27.1,206.3z M33.4,206.1c0-0.7-0.2-1.2-0.6-1.5c-0.4-0.3-1-0.5-1.9-0.5h-0.2
  			c-1,0-1.7,0.2-2.1,0.5c-0.4,0.3-0.6,0.8-0.6,1.6c0,0.6,0.2,1.1,0.7,1.4s1.2,0.5,2,0.5c0.9,0,1.5-0.2,2-0.5
  			C33.1,207.2,33.4,206.7,33.4,206.1z"/>
  		<path class="st2" d="M34.1,215.1v1.2l-3.4-3l-3.6,3.2v-1.2l3.5-3.2h-3.5V211h7v1.1h-3.4L34.1,215.1z"/>
  		<path class="st2" d="M30.7,223.7c-1.1,0-2-0.3-2.7-0.9c-0.6-0.6-1-1.4-1-2.4c0-0.6,0.1-1.2,0.4-1.7c0.3-0.5,0.7-0.9,1.3-1.1
  			c0.5-0.3,1.2-0.4,1.9-0.4c1.1,0,2,0.3,2.7,0.8c0.6,0.6,0.9,1.4,0.9,2.4c0,1-0.3,1.7-1,2.3C32.7,223.5,31.8,223.7,30.7,223.7z
  			 M30.7,218.4c-0.9,0-1.6,0.2-2,0.5c-0.5,0.4-0.7,0.9-0.7,1.6s0.2,1.2,0.7,1.6c0.5,0.4,1.1,0.5,2,0.5c0.9,0,1.6-0.2,2-0.5
  			s0.7-0.9,0.7-1.6c0-0.7-0.2-1.2-0.7-1.6S31.6,218.4,30.7,218.4z"/>
  		<path class="st2" d="M32.4,231.2c-0.5,0-0.8-0.1-1-0.4c-0.2-0.3-0.4-0.6-0.5-1.1h-0.1c-0.1,0.6-0.3,1-0.5,1.3
  			c-0.3,0.3-0.6,0.4-1.1,0.4c-0.6,0-1.1-0.2-1.5-0.7c-0.4-0.5-0.5-1.2-0.5-2.1v-3.1h7v3.1C34.1,230.4,33.6,231.2,32.4,231.2z
  			 M29.3,230.4c0.4,0,0.7-0.1,0.8-0.4c0.2-0.3,0.3-0.8,0.3-1.4v-1.9h-2.3v1.9C28.1,229.8,28.5,230.4,29.3,230.4z M32.3,230.2
  			c0.3,0,0.6-0.1,0.7-0.4c0.1-0.3,0.2-0.7,0.2-1.2v-2h-2v1.8c0,0.7,0.1,1.1,0.2,1.4C31.7,230.1,31.9,230.2,32.3,230.2z"/>
  		<path class="st2" d="M34.1,237v1.2l-3.4-3l-3.6,3.2v-1.2l3.5-3.2h-3.5V233h7v1.1h-3.4L34.1,237z"/>
  		<path class="st2" d="M34.1,240.7h-4.4l-1.2,0l-0.4,0l5.9,3.8v1.3h-7v-1h4.3l0.8,0l0.8,0l-5.9-3.8v-1.3h7V240.7z"/>
  		<path class="st2" d="M27.2,254.4v-1.1h8.3v-2.9h1v7h-1v-2.9H27.2z"/>
  		<path class="st2" d="M33.8,264.6c-0.9,0-1.7-0.3-2.2-1c-0.5-0.6-0.8-1.6-0.8-2.8v-1.1h-3.7v-1.1h9.3v2.4
  			C36.5,263.4,35.6,264.6,33.8,264.6z M31.8,259.8v1c0,1,0.2,1.6,0.5,2.1c0.3,0.4,0.8,0.6,1.5,0.6c0.6,0,1.1-0.2,1.4-0.6
  			c0.3-0.4,0.5-1,0.5-1.9v-1.2H31.8z"/>
  		<path class="st2" d="M27.2,273.2v-1.3l4.7-4.3h-4.7v-1.1h9.3v1.1H32l4.5,4.2v1.2l-4.5-4.1L27.2,273.2z"/>
  		<path class="st2" d="M30.7,277.1l2.6,2.2l-0.4,0.8l-2.2-1.8l-2.2,1.8l-0.5-0.8l2.6-2.2H30.7z M30.7,279.6l2.6,2.2l-0.4,0.7
  			l-2.2-1.8l-2.2,1.8l-0.5-0.7l2.6-2.2H30.7z"/>
  		<path class="st2" d="M29.9,290.3c-0.9,0-1.6-0.3-2-0.8s-0.7-1.4-0.7-2.5v-2.7h9.3v5.5h-1v-4.4h-3v1.4c0,0.8-0.1,1.5-0.3,2
  			s-0.5,0.9-0.8,1.1C31,290.2,30.5,290.3,29.9,290.3z M28.1,285.4v1.5c0,0.8,0.1,1.4,0.4,1.8s0.7,0.5,1.4,0.5c0.6,0,1-0.2,1.3-0.6
  			c0.3-0.4,0.4-1,0.4-1.9v-1.3H28.1z"/>
  		<path class="st2" d="M27.2,296.4l1-0.2v-0.1c-0.4-0.3-0.7-0.7-0.9-1s-0.2-0.8-0.2-1.3c0-0.7,0.2-1.2,0.5-1.6s0.9-0.6,1.5-0.6
  			c1.4,0,2.1,1.1,2.2,3.4l0,1.2h0.4c0.5,0,0.9-0.1,1.2-0.4c0.3-0.2,0.4-0.6,0.4-1.1c0-0.6-0.2-1.2-0.5-2l0.8-0.3
  			c0.2,0.3,0.3,0.7,0.4,1.1c0.1,0.4,0.2,0.8,0.2,1.2c0,0.8-0.2,1.4-0.6,1.8c-0.4,0.4-1,0.6-1.8,0.6h-4.7V296.4z M27.9,294
  			c0,0.7,0.2,1.2,0.5,1.5c0.4,0.4,0.9,0.6,1.5,0.6h0.6l0-1.1c0-0.8-0.2-1.4-0.4-1.8s-0.6-0.6-1.1-0.6c-0.4,0-0.7,0.1-0.9,0.3
  			S27.9,293.6,27.9,294z"/>
  		<path class="st2" d="M27.2,304.5v-1.1h6.1v-2.1c-1.5-0.1-2.7-0.3-3.6-0.5c-0.9-0.2-1.5-0.5-1.9-0.8c-0.4-0.3-0.6-0.7-0.6-1.2
  			c0-0.2,0-0.4,0.1-0.5H28c0,0.1,0,0.2,0,0.3c0,0.5,0.5,0.9,1.5,1.2c1,0.3,2.6,0.5,4.7,0.7v4.1H27.2z"/>
  		<path class="st2" d="M34.1,310.8v1.2l-3.4-3l-3.6,3.2V311l3.5-3.2h-3.5v-1.1h7v1.1h-3.4L34.1,310.8z"/>
  		<path class="st2" d="M27.2,317.8l1-0.2v-0.1c-0.4-0.3-0.7-0.7-0.9-1s-0.2-0.8-0.2-1.3c0-0.7,0.2-1.2,0.5-1.6s0.9-0.6,1.5-0.6
  			c1.4,0,2.1,1.1,2.2,3.4l0,1.2h0.4c0.5,0,0.9-0.1,1.2-0.4c0.3-0.2,0.4-0.6,0.4-1.1c0-0.6-0.2-1.2-0.5-2l0.8-0.3
  			c0.2,0.3,0.3,0.7,0.4,1.1c0.1,0.4,0.2,0.8,0.2,1.2c0,0.8-0.2,1.4-0.6,1.8c-0.4,0.4-1,0.6-1.8,0.6h-4.7V317.8z M27.9,315.4
  			c0,0.7,0.2,1.2,0.5,1.5c0.4,0.4,0.9,0.6,1.5,0.6h0.6l0-1.1c0-0.8-0.2-1.4-0.4-1.8s-0.6-0.6-1.1-0.6c-0.4,0-0.7,0.1-0.9,0.3
  			S27.9,315,27.9,315.4z"/>
  		<path class="st2" d="M34.1,321.8h-2.9v3.9h2.9v1.1h-7v-1.1h3.1v-3.9h-3.1v-1.1h7V321.8z"/>
  		<path class="st2" d="M34.1,330h-4.4l-1.2,0l-0.4,0l5.9,3.8v1.3h-7v-1h4.3l0.8,0l0.8,0l-5.9-3.8V329h7V330z"/>
  		<path class="st2" d="M27.2,337.6v-1.2l2.9,2c0.1-0.5,0.3-0.9,0.7-1.2c0.3-0.3,0.8-0.4,1.3-0.4c0.6,0,1.1,0.2,1.5,0.6
  			c0.4,0.4,0.5,1,0.5,1.8v3.1h-7v-1.1H30v-1.8L27.2,337.6z M32.1,337.7c-0.8,0-1.2,0.6-1.2,1.8v1.7h2.3v-1.9
  			C33.2,338.2,32.8,337.7,32.1,337.7z"/>
  		<path class="st2" d="M27.2,355.2V354l7.8-5.1v-0.1c-0.9,0.1-1.8,0.1-2.5,0.1h-5.3v-1h9.3v1.2l-7.8,5.1v0.1c0.1,0,0.5,0,1.1-0.1
  			c0.6,0,1.1,0,1.3,0h5.3v1H27.2z"/>
  		<path class="st2" d="M30.7,363.6c-1.1,0-2-0.3-2.7-0.9c-0.6-0.6-1-1.4-1-2.4c0-0.6,0.1-1.2,0.4-1.7c0.3-0.5,0.7-0.9,1.3-1.1
  			c0.5-0.3,1.2-0.4,1.9-0.4c1.1,0,2,0.3,2.7,0.8c0.6,0.6,0.9,1.4,0.9,2.4c0,1-0.3,1.7-1,2.3C32.7,363.4,31.8,363.6,30.7,363.6z
  			 M30.7,358.3c-0.9,0-1.6,0.2-2,0.5c-0.5,0.4-0.7,0.9-0.7,1.6s0.2,1.2,0.7,1.6c0.5,0.4,1.1,0.5,2,0.5c0.9,0,1.6-0.2,2-0.5
  			s0.7-0.9,0.7-1.6c0-0.7-0.2-1.2-0.7-1.6S31.6,358.3,30.7,358.3z"/>
  		<path class="st2" d="M27.2,367l7-2.6v1.1L30,367c-1,0.3-1.6,0.5-1.9,0.6v0.1c0.2,0,0.7,0.2,1.4,0.4c0.7,0.2,2.2,0.8,4.6,1.7v1.1
  			l-7-2.6V367z"/>
  		<path class="st2" d="M27.2,376.3l1-0.2V376c-0.4-0.3-0.7-0.7-0.9-1s-0.2-0.8-0.2-1.3c0-0.7,0.2-1.2,0.5-1.6s0.9-0.6,1.5-0.6
  			c1.4,0,2.1,1.1,2.2,3.4l0,1.2h0.4c0.5,0,0.9-0.1,1.2-0.4c0.3-0.2,0.4-0.6,0.4-1.1c0-0.6-0.2-1.2-0.5-2l0.8-0.3
  			c0.2,0.3,0.3,0.7,0.4,1.1c0.1,0.4,0.2,0.8,0.2,1.2c0,0.8-0.2,1.4-0.6,1.8c-0.4,0.4-1,0.6-1.8,0.6h-4.7V376.3z M27.9,373.9
  			c0,0.7,0.2,1.2,0.5,1.5c0.4,0.4,0.9,0.6,1.5,0.6h0.6l0-1.1c0-0.8-0.2-1.4-0.4-1.8s-0.6-0.6-1.1-0.6c-0.4,0-0.7,0.1-0.9,0.3
  			S27.9,373.5,27.9,373.9z"/>
  		<path class="st2" d="M30.5,381.5l-2.6-2.2l0.5-0.7l2.2,1.8l2.2-1.8l0.4,0.7l-2.6,2.2H30.5z M30.5,384.1l-2.6-2.2l0.5-0.7l2.2,1.8
  			l2.2-1.8l0.4,0.7l-2.6,2.2H30.5z"/>
  	</g>
  	<g>
  		<path class="st1" d="M268.5,269.3v1h-4.1v8.3h-1.1v-9.3H268.5z"/>
  		<path class="st1" d="M275.9,278.6l-1.2-3h-3.7l-1.1,3h-1.1l3.7-9.3h0.9l3.7,9.3H275.9z M274.5,274.7l-1.1-2.9
  			c-0.1-0.4-0.3-0.8-0.4-1.3c-0.1,0.4-0.2,0.9-0.4,1.3l-1.1,2.9H274.5z"/>
  		<path class="st1" d="M284.9,278.6h-1.1v-8.3h-3l-0.2,1.5c-0.3,2-0.5,3.5-0.7,4.4c-0.2,0.9-0.5,1.6-0.8,2c-0.3,0.4-0.8,0.5-1.3,0.5
  			c-0.3,0-0.6-0.1-0.8-0.2v-0.9c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.5,0.4-1s0.3-1.3,0.5-2.6
  			c0.2-1.3,0.4-2.8,0.7-4.7h5V278.6z"/>
  		<path class="st1" d="M292.7,278.6h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V278.6z"/>
  		<path class="st1" d="M300.6,272.1c0,0.9-0.3,1.7-1,2.2c-0.6,0.5-1.6,0.8-2.8,0.8h-1.1v3.7h-1.1v-9.3h2.4
  			C299.4,269.3,300.6,270.2,300.6,272.1z M295.8,274.1h1c1,0,1.6-0.2,2.1-0.5c0.4-0.3,0.6-0.8,0.6-1.5c0-0.6-0.2-1.1-0.6-1.4
  			c-0.4-0.3-1-0.5-1.9-0.5h-1.2V274.1z"/>
  		<path class="st1" d="M307.7,278.6h-5.2v-9.3h5.2v1h-4.1v3h3.8v1h-3.8v3.4h4.1V278.6z"/>
  		<path class="st1" d="M312.5,274.8l-2.4,3.9h-1.3l2.6-4.1c-0.7-0.2-1.2-0.5-1.5-1c-0.3-0.4-0.5-1-0.5-1.7c0-0.8,0.3-1.5,0.9-1.9
  			s1.4-0.7,2.6-0.7h2.6v9.3h-1.1v-3.9H312.5z M314.4,270.3H313c-0.8,0-1.4,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3
  			c0,1.2,0.8,1.8,2.4,1.8h1.4V270.3z"/>
  		<path class="st1" d="M321.4,269.3h2.6c1.2,0,2.1,0.2,2.7,0.6c0.5,0.4,0.8,1,0.8,1.7c0,0.5-0.2,1-0.5,1.4s-0.8,0.6-1.3,0.7v0.1
  			c1.4,0.2,2.1,1,2.1,2.2c0,0.8-0.3,1.5-0.8,1.9s-1.3,0.7-2.4,0.7h-3.2V269.3z M322.5,273.3h1.8c0.8,0,1.3-0.1,1.6-0.4
  			s0.5-0.6,0.5-1.2c0-0.5-0.2-0.9-0.6-1.1c-0.4-0.2-1-0.3-1.8-0.3h-1.6V273.3z M322.5,274.2v3.5h1.9c0.7,0,1.3-0.1,1.7-0.4
  			s0.6-0.7,0.6-1.4c0-0.6-0.2-1-0.6-1.3c-0.4-0.3-1-0.4-1.8-0.4H322.5z"/>
  	</g>
  	<g>
  		<path class="st3" d="M522,58.7h-2.4l-8.8-8.8c-0.3-0.3-0.8-0.5-1.3-0.5c-0.5,0-0.9,0.2-1.3,0.5l-8.8,8.8h-2.4
  			c-0.8,0-1.5,0.7-1.5,1.5V79c0,0.8,0.7,1.5,1.5,1.5H522c0.8,0,1.5-0.7,1.5-1.5V60.1C523.4,59.3,522.8,58.7,522,58.7 M507.3,53.7
  			c0.4,0.7,1.2,1.2,2.1,1.2c0.9,0,1.7-0.5,2.1-1.2l5,5h-14.1L507.3,53.7z M508.7,74.5h-2.2l-1.5-5.3l-1.5,5.3h-2.2l-2.3-9.9h2.5
  			l1.1,5.4l1.5-5.4h1.9l1.5,5.4l1.1-5.4h2.5L508.7,74.5z M519.8,68.2l-0.1,0.3h-2.4v-0.3c0-0.5-0.1-0.9-0.4-1.2
  			c-0.2-0.3-0.6-0.4-1.1-0.4c-0.4,0-0.8,0.2-1.1,0.5c-0.3,0.4-0.4,0.9-0.4,1.5v1.8c0,0.6,0.2,1.1,0.4,1.5c0.3,0.4,0.7,0.5,1.1,0.5
  			c0.5,0,0.8-0.1,1-0.4c0.2-0.2,0.3-0.6,0.3-1.2v-0.3h2.4l0.1,0.3v0.1c0,1.1-0.3,2-1,2.6c-0.7,0.6-1.6,1-2.8,1
  			c-1.2,0-2.2-0.4-2.9-1.2c-0.8-0.8-1.1-1.8-1.1-3v-1.8c0-1.2,0.4-2.2,1.1-3c0.7-0.8,1.7-1.2,2.9-1.2c1.2,0,2.2,0.3,2.9,1
  			C519.5,66.1,519.8,67,519.8,68.2L519.8,68.2z"/>
  	</g>
  </g>

	<g class="path-group"><rect x="53.9" y="44.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27" height="96.3" data-id="001"/></g>
	<g class="path-group"><rect x="53.9" y="143.1" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27" height="51.4" data-id="002"/></g>
	<g class="path-group"><rect x="53.9" y="196.5" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27" height="52.3" data-id="003"/></g>
	<g class="path-group"><rect x="53.9" y="304.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27" height="104.9" data-id="004"/></g>
	<g class="path-group"><rect x="53.9" y="411.7" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27" height="82.9" data-id="005"/></g>
	<g class="path-group"><rect x="154.8" y="466.9" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="41.2" height="57.9" data-id="006"/></g>
	<g class="path-group"><rect x="254.3" y="466.9" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="53.7" height="57.9" data-id="007"/></g>
	<g class="path-group"><rect x="310" y="466.9" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="82.5" height="57.9" data-id="008"/></g>
	<g class="path-group"><rect x="394.5" y="466.9" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="139.4" height="57.9" data-id="009"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" points="82.9,466.9 82.9,496.6 53.9,496.6 53.9,524.8 152.8,524.8 152.8,498.2 152.8,496.6 152.8,466.9" data-id="010"/></g>
	<g class="path-group"><rect x="82.9" y="44.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="110.8" height="42.8" data-id="011"/></g>
	<g class="path-group"><rect x="195.7" y="44.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="57.2" height="42.8" data-id="012"/></g>
	<g class="path-group"><rect x="254.8" y="44.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="53.5" height="42.8" data-id="013"/></g>
	<g class="path-group"><rect x="310.3" y="44.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="81.3" height="42.8" data-id="014"/></g>
	<g class="path-group"><rect x="393.6" y="44.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="26.5" height="42.8" data-id="015"/></g>
	<g class="path-group"><rect x="422.2" y="44.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="56.9" height="42.8" data-id="016"/></g>
	<g class="path-group"><rect x="110.2" y="143.6" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="42.6" height="105.2" data-id="017"/></g>
	<g class="path-group"><rect x="154.8" y="143.6" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="41.2" height="105.2" data-id="018"/></g>
	<g class="path-group"><rect x="154.8" y="304.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="41.2" height="105.2" data-id="019"/></g>
	<g class="path-group"><rect x="110.2" y="304.8" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="42.6" height="105.2" data-id="020"/></g>
	<g class="path-group"><rect x="254.8" y="143.6" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="81.8" height="51.9" data-id="021"/></g>
	<g class="path-group"><rect x="422.7" y="143.6" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27.9" height="51.9" data-id="022"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" points="338.7,143.6 338.7,248.8 420.7,248.8 420.7,197.5 420.7,195.5 420.7,143.6" data-id="023"/></g>
	<g class="path-group"><rect x="254.8" y="197.5" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="81.8" height="51.3" data-id="024"/></g>
	<g class="path-group"><rect x="422.7" y="197.5" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27.9" height="51.3" data-id="025"/></g>
	<g class="path-group"><rect x="479.3" y="112.7" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="54.6" height="51.6" data-id="026"/></g>
	<g class="path-group"><rect x="479.3" y="222.5" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="54.6" height="80.7" data-id="027"/></g>
	<g class="path-group"><rect x="479.3" y="359.1" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="54.6" height="50.9" data-id="028"/></g>
	<g class="path-group"><rect x="479.3" y="166.3" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="54.6" height="54.2" data-id="029"/></g>
	<g class="path-group"><rect x="479.3" y="305.1" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="54.6" height="51.9" data-id="030"/></g>
	<g class="path-group"><polygon class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" points="364.7,359.1 364.7,357.1 364.7,305.7 310.5,305.7 310.5,410.9 364.7,410.9" data-id="031"/></g>
	<g class="path-group"><rect x="283.7" y="359.1" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="24.8" height="51.8" data-id="032"/></g>
	<g class="path-group"><rect x="366.7" y="359.1" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="53.9" height="51.8" data-id="033"/></g>
	<g class="path-group"><rect x="422.7" y="305.7" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27.9" height="51.4" data-id="034"/></g>
	<g class="path-group"><rect x="422.7" y="359.1" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="27.9" height="51.8" data-id="035"/></g>
	<g class="path-group"><rect x="254.8" y="359.1" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="26.8" height="51.8" data-id="036"/></g>
	<g class="path-group"><rect x="366.7" y="305.7" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="53.9" height="51.4" data-id="037"/></g>
	<g class="path-group"><rect x="254.8" y="305.7" class="genplan-path" data-label="5A" data-title="Bo-box >>>" data-logo="img/bobox.png" data-section="секция a5 - 1 этаж" data-section2="секция ab - 2 этаж" data-store="img/mrdoors-s.svg" width="53.7" height="51.4" data-id="038"/></g>
</svg>
