<section id="main" class="products">
  <div class="page-container">
    <div class="products__header  header  header--section">
      <h2 class="products__title  header__title">Популярные товары</h2>
      <a href="/catalog.html" class="btn">Все товары</a>
    </div>
  </div>
  <div class="carousel">
    {% include "templates/partials/section-products-list.html" %}
  </div>
</section>
