<div class="promotions__hot">
  <a href="#" class="banner  banner--large">
    <div class="banner__wrap">
      <h3 class="banner__header">Скидка 20%</h3>
      <div class="banner__content">
        Весь май скидки в салоне "Идеальные гардеробные"
      </div>
      <div class="link  link--short">Подробнее</div>
    </div>
  </a>
  <a href="#" class="banner  banner--medium">
    <div class="banner__wrap">
      <div class="banner__label banner__label--lg banner__label--top">20%</div>
      <h3 class="banner__header">Скидка 20%</h3>
      <div class="banner__content">
        На детскую мебель в салоне Bellus
      </div>
      <div class="link  link--short">Подробнее</div>
    </div>
  </a>
  <a href="#" class="banner  banner--small  banner--small-img">
    <div class="banner__wrap">
      <h3 class="banner__header">Скидка 20%</h3>
      <div class="banner__content">в салоне Bellus</div>
      <div class="link  link--short">Подробнее</div>
    </div>
  </a>
  <a href="#" class="banner  banner--small">
    <div class="banner__wrap">
      <div class="banner__label banner__label--sm banner__label--left">20%</div>
      <h3 class="banner__header">Скидка 20%</h3>
      <div class="banner__content">в салоне Bellus</div>
      <div class="link  link--short">Подробнее</div>
    </div>
  </a>
</div>
