<a href="#" class="product-item">
  <div class="product-item__preview">
    <img class="product-item__img" src="img/product-item-1.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
  </div>
  <div class="product-item__about">
    <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
    <div class="product-item__price">3 000 руб</div>
    <div class="product-item__link">Подробнее</div>
  </div>
</a>
<a href="#" class="product-item">
  <div class="product-item__preview">
    <img class="product-item__img" src="img/product-item-2.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
  </div>
  <div class="product-item__about">
    <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
    <div class="product-item__price">3 000 руб</div>
    <div class="product-item__link">Подробнее</div>
  </div>
</a>
<a href="#" class="product-item">
  <div class="product-item__preview">
    <img class="product-item__img" src="img/product-item-3.jpg" width="270" height="280" alt="Askona Dionys-топпер для диванов">
  </div>
  <div class="product-item__about">
    <h3 class="product-item__title">Askona Dionys-топпер для диванов</h3>
    <div class="product-item__price">3 000 руб</div>
    <div class="product-item__link">Подробнее</div>
  </div>
</a>
<a href="#" class="product-item">
  <div class="product-item__preview">
    <img class="product-item__img" src="img/product-item-4.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
  </div>
  <div class="product-item__about">
    <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
    <div class="product-item__price">3 000 руб</div>
    <div class="product-item__link">Подробнее</div>
  </div>
</a>
<a href="#" class="product-item">
  <div class="product-item__preview">
    <img class="product-item__img" src="img/product-item-1.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
  </div>
  <div class="product-item__about">
    <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
    <div class="product-item__price">3 000 руб</div>
    <div class="product-item__link">Подробнее</div>
  </div>
</a>
<a href="#" class="product-item">
  <div class="product-item__preview">
    <img class="product-item__img" src="img/product-item-3.jpg" width="270" height="280" alt="Askona Dionys-топпер для диванов">
  </div>
  <div class="product-item__about">
    <h3 class="product-item__title">Askona Dionys-топпер для диванов</h3>
    <div class="product-item__price">3 000 руб</div>
    <div class="product-item__link">Подробнее</div>
  </div>
</a>
