<div class="page-container">
  <h2 class="benefits__header">Преимущества</h2>
  <ul class="benefits__items">
    <li class="benefits__item">
      <h3 class="benefits__title">114 магазинов мебели</h3>
      <img class="benefits__icon" src="img/svg/benefits-map-icon.svg" width="70" height="45" alt="114 магазинов мебели">
    </li>
    <li class="benefits__item">
      <h3 class="benefits__title">Скидки<br>новоселам</h3>
      <img class="benefits__icon" src="img/svg/benefits-sale-icon.svg" width="35" height="35" alt="Скидки новоселам">
    </li>
    <li class="benefits__item">
      <h3 class="benefits__title">ТРК Балкания Нова отдых и развлечения</h3>
      <img class="benefits__icon" src="img/svg/benefits-recreation-icon.svg" width="41" height="43" alt="ТРК Балкания Нова отдых и развлечения">
    </li>
    <li class="benefits__item">
      <h3 class="benefits__title">Бесплатная<br>парковка</h3>
      <img class="benefits__icon" src="img/svg/benefits-parking-icon.svg" width="45" height="33" alt="Бесплатная парковка">
    </li>
  </ul>
</div>
