
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin adaptive-container {
  width: $mobile-max-width;

  margin-left: auto;
  margin-right: auto;

  padding-left: 10px;
  padding-right: 10px;
  @media only screen and (max-width: $tablet-max-width) {
    // min-width: 320px;
    max-width: 550px;
    width: auto;
  }

  @media (min-width: $tablet-max-width) {
    width: $tablet-max-width;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-max-width) {
    width: $desktop-max-width;
  }
}

@mixin bp-large-slider {
  @media only screen and (max-width: $slider-max-width) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: $mobile-max-width) {
    @content;
  }
}


@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
