// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$add-green-icon-name: 'add-green-icon';
$add-green-icon-x: 68px;
$add-green-icon-y: 77px;
$add-green-icon-offset-x: -68px;
$add-green-icon-offset-y: -77px;
$add-green-icon-width: 12px;
$add-green-icon-height: 12px;
$add-green-icon-total-width: 124px;
$add-green-icon-total-height: 93px;
$add-green-icon-image: 'sprite.png';
$add-green-icon: (68px, 77px, -68px, -77px, 12px, 12px, 124px, 93px, 'sprite.png', 'add-green-icon', );
$arrow-green-name: 'arrow-green';
$arrow-green-x: 75px;
$arrow-green-y: 53px;
$arrow-green-offset-x: -75px;
$arrow-green-offset-y: -53px;
$arrow-green-width: 14px;
$arrow-green-height: 10px;
$arrow-green-total-width: 124px;
$arrow-green-total-height: 93px;
$arrow-green-image: 'sprite.png';
$arrow-green: (75px, 53px, -75px, -53px, 14px, 10px, 124px, 93px, 'sprite.png', 'arrow-green', );
$clock-dark-icon-name: 'clock-dark-icon';
$clock-dark-icon-x: 0px;
$clock-dark-icon-y: 77px;
$clock-dark-icon-offset-x: 0px;
$clock-dark-icon-offset-y: -77px;
$clock-dark-icon-width: 16px;
$clock-dark-icon-height: 16px;
$clock-dark-icon-total-width: 124px;
$clock-dark-icon-total-height: 93px;
$clock-dark-icon-image: 'sprite.png';
$clock-dark-icon: (0px, 77px, 0px, -77px, 16px, 16px, 124px, 93px, 'sprite.png', 'clock-dark-icon', );
$clock-green-icon-name: 'clock-green-icon';
$clock-green-icon-x: 32px;
$clock-green-icon-y: 77px;
$clock-green-icon-offset-x: -32px;
$clock-green-icon-offset-y: -77px;
$clock-green-icon-width: 16px;
$clock-green-icon-height: 16px;
$clock-green-icon-total-width: 124px;
$clock-green-icon-total-height: 93px;
$clock-green-icon-image: 'sprite.png';
$clock-green-icon: (32px, 77px, -32px, -77px, 16px, 16px, 124px, 93px, 'sprite.png', 'clock-green-icon', );
$clock-icon-name: 'clock-icon';
$clock-icon-x: 16px;
$clock-icon-y: 77px;
$clock-icon-offset-x: -16px;
$clock-icon-offset-y: -77px;
$clock-icon-width: 16px;
$clock-icon-height: 16px;
$clock-icon-total-width: 124px;
$clock-icon-total-height: 93px;
$clock-icon-image: 'sprite.png';
$clock-icon: (16px, 77px, -16px, -77px, 16px, 16px, 124px, 93px, 'sprite.png', 'clock-icon', );
$company-green-icon-name: 'company-green-icon';
$company-green-icon-x: 51px;
$company-green-icon-y: 18px;
$company-green-icon-offset-x: -51px;
$company-green-icon-offset-y: -18px;
$company-green-icon-width: 21px;
$company-green-icon-height: 20px;
$company-green-icon-total-width: 124px;
$company-green-icon-total-height: 93px;
$company-green-icon-image: 'sprite.png';
$company-green-icon: (51px, 18px, -51px, -18px, 21px, 20px, 124px, 93px, 'sprite.png', 'company-green-icon', );
$company-grey-icon-name: 'company-grey-icon';
$company-grey-icon-x: 51px;
$company-grey-icon-y: 38px;
$company-grey-icon-offset-x: -51px;
$company-grey-icon-offset-y: -38px;
$company-grey-icon-width: 21px;
$company-grey-icon-height: 20px;
$company-grey-icon-total-width: 124px;
$company-grey-icon-total-height: 93px;
$company-grey-icon-image: 'sprite.png';
$company-grey-icon: (51px, 38px, -51px, -38px, 21px, 20px, 124px, 93px, 'sprite.png', 'company-grey-icon', );
$delete-icon-name: 'delete-icon';
$delete-icon-x: 80px;
$delete-icon-y: 77px;
$delete-icon-offset-x: -80px;
$delete-icon-offset-y: -77px;
$delete-icon-width: 10px;
$delete-icon-height: 10px;
$delete-icon-total-width: 124px;
$delete-icon-total-height: 93px;
$delete-icon-image: 'sprite.png';
$delete-icon: (80px, 77px, -80px, -77px, 10px, 10px, 124px, 93px, 'sprite.png', 'delete-icon', );
$edit-green-icon-1-name: 'edit-green-icon-1';
$edit-green-icon-1-x: 110px;
$edit-green-icon-1-y: 55px;
$edit-green-icon-1-offset-x: -110px;
$edit-green-icon-1-offset-y: -55px;
$edit-green-icon-1-width: 12px;
$edit-green-icon-1-height: 19px;
$edit-green-icon-1-total-width: 124px;
$edit-green-icon-1-total-height: 93px;
$edit-green-icon-1-image: 'sprite.png';
$edit-green-icon-1: (110px, 55px, -110px, -55px, 12px, 19px, 124px, 93px, 'sprite.png', 'edit-green-icon-1', );
$edit-green-icon-name: 'edit-green-icon';
$edit-green-icon-x: 75px;
$edit-green-icon-y: 0px;
$edit-green-icon-offset-x: -75px;
$edit-green-icon-offset-y: 0px;
$edit-green-icon-width: 18px;
$edit-green-icon-height: 19px;
$edit-green-icon-total-width: 124px;
$edit-green-icon-total-height: 93px;
$edit-green-icon-image: 'sprite.png';
$edit-green-icon: (75px, 0px, -75px, 0px, 18px, 19px, 124px, 93px, 'sprite.png', 'edit-green-icon', );
$edit-white-icon-name: 'edit-white-icon';
$edit-white-icon-x: 110px;
$edit-white-icon-y: 36px;
$edit-white-icon-offset-x: -110px;
$edit-white-icon-offset-y: -36px;
$edit-white-icon-width: 12px;
$edit-white-icon-height: 19px;
$edit-white-icon-total-width: 124px;
$edit-white-icon-total-height: 93px;
$edit-white-icon-image: 'sprite.png';
$edit-white-icon: (110px, 36px, -110px, -36px, 12px, 19px, 124px, 93px, 'sprite.png', 'edit-white-icon', );
$email-black-icon-name: 'email-black-icon';
$email-black-icon-x: 0px;
$email-black-icon-y: 63px;
$email-black-icon-offset-x: 0px;
$email-black-icon-offset-y: -63px;
$email-black-icon-width: 22px;
$email-black-icon-height: 14px;
$email-black-icon-total-width: 124px;
$email-black-icon-total-height: 93px;
$email-black-icon-image: 'sprite.png';
$email-black-icon: (0px, 63px, 0px, -63px, 22px, 14px, 124px, 93px, 'sprite.png', 'email-black-icon', );
$email-green-icon-name: 'email-green-icon';
$email-green-icon-x: 43px;
$email-green-icon-y: 63px;
$email-green-icon-offset-x: -43px;
$email-green-icon-offset-y: -63px;
$email-green-icon-width: 21px;
$email-green-icon-height: 14px;
$email-green-icon-total-width: 124px;
$email-green-icon-total-height: 93px;
$email-green-icon-image: 'sprite.png';
$email-green-icon: (43px, 63px, -43px, -63px, 21px, 14px, 124px, 93px, 'sprite.png', 'email-green-icon', );
$email-grey-icon-name: 'email-grey-icon';
$email-grey-icon-x: 22px;
$email-grey-icon-y: 63px;
$email-grey-icon-offset-x: -22px;
$email-grey-icon-offset-y: -63px;
$email-grey-icon-width: 21px;
$email-grey-icon-height: 14px;
$email-grey-icon-total-width: 124px;
$email-grey-icon-total-height: 93px;
$email-grey-icon-image: 'sprite.png';
$email-grey-icon: (22px, 63px, -22px, -63px, 21px, 14px, 124px, 93px, 'sprite.png', 'email-grey-icon', );
$eye-icon-name: 'eye-icon';
$eye-icon-x: 64px;
$eye-icon-y: 63px;
$eye-icon-offset-x: -64px;
$eye-icon-offset-y: -63px;
$eye-icon-width: 18px;
$eye-icon-height: 12px;
$eye-icon-total-width: 124px;
$eye-icon-total-height: 93px;
$eye-icon-image: 'sprite.png';
$eye-icon: (64px, 63px, -64px, -63px, 18px, 12px, 124px, 93px, 'sprite.png', 'eye-icon', );
$location-dark-icon-name: 'location-dark-icon';
$location-dark-icon-x: 58px;
$location-dark-icon-y: 77px;
$location-dark-icon-offset-x: -58px;
$location-dark-icon-offset-y: -77px;
$location-dark-icon-width: 10px;
$location-dark-icon-height: 16px;
$location-dark-icon-total-width: 124px;
$location-dark-icon-total-height: 93px;
$location-dark-icon-image: 'sprite.png';
$location-dark-icon: (58px, 77px, -58px, -77px, 10px, 16px, 124px, 93px, 'sprite.png', 'location-dark-icon', );
$location-grey-icon-name: 'location-grey-icon';
$location-grey-icon-x: 48px;
$location-grey-icon-y: 77px;
$location-grey-icon-offset-x: -48px;
$location-grey-icon-offset-y: -77px;
$location-grey-icon-width: 10px;
$location-grey-icon-height: 16px;
$location-grey-icon-total-width: 124px;
$location-grey-icon-total-height: 93px;
$location-grey-icon-image: 'sprite.png';
$location-grey-icon: (48px, 77px, -48px, -77px, 10px, 16px, 124px, 93px, 'sprite.png', 'location-grey-icon', );
$location-icon-name: 'location-icon';
$location-icon-x: 110px;
$location-icon-y: 74px;
$location-icon-offset-x: -110px;
$location-icon-offset-y: -74px;
$location-icon-width: 10px;
$location-icon-height: 16px;
$location-icon-total-width: 124px;
$location-icon-total-height: 93px;
$location-icon-image: 'sprite.png';
$location-icon: (110px, 74px, -110px, -74px, 10px, 16px, 124px, 93px, 'sprite.png', 'location-icon', );
$lock-green-icon-name: 'lock-green-icon';
$lock-green-icon-x: 110px;
$lock-green-icon-y: 0px;
$lock-green-icon-offset-x: -110px;
$lock-green-icon-offset-y: 0px;
$lock-green-icon-width: 14px;
$lock-green-icon-height: 18px;
$lock-green-icon-total-width: 124px;
$lock-green-icon-total-height: 93px;
$lock-green-icon-image: 'sprite.png';
$lock-green-icon: (110px, 0px, -110px, 0px, 14px, 18px, 124px, 93px, 'sprite.png', 'lock-green-icon', );
$lock-grey-icon-name: 'lock-grey-icon';
$lock-grey-icon-x: 110px;
$lock-grey-icon-y: 18px;
$lock-grey-icon-offset-x: -110px;
$lock-grey-icon-offset-y: -18px;
$lock-grey-icon-width: 14px;
$lock-grey-icon-height: 18px;
$lock-grey-icon-total-width: 124px;
$lock-grey-icon-total-height: 93px;
$lock-grey-icon-image: 'sprite.png';
$lock-grey-icon: (110px, 18px, -110px, -18px, 14px, 18px, 124px, 93px, 'sprite.png', 'lock-grey-icon', );
$map-marker-green-icon-name: 'map-marker-green-icon';
$map-marker-green-icon-x: 0px;
$map-marker-green-icon-y: 0px;
$map-marker-green-icon-offset-x: 0px;
$map-marker-green-icon-offset-y: 0px;
$map-marker-green-icon-width: 51px;
$map-marker-green-icon-height: 63px;
$map-marker-green-icon-total-width: 124px;
$map-marker-green-icon-total-height: 93px;
$map-marker-green-icon-image: 'sprite.png';
$map-marker-green-icon: (0px, 0px, 0px, 0px, 51px, 63px, 124px, 93px, 'sprite.png', 'map-marker-green-icon', );
$phone-green-icon-name: 'phone-green-icon';
$phone-green-icon-x: 93px;
$phone-green-icon-y: 0px;
$phone-green-icon-offset-x: -93px;
$phone-green-icon-offset-y: 0px;
$phone-green-icon-width: 17px;
$phone-green-icon-height: 17px;
$phone-green-icon-total-width: 124px;
$phone-green-icon-total-height: 93px;
$phone-green-icon-image: 'sprite.png';
$phone-green-icon: (93px, 0px, -93px, 0px, 17px, 17px, 124px, 93px, 'sprite.png', 'phone-green-icon', );
$phone-grey-icon-name: 'phone-grey-icon';
$phone-grey-icon-x: 75px;
$phone-grey-icon-y: 36px;
$phone-grey-icon-offset-x: -75px;
$phone-grey-icon-offset-y: -36px;
$phone-grey-icon-width: 17px;
$phone-grey-icon-height: 17px;
$phone-grey-icon-total-width: 124px;
$phone-grey-icon-total-height: 93px;
$phone-grey-icon-image: 'sprite.png';
$phone-grey-icon: (75px, 36px, -75px, -36px, 17px, 17px, 124px, 93px, 'sprite.png', 'phone-grey-icon', );
$photo-green-icon-name: 'photo-green-icon';
$photo-green-icon-x: 51px;
$photo-green-icon-y: 0px;
$photo-green-icon-offset-x: -51px;
$photo-green-icon-offset-y: 0px;
$photo-green-icon-width: 24px;
$photo-green-icon-height: 18px;
$photo-green-icon-total-width: 124px;
$photo-green-icon-total-height: 93px;
$photo-green-icon-image: 'sprite.png';
$photo-green-icon: (51px, 0px, -51px, 0px, 24px, 18px, 124px, 93px, 'sprite.png', 'photo-green-icon', );
$search-icon-name: 'search-icon';
$search-icon-x: 93px;
$search-icon-y: 55px;
$search-icon-offset-x: -93px;
$search-icon-offset-y: -55px;
$search-icon-width: 15px;
$search-icon-height: 18px;
$search-icon-total-width: 124px;
$search-icon-total-height: 93px;
$search-icon-image: 'sprite.png';
$search-icon: (93px, 55px, -93px, -55px, 15px, 18px, 124px, 93px, 'sprite.png', 'search-icon', );
$settings-green-icon-name: 'settings-green-icon';
$settings-green-icon-x: 75px;
$settings-green-icon-y: 19px;
$settings-green-icon-offset-x: -75px;
$settings-green-icon-offset-y: -19px;
$settings-green-icon-width: 18px;
$settings-green-icon-height: 17px;
$settings-green-icon-total-width: 124px;
$settings-green-icon-total-height: 93px;
$settings-green-icon-image: 'sprite.png';
$settings-green-icon: (75px, 19px, -75px, -19px, 18px, 17px, 124px, 93px, 'sprite.png', 'settings-green-icon', );
$update-icon-name: 'update-icon';
$update-icon-x: 82px;
$update-icon-y: 63px;
$update-icon-offset-x: -82px;
$update-icon-offset-y: -63px;
$update-icon-width: 10px;
$update-icon-height: 11px;
$update-icon-total-width: 124px;
$update-icon-total-height: 93px;
$update-icon-image: 'sprite.png';
$update-icon: (82px, 63px, -82px, -63px, 10px, 11px, 124px, 93px, 'sprite.png', 'update-icon', );
$user-green-icon-name: 'user-green-icon';
$user-green-icon-x: 93px;
$user-green-icon-y: 17px;
$user-green-icon-offset-x: -93px;
$user-green-icon-offset-y: -17px;
$user-green-icon-width: 15px;
$user-green-icon-height: 19px;
$user-green-icon-total-width: 124px;
$user-green-icon-total-height: 93px;
$user-green-icon-image: 'sprite.png';
$user-green-icon: (93px, 17px, -93px, -17px, 15px, 19px, 124px, 93px, 'sprite.png', 'user-green-icon', );
$user-grey-icon-name: 'user-grey-icon';
$user-grey-icon-x: 93px;
$user-grey-icon-y: 36px;
$user-grey-icon-offset-x: -93px;
$user-grey-icon-offset-y: -36px;
$user-grey-icon-width: 15px;
$user-grey-icon-height: 19px;
$user-grey-icon-total-width: 124px;
$user-grey-icon-total-height: 93px;
$user-grey-icon-image: 'sprite.png';
$user-grey-icon: (93px, 36px, -93px, -36px, 15px, 19px, 124px, 93px, 'sprite.png', 'user-grey-icon', );
$spritesheet-width: 124px;
$spritesheet-height: 93px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($add-green-icon, $arrow-green, $clock-dark-icon, $clock-green-icon, $clock-icon, $company-green-icon, $company-grey-icon, $delete-icon, $edit-green-icon-1, $edit-green-icon, $edit-white-icon, $email-black-icon, $email-green-icon, $email-grey-icon, $eye-icon, $location-dark-icon, $location-grey-icon, $location-icon, $lock-green-icon, $lock-grey-icon, $map-marker-green-icon, $phone-green-icon, $phone-grey-icon, $photo-green-icon, $search-icon, $settings-green-icon, $update-icon, $user-green-icon, $user-grey-icon, );
$spritesheet: (124px, 93px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: resolve(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
