
$font-family-base: 'Open Sans', 'Arial', sans-serif;
$font-size-base: 16px;
$line-height-base: 18px;

$font-w-light: 300;
$font-w-regular: 400;
$font-w-semibold: 600;
$font-w-bold: 700;

$text-color: #2f2f2f;
$body-bg-color: #f1f0f1;

$page-min-width: 320px;
$page-max-width: 1200px;

$mobile-max-width: 320px;
$tablet-max-width: 780px;
$desktop-max-width: 1200px;
$slider-max-width: 1367px;

$sliderHeight: 650px;
