<footer class="page-footer">
  <div class="page-footer__wrap  page-footer__wrap--dark">
    <div class="page-container">
      <div class="page-footer__row page-footer__row--adaptive">
        <div class="page-footer__logo">
          <img src="img/svg/main-grey-logo.svg" width="189" height="46" alt="Мебельный центр «12 стульев»">
        </div>
        <div class="page-footer__contacts">
          <span class="text text--mr-b text--white text--tel-dark">Телефон поддержки: 8 (812) 000-00-00</span>
          <span class="text text--mr-b text--white text--clock-dark">Режим работы: Пн-пт 10:00 - 20:00</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/imagesclone.js"></script>
<script type="text/javascript" src="js/parallax.js"></script>
<script type="text/javascript" src="js/cube.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/sly.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="js/jquery.selectric.js"></script>
<script type="text/javascript" src="js/jquery.selectric.placeholder.js"></script>
<script type="text/javascript" src="js/main.js"></script>
