<div style="display: none">
  {% include "img/svg/symbols.svg" %}
</div>
<header class="page-header">
  <div class="page-header__contacts">
    <div class="page-container">
      <a href="/" class="link  link--green">Карта центра</a>
      <span class="text text--white text--clock  text--mr"><span>Режим работы магазина: без выходных</span> 10:00 - 20:00</span>
      <span class="text text--white text--location  text--mr"><span>Адрес: "Купчино"</span> Балканская пл. 5,</span>
      <a href="location.html" class="link  link--green">Посмотреть на карте</a>
    </div>
  </div>
  <div class="page-header__content">
    <div class="page-container">
      <div class="page-header__row">
        <div class="page-header__logo">
          <a href="/">
          <img src="img/svg/main-logo.svg" width="240" height="48" alt="Мебельный центр «12 стульев»">
        </a>
        </div>
        <nav class="main-nav">
          <div class="toggle toggle--js">
            <span class="toggle__item"></span>
            <span class="toggle__item"></span>
            <span class="toggle__item"></span>
            <span class="toggle__item"></span>
          </div>
          <ul class="main-nav__items">
            <li class="main-nav__item main-nav__item--hover main-nav__item--js">
              <a href="/catalog.html" class="main-nav__link">Каталог</a>
              <div class="main-nav__popup">
                <ul class="main-nav__popup-items">
                  <li class="main-nav__popup-item">
                    <a href="/product.html" class="main-nav__popup-link">
                      <svg class="main-nav__popup-icon" width="34" height="24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#couch-icon"></use>
                      </svg>
                      Диваны
                    </a>
                  </li>
                  <li class="main-nav__popup-item">
                    <a href="/catalog-category.html" class="main-nav__popup-link">
                      <svg class="main-nav__popup-icon" width="31" height="34">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#living-room-icon"></use>
                      </svg>
                      Гостиная
                    </a>
                  </li>
                  <li class="main-nav__popup-item">
                    <a href="/" class="main-nav__popup-link">
                      <svg class="main-nav__popup-icon" width="36" height="32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kitchen-icon"></use>
                      </svg>
                      Кухня
                    </a>
                  </li>
                </ul>
                <ul class="main-nav__popup-items">
                  <li class="main-nav__popup-item">
                    <a href="/" class="main-nav__popup-link">
                      <svg class="main-nav__popup-icon" width="36" height="32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hallway-icon"></use>
                      </svg>
                      Прихожая
                    </a>
                  </li>
                  <li class="main-nav__popup-item">
                    <a href="/" class="main-nav__popup-link">
                      <svg class="main-nav__popup-icon" width="35" height="29">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#closet-icon"></use>
                      </svg>
                      Шкафы-купе
                    </a>
                  </li>
                  <li class="main-nav__popup-item">
                    <a href="/" class="main-nav__popup-link">
                      <svg class="main-nav__popup-icon" width="35" height="31">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bedroom-icon"></use>
                      </svg>
                      Спальня
                    </a>
                  </li>
                </ul>
                <ul class="main-nav__popup-items main-nav__popup-items--third">
                  <li class="main-nav__popup-item">
                    <a href="/" class="main-nav__popup-link">
                      <svg class="main-nav__popup-icon" width="38" height="31">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playroom-icon"></use>
                      </svg>
                      Детская
                    </a>
                  </li>
                  <li class="main-nav__popup-item">
                    <a href="/" class="main-nav__popup-link">
                      <svg class="main-nav__popup-icon" width="40" height="26">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cabinet-icon"></use>
                      </svg>
                      Кабинет
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="main-nav__item">
              <a href="/stores.html" class="main-nav__link">Магазины</a>
            </li>
            <li class="main-nav__item">
              <a href="/shopping-mall-about.html" class="main-nav__link">О центре</a>
            </li>
            <li class="main-nav__item">
              <a href="/renters.html" class="main-nav__link">Арендаторам</a>
            </li>
            <li class="main-nav__item">
              <a href="/articles.html" class="main-nav__link">Статьи</a>
            </li>
            <li class="main-nav__item">
              <a href="/promotions.html" class="main-nav__link">Спецпредложения</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
