<footer class="page-footer">
  <div class="page-footer__wrap  page-footer__wrap--dark">
    <div class="page-container">
      <nav class="main-nav  main-nav--dark">
        <ul class="main-nav__items main-nav__items--js">
          <li class="main-nav__item">
            <a href="/" class="main-nav__link">Главная</a>
          </li>
          <li class="main-nav__item main-nav__item--cur-tab">
            <a href="/catalog.html" class="main-nav__link  main-nav__link--tab">Каталог</a>
          </li>
          <li class="main-nav__item">
            <a href="/stores.html" class="main-nav__link">Магазины</a>
          </li>
          <li class="main-nav__item">
            <a href="/shopping-mall-about.html" class="main-nav__link">О центре</a>
          </li>
          <li class="main-nav__item">
            <a href="/location.html" class="main-nav__link">Как добраться</a>
          </li>
          <li class="main-nav__item">
            <a href="/renters.html" class="main-nav__link">Арендодателям</a>
          </li>
          <li class="main-nav__item">
            <a href="/articles.html" class="main-nav__link">Статьи</a>
          </li>
          <li class="main-nav__item">
            <a href="/promotions.html" class="main-nav__link">Спецпредложения</a>
          </li>
        </ul>
        <ul class="main-nav__tabs">
          <li class="main-nav__tab">
            <ul class="links">
              <li class="links__item">
                <a href="/" class="links__link">Диваны</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Мебель для спальни</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Модульная мебель</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Детская мебель</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Двери</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Аксессуары для спальни</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Кухни</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Аксессуары для спальни</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Шкафы-купе</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Подростковая мебель</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Гостиные</a>
              </li>
              <li class="links__item">
                <a href="/" class="links__link">Гтовые наборы мебели</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="page-footer__row">
        <form class="search-form search-form--black-icon" action="/" method="get">
          <input class="search-form__input" type="text" name="q" placeholder="Поиск">
          <button class="search-form__submit" type="submit">Поиск</button>
        </form>
        <div class="page-footer__contacts">
          <span class="text text--mr text--clock-dark"><span>Режим работы магазина: без выходных </span>10:00 - 20:00</span>
          <span class="text text--mr text--location-dark"><span>Адрес: "Купчино"</span> Балканская пл. 5,</span>
          <a href="/" class="link  link--green">Посмотреть на карте</a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__wrap  page-footer__wrap--grey">
    <div class="page-container">
      <div class="page-footer__copyrights">
        <span class="page-footer__copyright">Девелопер и собственник — ХК «Адамант»</span>
        <span class="page-footer__copyright">Управляющая компания — УК «Адамант»</span>
        <span class="page-footer__copyright">© Мебельный центр «12 стульев» 2017</span>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/imagesclone.js"></script>
<script type="text/javascript" src="js/parallax.js"></script>
<script type="text/javascript" src="js/cube.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/sly.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="js/jquery.selectric.js"></script>
<script type="text/javascript" src="js/jquery.selectric.placeholder.js"></script>
<script type="text/javascript" src="js/main.js"></script>
