<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Настройки</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="page-container">
      <div class="user  user--w580">
        <div class="user__header">
          <a class="user__link user__link--home" href="/">В личный кабинет</a>
          <span class="user__name">ИП Ковалев</span>
        </div>
        <div class="user__content">
          <form class="form  form--product" id="form" action="/" method="post">
            <div class="form__header">
              <h2 class="form__title">Новый товар</h2>
            </div>
            <fieldset class="form__section form__section--product">
              <legend class="form__section-title visually-hidden">Товар</legend>
              <ul class="form__items">
                <li class="form__item">
                  <label class="form__label" for="name">
                    Название товара <span class="form__hint">до 62 символов</span>
                  </label>
                  <input class="form__input" type="text" id="name" name="name" placeholder="">
                  <span class="form__err form__err-full">Ошибка</span>
                </li>
                <li class="form__item">
                  <label class="form__label" for="price">
                    Цена товара <span class="form__hint">в рублях</span>
                  </label>
                  <input class="form__input form__input--w165" type="text" id="price" name="price" placeholder="15 000">
                  <span class="form__err">Не указана цена</span>
                </li>
              </ul>
            </fieldset>
            <fieldset class="form__section  form__section--category">
              <legend class="form__section-title">Основные категории товара</legend>
              <ul class="form__items  form__items--flex  form__items--flex-between  form__items--mb-35">
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__radio" type="radio" name="category" value="kitchen">
                    <span class="form__radio-label">
                      <svg class="form__radio-icon" width="36" height="32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kitchen-icon"></use>
                      </svg>
                      Кухня
                    </span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__radio" type="radio" name="category" value="kitchen">
                    <span class="form__radio-label">
                      <svg class="form__radio-icon" width="28" height="29">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#closet-icon"></use>
                      </svg>
                      Шкафы-купе
                    </span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__radio" type="radio" name="category" value="kitchen">
                    <span class="form__radio-label">
                      <svg class="form__radio-icon" width="34" height="24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#couch-icon"></use>
                      </svg>
                      Диваны
                    </span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__radio" type="radio" name="category" value="kitchen">
                    <span class="form__radio-label">
                      <svg class="form__radio-icon" width="31" height="34">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#living-room-icon"></use>
                      </svg>
                      Гостинная
                    </span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__radio" type="radio" name="category" value="kitchen">
                    <span class="form__radio-label">
                      <svg class="form__radio-icon" width="36" height="32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hallway-icon"></use>
                      </svg>
                      Прихожая
                    </span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__radio" type="radio" name="category" value="kitchen">
                    <span class="form__radio-label">
                      <svg class="form__radio-icon" width="40" height="26">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cabinet-icon"></use>
                      </svg>
                      Кабинет
                    </span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__radio" type="radio" name="category" value="kitchen">
                    <span class="form__radio-label">
                      <svg class="form__radio-icon" width="35" height="31">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bedroom-icon"></use>
                      </svg>
                      Спальня
                    </span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__radio" type="radio" name="category" value="kitchen">
                    <span class="form__radio-label">
                      <svg class="form__radio-icon" width="38" height="31">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playroom-icon"></use>
                      </svg>
                      Детская
                    </span>
                  </label>
                </li>
              </ul>
            </fieldset>
            <fieldset class="form__section">
              <legend class="form__section-title form__section-title--sub">
                Дополнительные категории товара <span class="form__hint form__hint--block">Указать не менее двух</span>
              </legend>
              <ul class="form__items  form__items--flex  form__items--category-cols">
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-1">
                    <span class="form__checkbox-label">Диваны</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-2">
                    <span class="form__checkbox-label">Диваны</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-3">
                    <span class="form__checkbox-label">Диваны</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-4">
                    <span class="form__checkbox-label">Мягкие диваны</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-5">
                    <span class="form__checkbox-label">На ножках</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-6">
                    <span class="form__checkbox-label">Мягкие диваны</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-7">
                    <span class="form__checkbox-label">Раскладные диваны</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-8">
                    <span class="form__checkbox-label">Кресло</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-9">
                    <span class="form__checkbox-label">Диваны</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-10">
                    <span class="form__checkbox-label">Кухонные</span>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__category-control">
                    <input class="form__checkbox" type="checkbox" name="category-11">
                    <span class="form__checkbox-label">Кухонные</span>
                  </label>
                </li>
              </ul>
            </fieldset>
            <fieldset class="form__section form__section--props">
              <legend class="form__section-title">
                Характеристики товара <span class="form__hint form__hint--block">Не более 8 характеристик</span>
              </legend>
              <ul class="form__items form__items--container form__items--input-rows form__items--input-width">
                <li class="form__item">
                  <label class="form__label form__label--grey" for="material">Материал:</label>
                  <input class="form__input form__input--lg" type="text" id="material" name="material" placeholder="Натуральная кожа">
                  <span class="form__err form__err-full">Ошибка</span>
                </li>
                <li class="form__item">
                  <label class="form__label form__label--grey" for="color">Цвет:</label>
                  <input class="form__input form__input--lg" type="text" id="color" name="color" placeholder="Красный">
                  <span class="form__err form__err-full">Ошибка</span>
                </li>
                <li class="form__item">
                  <label class="form__label form__label--grey" for="dimensions">Габариты:</label>
                  <input class="form__input form__input--lg" type="text" id="dimensions" name="dimensions" placeholder="200x900x860 мм">
                  <span class="form__err form__err-full">Ошибка</span>
                </li>
                <li class="form__item">
                  <label class="form__label form__label--grey" for="couchette">Спальное место:</label>
                  <input class="form__input form__input--lg" type="text" id="couchette" name="couchette" placeholder="2000x1200 мм">
                  <span class="form__err form__err-full">Ошибка</span>
                </li>
                <li class="form__item">
                  <label class="form__label form__label--grey" for="country">Страна производитель:</label>
                  <input class="form__input form__input--lg" type="text" id="country" name="country" placeholder="Россия">
                  <span class="form__err form__err-full">Ошибка</span>
                </li>
              </ul>
              <div class="form__section-footer form__section-footer--right">
                <button class="form__btn form__btn--add form__btn--js" type="button">Добавить харакетристику</button>
              </div>
            </fieldset>
            <fieldset class="form__section form__section--description">
              <legend class="form__section-title form__section-title--sub-small">
                Описание <span class="form__hint">до 500 символов</span>
              </legend>
              <div class="form__textarea-wrap">
                <textarea class="form__textarea" name="description" placeholder=""></textarea>
              </div>
            </fieldset>
            <fieldset class="form__section form__section--photo">
              <legend class="form__section-title">
                Фотографии объекта <span class="form__hint form__hint--block">Не менее 1 шт.</span>
              </legend>
              <ul class="form__items  form__items--flex">
                <li class="form__item">
                  <div class="form__upload-control">
                    <div class="form__upload-wrap">
                      <button class="form__upload-btn form__upload-btn--reload" type="button">Изменить</button>
                      <button class="form__upload-btn form__upload-btn--remove" type="button">Удалить</button>
                      <img class="form__upload-img" src="img/form-preview.jpg" width="135" height="140" alt="Фото 1">
                    </div>
                    <div class="form__upload-caption">Основное фото</div>
                  </div>
                </li>
                <li class="form__item">
                  <div class="form__upload-control">
                    <div class="form__upload-wrap">
                      <button class="form__upload-btn form__upload-btn--add" type="button">Добавить фото</button>
                    </div>
                  </div>
                </li>
              </ul>
            </fieldset>
            <div class="form__footer  form__footer--right">
              <input class="form__btn form__submit" type="submit" value="Сохранить">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
