<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Панель управления - О магазине</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="page-header">
    <div class="page-container">
      <div class="page-header__row  page-header__row--adaptive">
        <div class="page-header__logo">
          <a href="/">
            <img src="img/svg/main-logo.svg" width="208" height="42" alt="Мебельный центр «12 стульев»">
          </a>
        </div>
        <div class="page-header__user  user">
          <span class="user__name">ИП Ковалев</span>
          <a class="user__link  user__link--settings" href="/">Настройки</a>
        </div>
        <nav class="page-header__tab-nav  tab-nav">
          <ul class="tab-nav__items">
            <li class="tab-nav__item">
              <a class="tab-nav__link" href="/admin-products.html">Товары</a>
            </li>
            <li class="tab-nav__item">
              <a class="tab-nav__link" href="/admin-promotions.html">Акции</a>
            </li>
            <li class="tab-nav__item">
              <a class="tab-nav__link  tab-nav__link--active">О магазине</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main class="page-content">
    <form class="store-form" method="post" enctype="multipart/form-data">
      <div class="page-container">
        <fieldset class="store-form__section">
          <legend class="store-form__header">
            <h2 class="store-form__title  store-form__title--hidden">Загрузить изображение</h2>
          </legend>
          <div class="store-form__upload  upload-img">
            <div class="upload-img__dialog">
              <h3 class="upload-img__title">Загрузить фоновое изображение</h3>
              <span class="upload-img__hint">1200 х 300 px</span>
              <input type="file" name="file-photo">
            </div>
            <div class="upload-img  upload-img--logo">
              <div class="upload-img__dialog">
                <h3 class="upload-img__title">Загрузить логотип</h3>
                <span class="upload-img__hint">100 х 100 px</span>
                <input type="file" name="file-logo">
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="store-form__section">
          <legend class="store-form__header">
            <h2 class="store-form__title">Описание магазина</h2>
            <span class="store-form__subtitle">от 150 до 1000 символов</span>
          </legend>
          <div class="store-form__wrap">
            <textarea class="store-form__message" name="message">Bellus – один из крупнейших производителей мебели Эстонии. Мы проектируем и производим качественную мебель для дома, отличающуюся повышенным уровнем комфорта. Мы предлагаем более 100 моделей и более 200 различных вариаций тканей и обивочных материалов. Оцените скандинавский дизайн и качество Bellus.</textarea>
          </div>
        </fieldset>
        <input class="btn" type="submit" value="Отправить на модерацию">
      </div>
    </form>
  </main>
  {% include "templates/inner-page-footer.html" %}
</body>

</html>
