<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Статьи - Как выбрать диван?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\articles.html">Статьи</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Как выбрать диван?</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-container">
      <section class="article-post  article-post--left">
        <div class="article-post__thumbnail">
          <img class="article-post__img" src="img/article-inside-img-1.jpg" alt="Как выбрать диван?">
          <time class="article-post__date" datetime="2017-04-14">14.04.2017</time>
        </div>
        <div class="article-post__header">
          <h1 class="article-post__title">Как выбрать диван?</h1>
          <ul class="article-post__tags  tags">
            <li class="tags__item">
              <a class="tags__link" href="\">Диваны</a>
            </li>
            <li class="tags__item">
              <a class="tags__link" href="\">Мягкие диваны</a>
            </li>
            <li class="tags__item">
              <a class="tags__link" href="\">Раскладные диваны</a>
            </li>
            <li class="tags__item">
              <a class="tags__link" href="\">Кухонные</a>
            </li>
            <li class="tags__item">
              <a class="tags__link" href="\">Кухонные</a>
            </li>
          </ul>
        </div>
        <div class="article-post__content   page-content__text">
          <p>В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель. Вы не сможете увидеть, что спрятано под обивкой, так что качество швов скажет об общем уровне качества изделия. Если они неаккуратные, контроль качества на производстве хромает, а значит, и внутренности дивана оставляют желать лучшего.</p>
          <p>Обязательно спросите продавца, из чего выполнен каркас дивана. Бывают три основных типа каркасов: ДСП (спрессованные опилки), фанера (склеенные слои натурального дерева) и металлокаркас. Каркасы, изготовленные целиком из ДСП, очень ненадёжны, так как этот материал предназначен для использования в малонагруженных конструкциях. Лучше добавить 2–3 тысячи и купить диван с каркасом из фанеры или на металлокаркасе.</p>
          <img src="img/article-inside-img-2.jpg" alt="Как выбрать диван?">
          <p>В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель. Вы не сможете увидеть, что спрятано под обивкой, так что качество швов скажет об общем уровне качества изделия. Если они неаккуратные, контроль качества на производстве хромает, а значит, и внутренности дивана оставляют желать лучшего.</p>
          <p>Обязательно спросите продавца, из чего выполнен каркас дивана. Бывают три основных типа каркасов: ДСП (спрессованные опилки), фанера (склеенные слои натурального дерева) и металлокаркас. Каркасы, изготовленные целиком из ДСП, очень ненадёжны, так как этот материал предназначен для использования в малонагруженных конструкциях. Лучше добавить 2–3 тысячи и купить диван с каркасом из фанеры или на металлокаркасе.</p>
        </div>
      </section>
      <div class="page-content__sidebar  page-content__sidebar--narrow">
        <div class="panel">
          <div class="panel__wrap">
            <a class="panel__header" href="/catalog-category.html">
              <svg class="panel__icon" width="34" height="24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#couch-icon"></use>
              </svg>
              <h3 class="panel__title">Диваны</h3>
              <span class="panel__link">Перейти</span>
            </a>
            <div class="panel__content">
              <div class="panel__text">
                Лучшее предложение января
              </div>
              <a href="#" class="product-item">
                <div class="product-item__preview">
                  <img class="product-item__img" src="img/product-item-4.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
                </div>
                <div class="product-item__about">
                  <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
                  <div class="product-item__price">3 000 руб</div>
                  <div class="product-item__link">Подробнее</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="articles">
      <div class="page-container">
        <div class="articles__header  header  header--section">
          <h2 class="articles__subtitle  header__title">Статьи по теме</h2>
          <a class="btn" href="/articles.html">Все статьи</a>
        </div>
        <div class="articles__list articles__list--mr">
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-1.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-item.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-2.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-item.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-3.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-item.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-4.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-item.html">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="postscript postscript--article-post">
      <div class="page-container">
        <h2 class="postscript__header">Заголовок</h2>
        <div class="postscript__content text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        </div>
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
