<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Статьи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Статьи</a>
          </li>
        </ul>
      </div>
    </div>
    <section class="articles">
      <div class="page-container">
        <h1 class="articles__title">Статьи</h1>
        <div class="articles__tags">
          Популярные тэги:
          <ul class="tags">
            <li class="tags__item">
              <a class="tags__link" href="\">Диваны</a>
            </li>
            <li class="tags__item">
              <a class="tags__link" href="\">Мягкие диваны</a>
            </li>
            <li class="tags__item">
              <a class="tags__link" href="\">Раскладные диваны</a>
            </li>
            <li class="tags__item">
              <a class="tags__link" href="\">Кухонные</a>
            </li>
            <li class="tags__item">
              <a class="tags__link" href="\">Кухонные</a>
            </li>
          </ul>
        </div>
        <div class="articles__list">
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-1.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-post.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-2.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-post.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-3.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-post.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-4.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-post.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-4.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-post.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-3.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-post.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-2.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-post.html">Подробнее</a>
            </div>
          </div>
          <div class="article-item">
            <div class="article-item__preview">
              <img class="article-item__img" src="img/article-preview-1.jpg" width="253" height="177" alt="Как выбрать диван?">
              <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
            </div>
            <div class="article-item__about">
              <h3 class="article-item__title">Как выбрать диван?</h3>
              <div class="article-item__summary">
                В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
              </div>
              <ul class="tags">
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкая мебель</a>
                </li>
                <li class="tags__item">
                  <a class="tags__link" href="\">Мягкий диван</a>
                </li>
              </ul>
              <a class="article-item__link" href="/article-post.html">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="articles__pagination">
          <a href="/" class="btn showmore--js">Показать еще</a>
        </div>
        <div class="hidemore-block">
          <div class="articles__list">
            <div class="article-item">
              <div class="article-item__preview">
                <img class="article-item__img" src="img/article-preview-1.jpg" width="253" height="177" alt="Как выбрать диван?">
                <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
              </div>
              <div class="article-item__about">
                <h3 class="article-item__title">Как выбрать диван?</h3>
                <div class="article-item__summary">
                  В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
                </div>
                <ul class="tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкая мебель</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкий диван</a>
                  </li>
                </ul>
                <a class="article-item__link" href="/article-post.html">Подробнее</a>
              </div>
            </div>
            <div class="article-item">
              <div class="article-item__preview">
                <img class="article-item__img" src="img/article-preview-1.jpg" width="253" height="177" alt="Как выбрать диван?">
                <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
              </div>
              <div class="article-item__about">
                <h3 class="article-item__title">Как выбрать диван?</h3>
                <div class="article-item__summary">
                  В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
                </div>
                <ul class="tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкая мебель</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкий диван</a>
                  </li>
                </ul>
                <a class="article-item__link" href="/article-post.html">Подробнее</a>
              </div>
            </div>
            <div class="article-item">
              <div class="article-item__preview">
                <img class="article-item__img" src="img/article-preview-1.jpg" width="253" height="177" alt="Как выбрать диван?">
                <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
              </div>
              <div class="article-item__about">
                <h3 class="article-item__title">Как выбрать диван?</h3>
                <div class="article-item__summary">
                  В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
                </div>
                <ul class="tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкая мебель</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкий диван</a>
                  </li>
                </ul>
                <a class="article-item__link" href="/article-post.html">Подробнее</a>
              </div>
            </div>
            <div class="article-item">
              <div class="article-item__preview">
                <img class="article-item__img" src="img/article-preview-1.jpg" width="253" height="177" alt="Как выбрать диван?">
                <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
              </div>
              <div class="article-item__about">
                <h3 class="article-item__title">Как выбрать диван?</h3>
                <div class="article-item__summary">
                  В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
                </div>
                <ul class="tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкая мебель</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкий диван</a>
                  </li>
                </ul>
                <a class="article-item__link" href="/article-post.html">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="postscript">
      <div class="page-container">
        <h2 class="postscript__header">Заголовок</h2>
        <div class="postscript__content text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        </div>
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
