<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Диваны в гостинную</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <div class="breadcrumbs__link" href="\">Главная</div>
          </li>
          <li class="breadcrumbs__item">
            <div class="breadcrumbs__link" href="\catalog.html">Каталог</div>
          </li>
          <li class="breadcrumbs__item">
            <div class="breadcrumbs__link" href="\catalog-category.html">Гостинная</div>
          </li>
          <li class="breadcrumbs__item">
            <div class="breadcrumbs__link  breadcrumbs__link--active">Диваны в гостинную</div>
          </li>
        </ul>
      </div>
    </div>
    <section class="catalog  catalog--white">
      <div class="catalog__nav">
        <div class="page-container">
          <div class="panel  panel--inline">
            <div class="panel__wrap">
              <div class="panel__header" href="/catalog-subcategory.html">
                <svg class="panel__icon" width="31" height="34">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#living-room-icon"></use>
                </svg>
                <h3 class="panel__title">Гостиная:</h3>
              </div>
              <div class="panel__content">
                <ul class="panel__items">
                  <li class="panel__item">
                    <div class="link  link--grey" href="">Диваны</div>
                  </li>
                  <li class="panel__item">
                    <div class="link  link--grey" href="">Шкафы, пеналы</div>
                  </li>
                  <li class="panel__item">
                    <div class="link  link--grey" href="">Шкафы-купе</div>
                  </li>
                  <li class="panel__item">
                    <div class="link  link--grey" href="">Кресла и пуфы</div>
                  </li>
                  <li class="panel__item">
                    <div class="link  link--grey" href="">Стенки</div>
                  </li>
                  <li class="panel__item">
                    <div class="link  link--grey" href="">Журнальные столики</div>
                  </li>
                  <li class="panel__item">
                    <div class="link  link--grey" href="">Подставки под телевизор</div>
                  </li>
                  <li class="panel__item">
                    <div class="link  link--grey" href="">Комоды</div>
                  </li>
                  <li class="panel__item">
                    <div class="link  link--grey  link--green" href="">Еще</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-container">
        <h1 class="catalog__title catalog__title--high">Диваны в гостинную</h1>
      </div>
      <div class="catalog__content">
        <div class="page-container">
          <div class="catalog__list">
            <a href="#" class="product-item">
              <div class="product-item__preview">
                <img class="product-item__img" src="img/product-item-2.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
              </div>
              <div class="product-item__about">
                <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
                <div class="product-item__price">3 000 руб</div>
                <div class="product-item__link">Подробнее</div>
              </div>
            </a>
            <a href="#" class="product-item">
              <div class="product-item__preview">
                <img class="product-item__img" src="img/product-item-4.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
              </div>
              <div class="product-item__about">
                <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
                <div class="product-item__price">3 000 руб</div>
                <div class="product-item__link">Подробнее</div>
              </div>
            </a>
            <a href="#" class="product-item">
              <div class="product-item__preview">
                <img class="product-item__img" src="img/product-item-3.jpg" width="270" height="280" alt="Askona Dionys-топпер для диванов">
              </div>
              <div class="product-item__about">
                <h3 class="product-item__title">Askona Dionys-топпер для диванов</h3>
                <div class="product-item__price">3 000 руб</div>
                <div class="product-item__link">Подробнее</div>
              </div>
            </a>
            <a href="#" class="banner  banner--large">
              <div class="banner__wrap">
                <h3 class="banner__header">Скидка 20%</h3>
                <div class="banner__content">
                  Весь май скидки в салоне "Идеальные гардеробные"
                </div>
                <div class="link  link--short">Подробнее</div>
              </div>
            </a>
            <a href="#" class="product-item">
              <div class="product-item__preview">
                <img class="product-item__img" src="img/product-item-2.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
              </div>
              <div class="product-item__about">
                <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
                <div class="product-item__price">3 000 руб</div>
                <div class="product-item__link">Подробнее</div>
              </div>
            </a>
            <a href="#" class="product-item">
              <div class="product-item__preview">
                <img class="product-item__img" src="img/product-item-2.jpg" width="270" height="280" alt="Диван кухонный со спальным местом">
              </div>
              <div class="product-item__about">
                <h3 class="product-item__title">Диван кухонный со спальным местом</h3>
                <div class="product-item__price">3 000 руб</div>
                <div class="product-item__link">Подробнее</div>
              </div>
            </a>
            <a href="#" class="product-item">
              <div class="product-item__preview">
                <img class="product-item__img" src="img/product-item-4.jpg" width="270" height="280" alt="Askona Dionys-топпер для диванов">
              </div>
              <div class="product-item__about">
                <h3 class="product-item__title">Askona Dionys-топпер для диванов</h3>
                <div class="product-item__price">3 000 руб</div>
                <div class="product-item__link">Подробнее</div>
              </div>
            </a>
            <a href="#" class="product-item">
              <div class="product-item__preview">
                <img class="product-item__img" src="img/product-item-3.jpg" width="270" height="280" alt="Askona Dionys-топпер для диванов">
              </div>
              <div class="product-item__about">
                <h3 class="product-item__title">Askona Dionys-топпер для диванов</h3>
                <div class="product-item__price">3 000 руб</div>
                <div class="product-item__link">Подробнее</div>
              </div>
            </a>
          </div>
          <div class="catalog__sidebar">
            <div class="group">
              <div class="group__header">
                <h3 class="group__title">Характеристики</h3>
                <button class="group__btn">Скрыть/показать элементы</button>
              </div>
              <div class="group__content">
                <form class="filter-form" action="/" method="get">
                  <fieldset class="filter-form__section">
                    <legend class="filter-form__header  filter-form__header--hidden">
                      <h2 class="filter-form__title">Характеристики</h2>
                    </legend>
                    <ul class="filter-form__items">
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-1">
                          <span class="filter-form__checkbox-label">Диваны-трансформеры</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-2">
                          <span class="filter-form__checkbox-label">Диваны-книжки</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-3">
                          <span class="filter-form__checkbox-label">Диваны-аккродеоны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-4" checked>
                          <span class="filter-form__checkbox-label">Выкатные диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-5">
                          <span class="filter-form__checkbox-label">Ортопедические диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-6">
                          <span class="filter-form__checkbox-label">Пружинные диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-7">
                          <span class="filter-form__checkbox-label">Мягкие диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-8" checked>
                          <span class="filter-form__checkbox-label">Модульные диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-9">
                          <span class="filter-form__checkbox-label">Маленькие диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-10">
                          <span class="filter-form__checkbox-label">Детские диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-11">
                          <span class="filter-form__checkbox-label">Двухъярусные диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-12">
                          <span class="filter-form__checkbox-label">Кухонные диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-13">
                          <span class="filter-form__checkbox-label">Диваны из экокожи</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-14">
                          <span class="filter-form__checkbox-label">Угловые диваны</span>
                        </label>
                      </li>
                    </ul>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="group group--collapsed">
              <div class="group__header">
                <h3 class="group__title">Магазины</h3>
                <button class="group__btn">Скрыть/показать элементы</button>
              </div>
              <div class="group__content">
                <form class="filter-form" action="/" method="get">
                  <fieldset class="filter-form__section">
                    <legend class="filter-form__header  filter-form__header--hidden">
                      <h2 class="filter-form__title">Характеристики</h2>
                    </legend>
                    <ul class="filter-form__items">
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-1">
                          <span class="filter-form__checkbox-label">MOON</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-2">
                          <span class="filter-form__checkbox-label">Bellus</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-3">
                          <span class="filter-form__checkbox-label">Askona</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-4" checked>
                          <span class="filter-form__checkbox-label">Vegas</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-5">
                          <span class="filter-form__checkbox-label">MOON</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-6">
                          <span class="filter-form__checkbox-label">Bellus</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-7">
                          <span class="filter-form__checkbox-label">Askona</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-8" checked>
                          <span class="filter-form__checkbox-label">Vegas</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-9">
                          <span class="filter-form__checkbox-label">MOON</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-10">
                          <span class="filter-form__checkbox-label">Bellus</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-11">
                          <span class="filter-form__checkbox-label">Askona</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-12">
                          <span class="filter-form__checkbox-label">Vegas</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-13">
                          <span class="filter-form__checkbox-label">MOON</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-14">
                          <span class="filter-form__checkbox-label">Vegas</span>
                        </label>
                      </li>
                    </ul>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="catalog__sidebar-item article-item">
              <div class="article-item__preview">
                <img class="article-item__img" src="img/article-preview-2.jpg" width="253" height="177" alt="Как выбрать диван?">
                <time class="article-item__date" datetime="2017-04-14">14.04.2017</time>
              </div>
              <div class="article-item__about">
                <h3 class="article-item__title">Как выбрать диван?</h3>
                <div class="article-item__summary">
                  В первую очередь смотрите на качество пошива и уточняйте, из чего сделан каркас и наполнитель.
                </div>
                <ul class="tags">
                  <li class="tags__item">
                    <div class="tags__link" href="\">Мягкая мебель</div>
                  </li>
                  <li class="tags__item">
                    <div class="tags__link" href="\">Мягкий диван</div>
                  </li>
                </ul>
                <div class="article-item__link" href="/article-post.html">Подробнее</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-container">
        <div class="catalog__pagination">
          <div class="btn">Показать еще</div>
        </div>
      </div>
    </section>
    <section class="postscript">
      <div class="page-container">
        <h2 class="postscript__header">Заголовок</h2>
        <div class="postscript__content text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        </div>
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
