<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Каталог</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\catalog.html">Каталог</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Гостинная</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-container">
      <section class="catalog">
        <h2 class="catalog__title">Гостинная</h2>
        <div class="catalog__content  catalog__content--columns">
          <div class="catalog__col">
            <div class="panel  panel--collapsed">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-subcategory.html">
                  <h3 class="panel__title">Диваны</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <div class="panel__preview">
                    <img class="panel__img" src="img/category-item-1.jpg" alt="Диваны">
                  </div>
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                  </ul>
                  <ul class="panel__items  panel__items--extra">
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Пружинные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Мягкие диваны</a>
                    </li>
                  </ul>
                  <button class="panel__more">Показать список</button>
                </div>
              </div>
            </div>
            <div class="panel  panel--collapsed">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-subcategory.html">
                  <h3 class="panel__title">Стеллажи</h3>
                  <span class="panel__link  link">Перейти</span>
                </a>
                <div class="panel__content">
                  <div class="panel__preview">
                    <img class="panel__img" src="img/category-item-5.jpg" alt="Стеллажи">
                  </div>
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                  </ul>
                  <ul class="panel__items  panel__items--extra">
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Пружинные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Мягкие диваны</a>
                    </li>
                  </ul>
                  <button class="panel__more">Показать список</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog__col">
            <div class="panel  panel--collapsed">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-subcategory.html">
                  <h3 class="panel__title">Креста и пуфы</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <div class="panel__preview">
                    <img class="panel__img" src="img/category-item-2.jpg" alt="Креста и пуфы">
                  </div>
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                  </ul>
                  <ul class="panel__items  panel__items--extra">
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Пружинные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Мягкие диваны</a>
                    </li>
                  </ul>
                  <button class="panel__more">Показать список</button>
                </div>
              </div>
            </div>
            <div class="panel  panel--collapsed">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-subcategory.html">
                  <h3 class="panel__title">Подставка под&nbsp;телевизор</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <div class="panel__preview">
                    <img class="panel__img" src="img/category-item-6.jpg" alt="Подставка под телевизор">
                  </div>
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                  </ul>
                  <ul class="panel__items  panel__items--extra">
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Пружинные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Мягкие диваны</a>
                    </li>
                  </ul>
                  <button class="panel__more">Показать список</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog__col">
            <div class="panel  panel--collapsed">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-subcategory.html">
                  <h3 class="panel__title">Шкафы, пеналы</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <div class="panel__preview">
                    <img class="panel__img" src="img/category-item-3.jpg" alt="Шкафы, пеналы">
                  </div>
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                  </ul>
                  <ul class="panel__items  panel__items--extra">
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Пружинные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Мягкие диваны</a>
                    </li>
                  </ul>
                  <button class="panel__more">Показать список</button>
                </div>
              </div>
            </div>
            <div class="panel  panel--collapsed">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-subcategory.html">
                  <h3 class="panel__title">Шкафы, пеналы</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <div class="panel__preview">
                    <img class="panel__img" src="img/category-item-5.jpg" alt="Шкафы, пеналы">
                  </div>
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                  </ul>
                  <ul class="panel__items  panel__items--extra">
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Пружинные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Мягкие диваны</a>
                    </li>
                  </ul>
                  <button class="panel__more">Показать список</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog__col">
            <div class="panel  panel--collapsed">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-subcategory.html">
                  <h3 class="panel__title">Журнальные столики</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <div class="panel__preview">
                    <img class="panel__img" src="img/category-item-4.jpg" alt="Журнальные столики">
                  </div>
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                  </ul>
                  <ul class="panel__items  panel__items--extra">
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Диваны-аккродеоны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Выкатные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Ортопедические диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Пружинные диваны</a>
                    </li>
                    <li class="category-card__item">
                      <a class="link  link--grey" href="">Мягкие диваны</a>
                    </li>
                  </ul>
                  <button class="panel__more">Показать список</button>
                </div>
              </div>
            </div>
            <a href="#" class="banner  banner--small  banner--float  banner--small-img">
              <div class="banner__wrap">
                <h3 class="banner__header">Скидка 20%</h3>
                <div class="banner__content">в салоне Bellus</div>
                <div class="link  link--short">Подробнее</div>
              </div>
            </a>
            <a href="#" class="banner  banner--small  banner--float">
              <div class="banner__wrap">
                <div class="banner__label banner__label--sm banner__label--left">20%</div>
                <h3 class="banner__header">Скидка 20%</h3>
                <div class="banner__content">в салоне Bellus</div>
                <div class="link  link--short">Подробнее</div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
