<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Каталог</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Каталог</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-container">
      <section class="catalog">
        <h1 class="catalog__title">Каталог</h1>
        <div class="catalog__content  catalog__content--columns">
          <div class="catalog__col">
            <div class="panel">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="34" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#couch-icon"></use>
                  </svg>
                  <h3 class="panel__title">Диваны</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Угловые</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Прямые</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Выкатные</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Спальные</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-аккордионы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-книжки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Детские</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Кухонные</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны-трансформеры</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="28" height="29">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#closet-icon"></use>
                  </svg>
                  <h3 class="panel__title">Шкафы-купе</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">В гостиную</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">В прихожую</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">В спальню</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Угловые</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Встроенные</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog__col">
            <div class="panel">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="31" height="34">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#living-room-icon"></use>
                  </svg>
                  <h3 class="panel__title">Гостиная</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Шкафы, пеналы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Шкафы-купе</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Кресла и пуфы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Стенки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Журнальные столики</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Подставки под телевизор</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Комоды</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Антресоли</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="35" height="31">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bedroom-icon"></use>
                  </svg>
                  <h3 class="panel__title">Спальня</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Кровати</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Шкафы, пеналы </a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Пуфы, банкетки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Комплекты</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Комоды</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Подъемные кровати</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Трельяжи, Зеркала</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Шкафы-купе</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Тумбы</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog__col">
            <div class="panel">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="36" height="32">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#kitchen-icon"></use>
                  </svg>
                  <h3 class="panel__title">Кухня</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Куханные гарнитуры</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Барные столы и стулья</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Столы обеденные</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Кухонные диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Табуреты, пуфы и банкетки</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="38" height="31">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playroom-icon"></use>
                  </svg>
                  <h3 class="panel__title">Детская</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Диваны</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Кресла</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Столы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Кровати</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Стулья</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Шкафы, пеналы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Стеллажи, Полки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Комоды</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Готовые композиции</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Подъемные кровати</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Тумбы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Пуфы, банкетки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Аксессуары</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog__col">
            <div class="panel">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="36" height="32">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hallway-icon"></use>
                  </svg>
                  <h3 class="panel__title">Прихожая</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Шкафы-купе</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Обувницы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Шкафы, Пеналы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Зеркала</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Антресоли</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Пуфы, банкетки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Комоды</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Готовые композиции</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Тумбы, Вешалки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Стеллажи, полки</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="40" height="26">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cabinet-icon"></use>
                  </svg>
                  <h3 class="panel__title">Кабинет</h3>
                  <span class="panel__link">Перейти</span>
                </a>
                <div class="panel__content">
                  <ul class="panel__items">
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Столы письменные/компьютерные</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Шкафы, Пеналы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Тумбы</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Стеллажи, полки</a>
                    </li>
                    <li class="panel__item">
                      <a class="link  link--grey" href="">Антресоли</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
