<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <section class="promotion-slider">
      <div class="main">
        <div class="slider-sm page-container">
          <div class="slideshow">
            <div class="slider-item">
              <div class="slider__content">
                <div class="slider__title">Крутые кухни!</div>
                <div class="slider__subtitle">Кухни для вас!</div>
                <div class="slider__img"><img src="img/sofa.png" alt=""></div>
              </div>
            </div>
            <div class="slider-item">
              <div class="slider__content">
                <div class="slider__title">Сезонный баннер!</div>
                <div class="slider__subtitle">Акции мебельного центра</div>
                <div class="slider__img"><img src="img/action.png" alt=""></div>
              </div>
            </div>
            <div class="slider-item">
              <div class="slider__content">
                <div class="slider__title">ДЕТСКАЯ МЕБЕЛЬ</div>
                <div class="slider__subtitle">Кровати, столы, стулья...</div>
                <div class="slider__img"><img src="img/children.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-wrap">
          <div class="cube-overlay" data-loader="overlay"></div>
          <div class="cube-wrap" data-loader>
            <div class="cube _chair">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </div>
            <a class="cube _kitchens" href="kitchens" data-name="kitchens" data-img="img/action.png" data-title="Крутые кухни!" data-subtitle="Кухни для вас!" data-control="data-control">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </a>
            <a class="cube _actions" href="actions" data-name="actions" data-img="img/action.png" data-title="Сезонный баннер!" data-subtitle=" Акции мебельного центра" data-control="data-control">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </a>
            <a class="cube _cabinets" href="cabinets" data-name="cabinets" data-img="img/action.png" data-title="Сезонный баннер!" data-subtitle=" Акции мебельного центра" data-control="data-control">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </a>
            <div class="cube _chair">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </div>
            <a class="cube _childrens" href="childrens" data-name="childrens" data-img="img/children.png" data-title="ДЕТСКАЯ МЕБЕЛЬ" data-subtitle="Кровати, столы, стулья..." data-control="data-control">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </a>
            <a class="cube _sofa" href="#" data-name="sofa" data-img="img/sofa.png" data-title="Диваны" data-subtitle="Акции мебельного центра" data-control="data-control">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </a>
            <a class="cube _bedrooms" href="bedrooms" data-name="bedrooms" data-img="img/action.png" data-title="Сезонный баннер!" data-subtitle=" Акции мебельного центра" data-control="data-control">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </a>
            <div class="cube _chair">
              <div class="cube__side _back"></div>
              <div class="cube__side _left"></div>
              <div class="cube__side _right"></div>
              <div class="cube__side _top"></div>
              <div class="cube__side _bottom"></div>
              <div class="cube__side _front"></div>
            </div>
          </div>
          <a class="banner-main" href="#">
            <div class="banner__img"><img src="img/sofa.png" alt=""></div>
            <div class="banner-main__content">
              <div class="banner__title"></div>
              <div class="banner__subtitle"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="anchor">
        <a class="promotion-slider__mouse" href="#main">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.33 27.33">
            <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                    <rect id="_Rectangle_" data-name="<Rectangle>" class="cls-1" x="0.5" y="0.5" width="16.33" height="26.33" rx="8.17" ry="8.17"></rect>
                    <line id="_Path_" data-name="<Path>" class="cls-1" x1="8.67" y1="14.17" x2="8.67" y2="20.83"></line>
                    <polyline id="_Path_2" data-name="<Path>" class="cls-1" points="6.88 19.73 8.57 21.42 10.46 19.54"></polyline>
                </g>
            </g>
          </svg>
        </a>
      </div>
    </section>
    <section class="benefits benefits--bt">
      {% include "templates/partials/section-benefits.html" %}
    </section>
    {% include "templates/partials/section-products--popular.html" %}
    <section class="promotions">
      <div class="page-container">
        <div class="promotions__header  header  header--section">
          <h2 class="promotions__title  header__title">Акции</h2>
          <a href="/promotions.html" class="btn">Все акции</a>
        </div>
        <div class="promotions__hot promotions__hot--mb70">
          <a href="#" class="banner  banner--large">
            <div class="banner__wrap">
              <h3 class="banner__header">Скидка 20%</h3>
              <div class="banner__content">
                Весь май скидки в салоне "Идеальные гардеробные"
              </div>
              <div class="link  link--short">Подробнее</div>
            </div>
          </a>
          <a href="#" class="banner  banner--medium">
            <div class="banner__wrap">
              <div class="banner__label banner__label--lg banner__label--top">20%</div>
              <h3 class="banner__header">Скидка 20%</h3>
              <div class="banner__content">
                На детскую мебель в салоне Bellus
              </div>
              <div class="link  link--short">Подробнее</div>
            </div>
          </a>
          <a href="#" class="banner  banner--small  banner--small-img">
            <div class="banner__wrap">
              <h3 class="banner__header">Скидка 20%</h3>
              <div class="banner__content">в салоне Bellus</div>
              <div class="link  link--short">Подробнее</div>
            </div>
          </a>
          <a href="#" class="banner  banner--small">
            <div class="banner__wrap">
              <div class="banner__label banner__label--sm banner__label--left">20%</div>
              <h3 class="banner__header">Скидка 20%</h3>
              <div class="banner__content">в салоне Bellus</div>
              <div class="link  link--short">Подробнее</div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <section class="stores">
      <div class="page-container">
        <div class="stores__header  header  header--section  header--pt50">
          <h2 class="stores__title  header__title">Магазины</h2>
          <a href="/" class="btn">Все магазины</a>
        </div>
        <div class="stores__list">
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-bellus.jpg" width="152" height="65" alt="Bellus">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-askona.jpg" width="152" height="65" alt="Askona">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-bo-box.jpg" width="178" height="95" alt="Bo-Box">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-moon.jpg" width="138" height="58" alt="Moon">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-divanger.jpg" width="153" height="66" alt="Divanger">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-mrdoors.jpg" width="148" height="63" alt="Mrdoors">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-bo-box.jpg" width="178" height="95" alt="Bo-Box">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-mrdoors.jpg" width="148" height="63" alt="Mrdoors">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-divanger.jpg" width="153" height="66" alt="Divanger">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-bellus.jpg" width="152" height="65" alt="Bellus">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-askona.jpg" width="152" height="65" alt="Askona">
          </a>
          <a class="stores__link" href="/" target="_blank">
            <img class="stores__logo" src="img/store-bo-box.jpg" width="178" height="95" alt="Bo-Box">
          </a>
        </div>
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
