<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Как добраться</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Как добраться</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="location">
      <div class="page-container">
        <div class="location__header">
          <h1 class="location__title">Как добраться</h1>
          <div class="location__addres">
            <span class="location__addres-label">Адрес:</span> Санкт-Петербург, Балканская пл. 5, ст.м. Купчино, ТЦ «Балкания Nova»
          </div>
        </div>
      </div>
      <div class="map">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwOV3ft4xXnuj9f7aCPTcdKF_bTn6g25A&callback=initMap" defer async></script>
        <script>
        //map
        function initMap() {
            var mapOptions = {
                center: new google.maps.LatLng(59.91916157, 30.3251195),
                zoom: 16,
                mapTypeControl: false,
                zoomControl: false,
                scrollwheel: false
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(59.91916157, 30.3251195),
                map: map,
                icon: "img/map-marker-green-icon.png"
            });
        }
        //map
        </script>
        <div id="map" style="width:100%;height:500px"></div>
        <!-- <img src="img/map.jpg" width="1920" height="496" alt=""> -->
      </div>
      <section class="location__benefits benefits">
        {% include "templates/partials/section-benefits.html" %}
      </section>
    </div>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
