<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Диван Фэнтэзи</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Каталог</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Диваны</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Диван Фэнтэзи</a>
          </li>
        </ul>
      </div>
    </div>
    <section class="product-post">
      <div class="page-container">
        <div class="product-post__about">
          <div class="product-post__header">
            <h1 class="product-post__title">Диван Фэнтэзи</h1>
            <div class="product-post__price">3 000 руб</div>
          </div>
          <ul class="product-post__tags  tags">
            <li class="tags__item">
              <a href="" class="tags__link">Диваны</a>
            </li>
            <li class="tags__item">
              <a href="" class="tags__link">Мягкие диваны</a>
            </li>
            <li class="tags__item">
              <a href="" class="tags__link">Раскладные диваны</a>
            </li>
            <li class="tags__item">
              <a href="" class="tags__link">Кухонные</a>
            </li>
            <li class="tags__item">
              <a href="" class="tags__link">Кухонные</a>
            </li>
          </ul>
          <table class="product-post__options table">
            <caption class="table__caption visually-hidden">Характеристики товара</caption>
            <tbody>
              <tr class="table__row">
                <th class="table__col  table__col--header">Материал:</th>
                <td class="table__col">Натуральная кожа</td>
              </tr>
              <tr class="table__row">
                <th class="table__col  table__col--header">Цвет:</th>
                <td class="table__col">Красный</td>
              </tr>
              <tr class="table__row">
                <th class="table__col  table__col--header">Габариты:</th>
                <td class="table__col">200x900x860 мм</td>
              </tr>
              <tr class="table__row">
                <th class="table__col  table__col--header">Спальное место:</th>
                <td class="table__col">2000x1200 мм</td>
              </tr>
              <tr class="table__row">
                <th class="table__col  table__col--header">Страна производитель:</th>
                <td class="table__col">Россия</td>
              </tr>
            </tbody>
          </table>
          <div class="product-post__desc">
            <h2 class="product-post__desc-title">Описание</h2>
            <p class="product-post__desc-text">Эргономичный, яркий, стильный диван Фэнтази идеально подойдёт для обустройства интерьера современных, активных людей, следящих за тенденциями моды и дизайна, подчёркивая тем самым их индивидуальность. Модель обладает функцией подъёма и опускания подлокотников при раскладывании. Спинка дивана разделена на две части, которые фиксируются в пяти положениях. В основе дивана находится металлический каркас, на который натянуты инерционные ремни, поверх ремней укладывается матрац из пенополиуретана.</p>
          </div>
        </div>
        <div class="product-post__preview">
          <div class="product-post__slider">
            <div class="slider">
              <ul class="slider__items">
                <li class="slider__item">
                  <img src="img/product-preview.jpg">
                </li>
                <li class="slider__item">
                  <img src="img/product-preview.jpg">
                </li>
                <li class="slider__item">
                  <img src="img/product-preview.jpg">
                </li>
              </ul>
              <div class="slider__controls">
                <div class="slider__btns">
                  <div class="slider__btn slider__btn--next"></div>
                  <div class="slider__btn slider__btn--prev"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-post__store">
          <div class="product-post__store-about">
            <h2 class="product-post__subtitle">Магазин</h2>
            <div class="product-post__promo">
              <span class="product-post__promo-label">%</span>
              Предъявите документы на новую квартиру в отделе MOON в&nbsp;мебельном центре «12 стульев» и <strong>получите скидку 10%!</strong>
            </div>
          </div>
          <ul class="product-post__store-contacts">
            <li class="product-post__contacts-item">
              <img class="product-post__contacts-logo" src="img/store-bo-box.jpg"  width="178" height="95" alt="bo-box">
              <a class="btn show-phone--js" href="#" data-phone="8-800-999-99-99">Показать телефон</a>
            </li>
            <li class="product-post__contacts-item">
              <img src="img/svg/benefits-map-icon.svg" width="70" height="45">
              <p class="product-post__contacts-label">на карте центра</p>
              <a href="/" class="btn">Секция AB - 1 этаж</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="products">
      <div class="page-container">
        <div class="products__header  header  header--section">
          <h2 class="products__title">Похожие товары</h2>
          <a href="/catalog.html" class="btn">Все товары</a>
        </div>
      </div>
      <div class="products__list  products__list--no-wrap">
        {% include "templates/partials/section-products-list.html" %}
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
