<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Статьи - Как выбрать диван?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\articles.html">Акции</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">На диване в Грецию</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-container">
      <section class="promotion-post  promotion-post--left">
        <div class="promotion-post__thumbnail">
          <img class="promotion-post__img" src="img/promotions-inside-img-1.jpg" width="859" height="446" alt="Как выбрать диван?">
        </div>
        <div class="promotion-post__header">
          <h1 class="promotion-post__title">На дивание в Грецию!</h1>
          <time class="promotion-post__date">c 14.04.2017 по 20.05.2017</time>
        </div>
        <div class="promotion-post__content page-content__text page-content__text--grey">
          <ul>
            <li>С 3 марта по 8 апреля <strong>совершите покупку</strong> на сумму от 10 000 рублей в любом магазине. МЦ «12 Стульев»</li>
            <li><strong>Зарегистрируйте чек</strong> на стойке информации и получите гарантированный подарок.</li>
            <li>8 апреля в 15:00 <strong>примите участие в розыгрыше</strong> главного приза – путешествия в Грецию*!</li>
          </ul>
          <p>Стойка информации расположена на первом этаже МЦ «12 Стульев» и работает в течение всего срока действия акции с 11:00 - 21:00</p>
          <p>При предъявлении чека на сумму от 10 000 рублей за покупку любых предметов мебели, аксессуаров и т.д. в любых магазинах МЦ «12 Стульев» в период с 3 марта по 8 апреля 2017 г. участник получает один гарантированный подарок и купоны для участия в розыгрыше главного приза. Купоны выдаются из расчета - один купон за каждые 10 000 р. в чеке, но не более 10 купонов на один чек.</p>
          <p>Розыгрыш главного приза состоится 8 апреля 2017 г. на 1 этаже МЦ «12 Стульев» среди присутствующих участников акции</p>
          <p>*Главный приз - сертификат на сумму 150 000 руб. на покупку тура в Грецию в период с 10 апреля по 30 сентября 2017 г. Среди других призов – iPhone, iPad, бытовая техника и товары для дома</p>
          <p>К участию в акции не допускаются сотрудники МЦ «12 Стульев», сотрудники магазинов, расположенных в МЦ «12 Стульев», а также члены их семей</p>
        </div>
      </section>
      <div class="page-content__sidebar  page-content__sidebar--narrow">
        <div class="panel">
          <div class="panel__wrap">
            <div class="panel__content">
              <div class="panel__text panel__text--large">
                Акция магазина
              </div>
              <div class="promotions-item">
                <img src="img/bobox.png" alt="">
              </div>
            </div>
            <a class="panel__footer" href="/promotions.html">
              <span class="panel__link panel__link--back">Перейти</span>
              <h3 class="panel__title">Ко всем акциям</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
