<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Акции</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Акции</a>
          </li>
        </ul>
      </div>
    </div>
    <section class="promotions">
      <div class="page-container">
        <h1 class="promotions__title">Акции</h1>
        {% include "templates/partials/section-promotions-hot.html" %}
      </div>
      <div class="promotions__content">
        <div class="page-container">
          <div class="promotions__sidebar">
            <div class="group">
              <div class="group__header">
                <h3 class="group__title">Акции по категориям</h3>
              </div>
              <div class="group__content group__content--border-bottom">
                <form class="filter-form" action="/" method="get">
                  <fieldset class="filter-form__section">
                    <legend class="filter-form__header  filter-form__header--hidden">
                      <h2 class="filter-form__title">Акции по категориям</h2>
                    </legend>
                    <ul class="filter-form__items">
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-1">
                          <span class="filter-form__checkbox-label">Диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-2">
                          <span class="filter-form__checkbox-label">Кухни</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-3">
                          <span class="filter-form__checkbox-label">Гостинные</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-4" checked>
                          <span class="filter-form__checkbox-label">Модульная мебель</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-5">
                          <span class="filter-form__checkbox-label">Шкафы-купе</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-6">
                          <span class="filter-form__checkbox-label">Двери</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-7">
                          <span class="filter-form__checkbox-label">Детская мебель</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-8" checked>
                          <span class="filter-form__checkbox-label">Готовые наборы</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-9">
                          <span class="filter-form__checkbox-label">Подростковая мебель</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-10">
                          <span class="filter-form__checkbox-label">Мебель для спальни</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-11">
                          <span class="filter-form__checkbox-label">Аксессуары для спальни</span>
                        </label>
                      </li>
                    </ul>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div class="promotions__list">
            <div class="banner">
              <div class="banner__wrap">
                <div class="banner__label banner__label--lg banner__label--top">%</div>
                <h3 class="banner__header">«Двойная Выгода»</h3>
                <img class="banner__logo" src="img/store-askona.jpg" width="131" height="55" alt="Askona">
                <div class="banner__content">
                  Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
                </div>
                <a href="/" class="link  link--short">Подробнее</a>
              </div>
            </div>
            <div class="banner">
              <div class="banner__wrap">
                <div class="banner__label banner__label--lg banner__label--top">%</div>
                <h3 class="banner__header">«Двойная Выгода»</h3>
                <img class="banner__logo" src="img/store-bo-box.jpg" width="135" height="72" alt="Bo-box">
                <div class="banner__content">
                  Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
                </div>
                <a href="/" class="link  link--short">Подробнее</a>
              </div>
            </div>
            <div class="banner">
              <div class="banner__wrap">
                <div class="banner__label banner__label--lg banner__label--top">%</div>
                <h3 class="banner__header">«Двойная Выгода»</h3>
                <img class="banner__logo" src="img/store-moon.jpg" width="138" height="58" alt="Moon">
                <div class="banner__content">
                  Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
                </div>
                <a href="/" class="link  link--short">Подробнее</a>
              </div>
            </div>
            <div class="banner">
              <div class="banner__wrap">
                <div class="banner__label banner__label--lg banner__label--top">%</div>
                <h3 class="banner__header">«Двойная Выгода»</h3>
                <img class="banner__logo" src="img/store-bo-box.jpg" width="135" height="72" alt="Bo-box">
                <div class="banner__content">
                  Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
                </div>
                <a href="/" class="link  link--short">Подробнее</a>
              </div>
            </div>
            <div class="banner">
              <div class="banner__wrap">
                <div class="banner__label banner__label--lg banner__label--top">%</div>
                <h3 class="banner__header">«Двойная Выгода»</h3>
                <img class="banner__logo" src="img/store-bo-box.jpg" width="135" height="72" alt="Bo-box">
                <div class="banner__content">
                  Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
                </div>
                <a href="/" class="link  link--short">Подробнее</a>
              </div>
            </div>
            <div class="banner">
              <div class="banner__wrap">
                <div class="banner__label banner__label--lg banner__label--top">%</div>
                <h3 class="banner__header">«Двойная Выгода»</h3>
                <img class="banner__logo" src="img/store-bo-box.jpg" width="135" height="72" alt="Bo-box">
                <div class="banner__content">
                  Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
                </div>
                <a href="/" class="link  link--short">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-container">
        <div class="promotions__pagination">
          <a href="#" class="btn showmore--js">Показать еще</a>
        </div>
        <div class="hidemore-block">
          <div class="banner">
            <div class="banner__wrap">
              <h3 class="banner__header">«Двойная Выгода»</h3>
              <img class="banner__logo" src="img/store-askona.jpg" width="131" height="55" alt="Askona">
              <div class="banner__content">
                Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
              </div>
              <a href="/" class="link  link--short">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="postscript">
      <div class="page-container">
        <h2 class="postscript__header">Заголовок</h2>
        <div class="postscript__content text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        </div>
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
