<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Арендаторам</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Арендаторам</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-container">
      <div class="page-content__sidebar">
        <form class="form  form--login" action="" method="post">
          <fieldset class="form__section form__section--login">
            <legend class="form__section-title">Вход в личный кабинет</legend>
            <ul class="form__items">
              <li class="form__item">
                <label class="form__label" for="login">Логин</label>
                <input class="form__input form__input--login" type="mail" id="login" name="login" placeholder="mail@">
              </li>
              <li class="form__item">
                <label class="form__label" for="password">Пароль</label>
                <input class="form__input form__input--password" type="password" id="password" name="password" placeholder="********">
              </li>
            </ul>
          </fieldset>
          <div class="form__footer">
            <input class="form__submit" type="submit" value="Войти">
            <a class="form__link" href="/">Забыли пароль?</a>
          </div>
        </form>
        <div class="text text--banner">
          Посещаемость ТРК «Балканский» более <span class="text text--bold text--green">75 000 человек в день!</span>
        </div>
        <form class="form  form--feedback" action="" method="post">
          <fieldset class="form__section form__section--feedback">
            <legend class="form__section-title">Оставить заявку</legend>
            <ul class="form__items">
              <li class="form__item">
                <label class="form__label" for="name">Имя</label>
                <input class="form__input form__input--name" type="text" id="name" name="name" placeholder="Николай">
              </li>
              <li class="form__item">
                <label class="form__label" for="tel">Телефон</label>
                <input class="form__input form__input--tel" type="tel" id="tel" name="tel" placeholder="8 999-99-99">
              </li>
              <li class="form__item">
                <label class="form__label" for="company">Компания</label>
                <input class="form__input form__input--company" type="company" id="company" name="company" placeholder="12 стульев">
              </li>
              <li class="form__item">
                <label class="form__label" for="message">Комментарий</label>
                <textarea class="form__textarea form__textarea--message" id="message" name="message" rows="4" placeholder="Расскажите о вашей ситуации"></textarea>
              </li>
            </ul>
          </fieldset>
          <div class="form__footer">
            <input class="form__submit" type="submit" value="Отправить">
            <div class="form__postscript">
              или позвонить нам по телефону <br> (812) 383-70-19, (812) 333-05-04
            </div>
          </div>
        </form>
      </div>
      <div class="page-content__main">
        <div class="page-content__inner">
          <h1 class="page-content__header">Арендаторам</h1>
          <div class="page-content__text">
            <p>Мы приглашаем к сотрудничеству мебельные компании и фабрики. Дополнительную информацию по аренде помещений Вы можете уточнить по телефону или отправить запрос на электронную почту:</p>
          </div>
        </div>
        <ul class="contacts">
          <li class="contacts__item">
            <span class="contacts__tel">(812) 383-70-19, (812) 333-05-04</span>
          </li>
          <li class="contacts__item">
            <span class="contacts__email">
              <a href="mailto:d.barchukov@adamant.ru">d.barchukov@adamant.ru</a>
            </span>
          </li>
        </ul>
        <section class="advantages">
          <h2 class="advantages__title">Наши преимущества</h2>
          <ul class="advantages__items">
            <li class="advantages__item">
              <div class="advantages__item-img">
                <img src="img/svg/benefits-list-item-1-icon.svg" width="62" height="35" alt="">
              </div>
              Численность населения Фрунзенского района превышает 400 000 человек. Район граничит с Московским (290 000 чел.) и Невским (460 000 чел.) р-ми.
            </li>
            <li class="advantages__item">
              <div class="advantages__item-img">
                <img src="img/svg/benefits-list-item-2-icon.svg" width="60" height="48" alt="">
              </div>
              Величина суммарного суточного автомобильного потока по улицам Малая Балканская, Дунайскому и Витебскому проспектам превышает 120 000 авто.
            </li>
            <li class="advantages__item">
              <div class="advantages__item-img">
                <img src="img/svg/benefits-list-item-3-icon.svg" width="57" height="57" alt="">
              </div>
              Близость комплекса к КАД обеспечивает удобный доступ для покупателей из других р-ов города и пригородов (Пушкинский, Колпинский, Гатчинский р-ны).
            </li>
            <li class="advantages__item">
              <div class="advantages__item-img">
                <img src="img/svg/benefits-list-item-4-icon.svg" width="37" height="35" alt="">
              </div>
              Комплекс хорошо просматривается с Дунайского путепровода, с Витебского проспекта и КАД.
            </li>
          </ul>
        </section>
        <div class="page-content__text page-content__inner">
          <h5>Современная инфраструктура и широкие возможности для арендаторов:</h5>
          <ul>
            <li><strong>Отделка помещений</strong> и создание экспозиции в фирменной стилистике арендатора.</li>
            <li><strong>Современные</strong> энергосистемы и средства коммуникации.</li>
            <li><strong>Централизованная система</strong> кондиционирования и вентиляции.</li>
            <li>Круглосуточная охрана с системой видеонаблюдения.</li>
            <li>Наличие <strong>грузовых подъемников</strong>, помещения для разгрузки мебели, подъезды для транспорта.</li>
            <li>Удобная <strong>навигация</strong> по центру для покупателей.</li>
            <li>Развитая система <strong>внутренней рекламы в ТРК</strong> – большие возможности для промо-акций.</li>
          </ul>
          <img src="img/renters-img.jpg" alt="Управляющая компания «Адамант»">
          <h3>Управляющая компания «Адамант»</h3>
          <p>Проект мебельного центра «12 стульев» представляет Управляющая компания «Адамант», в составе Холдинга «Адамант» – лидера рынка коммерческой недвижимости Санкт-Петербурга.</p>
          <p>На сегодняшний день в активах компании – 23 современных торгово-развлекательных комплексов общей площадью более 1,2 млн кв.м. На стадии проектирования и строительства находятся еще несколько объектов. Помимо строительства и эксплуатации торгово- развлекательных комплексов, в состав Холдинговой компании «Адамант» входят десятки производственных компаний, предприятия сферы услуг, отели, рестораны и многие другие направления бизнеса.</p>
        </div>
      </div>
    </div>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
