<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Карта центра</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Карта центра</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-container">
      <div class="page-content__sidebar page-content__sidebar--svg">
        <div class="form svg-info">
          <div class="form__item">
            <div class="svg-info-sectionMain"></div>
            <div class="svg-info-sectionSecond mt15"></div>
          </div>
          <div class="form__item">
            <div class="svg-info-title"></div>
          </div>
          <div class="form__item">
            <div class="svg-info-logo"></div>
          </div>
        </div>
        <div class="form form--decor">
          <ul class="tags">
            <li class="tags__item">
              <a href="" class="tags__link">Диваны</a>
            </li>
            <li class="tags__item">
              <a href="" class="tags__link">Мягкие диваны</a>
            </li>
            <li class="tags__item">
              <a href="" class="tags__link">Раскладные диваны</a>
            </li>
            <li class="tags__item">
              <a href="" class="tags__link">Кухонные</a>
            </li>
          </ul>
          <div class="tags__more"><a href="#" class="showmore--js text--green">Еще</a></div>
          <div class="hidemore-block">
            <ul class="tags">
              <li class="tags__item">
                <a href="" class="tags__link">Диваны</a>
              </li>
              <li class="tags__item">
                <a href="" class="tags__link">Мягкие диваны</a>
              </li>
              <li class="tags__item">
                <a href="" class="tags__link">Раскладные диваны</a>
              </li>
              <li class="tags__item">
                <a href="" class="tags__link">Кухонные</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="page-content__main page-content__main--svg">
        <div class="mapcenter">
          <div class="mapcenter__left tabs">
            <div class="mapcenter__inner ">
              <h1 class="page-content__header">карта центра</h1>
              <ul class="tabs__caption">
                <li class="active">1 этаж</li>
                <li>2 этаж</li>
                <li>3 этаж</li>
              </ul>
            </div>
            <div class="tabs__content active">
              {% include "templates/partials/floor1.html" %}
            </div>

            <div class="tabs__content">
              {% include "templates/partials/floor2.html" %}
            </div>

            <div class="tabs__content">
              {% include "templates/partials/floor3.html" %}
            </div>
            <div class="popover"></div>
            <div class="popover-txt"></div>
            <!-- </div> -->
          </div>
          <div class="mapcenter__right">
            <form class="mapcenter__search-form search-form" action="/" method="get">
              <input class="search-form__input" type="text" name="q" placeholder="Поиск">
              <button class="search-form__submit" type="submit">Поиск</button>
            </form>
            <div class="mapcenter__list mapcenter__list--js">
              <div class="mapcenter__list-title">1 этаж</div>
              <ul class="mapcenter__list-items">
                <li class="mapcenter__list__item" data-lid="001">Elfa. Идеальный гардероб</li>
                <li class="mapcenter__list__item" data-lid="002">Галерея "Антураж"</li>
                <li class="mapcenter__list__item" data-lid="003">MOON</li>
                <li class="mapcenter__list__item" data-lid="004">Диваны Express</li>
                <li class="mapcenter__list__item" data-lid="005">Elfa. Идеальный гардероб</li>
                <li class="mapcenter__list__item" data-lid="006">Галерея "Антураж"</li>
                <li class="mapcenter__list__item" data-lid="007">MOON</li>
                <li class="mapcenter__list__item" data-lid="008">MOON</li>
                <li class="mapcenter__list__item" data-lid="009">MOON</li>
                {% for i in range(10, 39) -%}
                  <li class="mapcenter__list__item" data-lid="0{{i}}">Диваны Express</li>
                {%- endfor %}
              </ul>
              <div class="mapcenter__list-title">2 этаж</div>
              <ul class="mapcenter__list-items">
                <li class="mapcenter__list__item" data-lid="101">Elfa. Идеальный гардероб</li>
                <li class="mapcenter__list__item" data-lid="102">Галерея "Антураж"</li>
                <li class="mapcenter__list__item" data-lid="103">MOON</li>
                <li class="mapcenter__list__item" data-lid="104">Диваны Express</li>
                <li class="mapcenter__list__item" data-lid="105">Elfa. Идеальный гардероб</li>
                <li class="mapcenter__list__item" data-lid="106">Галерея "Антураж"</li>
                <li class="mapcenter__list__item" data-lid="107">MOON</li>
                <li class="mapcenter__list__item" data-lid="108">Диваны Express</li>
                <li class="mapcenter__list__item" data-lid="109">MOON</li>
                {% for i in range(10, 65) -%}
                  <li class="mapcenter__list__item" data-lid="1{{i}}">Галерея "Антураж"</li>
                {%- endfor %}
              </ul>
              <div class="mapcenter__list-title">3 этаж</div>
              <ul class="mapcenter__list-items">
                <li class="mapcenter__list__item" data-lid="201">Elfa. Идеальный гардероб</li>
                <li class="mapcenter__list__item" data-lid="202">Галерея "Антураж"</li>
                <li class="mapcenter__list__item" data-lid="203">MOON</li>
                <li class="mapcenter__list__item" data-lid="204">Диваны Express</li>
                <li class="mapcenter__list__item" data-lid="205">Elfa. Идеальный гардероб</li>
                <li class="mapcenter__list__item" data-lid="206">Галерея "Антураж"</li>
                <li class="mapcenter__list__item" data-lid="207">MOON</li>
                <li class="mapcenter__list__item" data-lid="208">Диваны Express</li>
                <li class="mapcenter__list__item" data-lid="209">Диваны Express</li>
                {% for i in range(10, 64) -%}
                  <li class="mapcenter__list__item" data-lid="2{{i}}">Elfa. Идеальный гардероб</li>
                {%- endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
