<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>О центре</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">О центре</a>
          </li>
        </ul>
      </div>
    </div>
    <section class="about">
      <div class="about__top">
        <div class="page-container">
          <div class="about-main">
            <div class="about__left">
              <div class="about__header">
                <h1 class="about__title">Мебельный центр «12 стульев»</h1>
                <span class="text text--location text--location-grey">Расположен на Балканской площади, прямо у станции метро «Купчино».</span>
              </div>
              <div class="about__content">
                <p>На 3 этажах центра разместились экспозиции мебельных компаний и фабрик Санкт-Петербурга и других регионов России, а также салоны ведущих европейских мебельных компаний. Вниманию посетителей предлагается большой выбор корпусной и мягкой мебели, кухонные гарнитуры, детская мебель, мебель для дома и офиса и сопутствующие товары.</p>
                <p>Мебельный центр «12 стульев» открылся для посетителей в составе второй очереди торгово-развлекательного комплекса «Балкания NOVA» и стал частью единого торгово-развлекательного комплекса «Балканский» у станции метро «Купчино».</p>
              </div>
            </div>
            <div class="about__right">
              <img class="about__img" src="img/shopping-mall.jpg" alt="Мебельный центр «12 стульев»">
            </div>
          </div>
        </div>
        <section class="benefits benefits--bt">
          {% include "templates/partials/section-benefits.html" %}
        </section>
      </div>
      <div class="page-container">
        <div class="about__wrap">
          <div class="about__slider">
            <div class="slider">
              <ul class="slider__items">
                <li class="slider__item">
                  <img src="img/shopping-mall-slide-1.jpg" width="606" height="403">
                </li>
                <li class="slider__item">
                  <img src="img/shopping-mall-slide-1.jpg" width="606" height="403">
                </li>
                <li class="slider__item">
                  <img src="img/shopping-mall-slide-1.jpg" width="606" height="403">
                </li>
              </ul>
              <div class="slider__controls">
                <div class="slider__btns">
                  <div class="slider__btn slider__btn--next"></div>
                  <div class="slider__btn slider__btn--prev"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="about__aside page-content__text">
            <p>В МЦ представлен <strong>огромный выбор</strong> предметов мебели, товаров для дома и сопутствующих аксессуаров:</p>
            <ul>
              <li>Мягкая мебель</li>
              <li>Мебель для офиса</li>
              <li>столовые группы</li>
              <li>Текстиль</li>
              <li>Мебель для гостиной</li>
              <li>Кухни</li>
              <li>Свет</li>
              <li>Библиотеки</li>
              <li>Детские</li>
              <li>Все для сна, спальни</li>
              <li>Элементы интерьера</li>
              <li>Системы хранения</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
