<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Магазины - Bo-box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\stores.html">Магазины</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Bo-box</a>
          </li>
        </ul>
      </div>
    </div>
    <section class="store-post">
      <div class="store-post__about">
        <div class="page-container">
          <div class="store-post__header">
            <h1 class="store-post__title">Bo-box</h1>
          </div>
          <div class="store-post__thumbnail">
            <img class="store-post__img" src="img/bo-box-shop-preview.jpg" width="1197" height="273" alt="Bo-box">
            <img class="store-post__logo" src="img/store-bo-box.jpg" width="160" height="86" alt="Bo-box">
          </div>
        </div>
        <div class="page-container">
          <div class="store-post__wrap">
            <ul class="store-post__tags  tags">
              <li class="tags__item">
                <a class="tags__link" href="\">Диваны</a>
              </li>
              <li class="tags__item">
                <a class="tags__link" href="\">Мягкие диваны</a>
              </li>
              <li class="tags__item">
                <a class="tags__link" href="\">Раскладные диваны</a>
              </li>
              <li class="tags__item">
                <a class="tags__link" href="\">Кухонные</a>
              </li>
              <li class="tags__item">
                <a class="tags__link" href="\">Кухонные</a>
              </li>
            </ul>
            <div class="store-post__content">
              <p>Bellus – один из крупнейших производителей мебели Эстонии. Мы проектируем и производим качественную мебель для дома, отличающуюся повышенным уровнем комфорта. Мы предлагаем более 100 моделей и более 200 различных вариаций тканей и обивочных материалов.<br>Оцените скандинавский дизайн и качество Bellus.</p>
              <p>Официальный сайт: <a class="text  text--big" href="http://www.bobox.ru/">bo-box.com</a></p>
            </div>
          </div>
          <div class="store-post__contacts">
            <img src="img/svg/benefits-map-icon.svg" width="70" height="45">
            <p class="store-post__contacts-label">на карте центра</p>
            <a href="/" class="btn">Секция AB - 1 этаж</a>
            <a href="/" class="btn">Показать телефон</a>
          </div>
        </div>
      </div>
      <div class="store-post__promotions  promotions">
        <div class="page-container">
          <h2 class="store-post__subtitle">Акции магазина (2)</h2>
          <div class="promotions__list">
            <div class="banner">
              <div class="banner__wrap">
                <div class="banner__label banner__label--lg banner__label--top">%</div>
                <h3 class="banner__header">«Двойная Выгода»</h3>
                <img class="banner__logo" src="img/store-askona.jpg" width="131" height="55" alt="Askona">
                <div class="banner__content">
                  Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
                </div>
                <a href="/" class="link  link--short">Подробнее</a>
              </div>
            </div>
            <div class="banner">
              <div class="banner__wrap">
                <div class="banner__label banner__label--lg banner__label--top">%</div>
                <h3 class="banner__header">«Двойная Выгода»</h3>
                <img class="banner__logo" src="img/store-bo-box.jpg" width="135" height="72" alt="Askona">
                <div class="banner__content">
                  Во всех Кухонных студиях «Мария» при покупке кухонного гарнитура
                </div>
                <a href="/" class="link  link--short">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "templates/partials/section-products--popular.html" %}
      <div class="store-post__categories">
        <div class="page-container">
          <h2 class="store-post__subtitle store-post__subtitle--categories">Товары магазина в категориях</h2>
          <div class="store-post__row">
            <div class="panel panel--short">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="34" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#couch-icon"></use>
                  </svg>
                  <h3 class="panel__title">Диваны</h3>
                  <span class="panel__link">Перейти</span>
                </a>
              </div>
            </div>
            <div class="panel panel--short">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="31" height="34">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#living-room-icon"></use>
                  </svg>
                  <h3 class="panel__title">Гостиная</h3>
                  <span class="panel__link">Перейти</span>
                </a>
              </div>
            </div>
            <div class="panel panel--short">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="38" height="31">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playroom-icon"></use>
                  </svg>
                  <h3 class="panel__title">Детская</h3>
                  <span class="panel__link">Перейти</span>
                </a>
              </div>
            </div>
            <div class="panel panel--short">
              <div class="panel__wrap">
                <a class="panel__header" href="/catalog-category.html">
                  <svg class="panel__icon" width="35" height="31">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bedroom-icon"></use>
                  </svg>
                  <h3 class="panel__title">Спальня</h3>
                  <span class="panel__link">Перейти</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="postscript postscript--store-post">
      <div class="page-container">
        <h2 class="postscript__header">Заголовок</h2>
        <div class="postscript__content text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        </div>
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
