<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Магазины</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="breadcrumbs">
      <div class="page-container">
        <ul class="breadcrumbs__items">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="\">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link  breadcrumbs__link--active">Магазины</a>
          </li>
        </ul>
      </div>
    </div>
    <section class="stores">
      <div class="stores__header">
        <div class="page-container">
          <h1 class="stores__title">Магазины</h1>
          <div class="stores__row">
            <form class="stores__search  search-form" action="/" method="get">
              <input class="search-form__input" type="text" name="q" placeholder="Поиск по названию магазина">
              <button class="search-form__submit" type="submit">Поиск</button>
            </form>
            <div class="stores__paginator">
              <a href="#" class="link  link--grey">а</a>
              <a href="#" class="link  link--grey">б</a>
              <a href="#" class="link  link--grey">в</a>
              <a href="#" class="link  link--grey">г</a>
              <a href="#" class="link  link--grey">д</a>
              <a href="#" class="link  link--grey">е</a>
              <a href="#" class="link  link--grey">ж</a>
              <a href="#" class="link  link--grey">з</a>
              <a href="#" class="link  link--grey">и</a>
              <a href="#" class="link  link--grey">к</a>
              <a href="#" class="link  link--grey">л</a>
              <a href="#" class="link  link--grey">м</a>
              <a href="#" class="link  link--grey">н</a>
              <a href="#" class="link  link--grey">о</a>
              <a href="#" class="link  link--grey">п</a>
              <a href="#" class="link  link--grey">р</a>
              <a href="#" class="link  link--grey">с</a>
              <a href="#" class="link  link--grey">т</a>
              <a href="#" class="link  link--grey">у</a>
              <a href="#" class="link  link--grey">ф</a>
              <a href="#" class="link  link--grey">х</a>
              <a href="#" class="link  link--grey">ц</a>
              <a href="#" class="link  link--grey">ч</a>
              <a href="#" class="link  link--grey">ш</a>
              <a href="#" class="link  link--grey">щ</a>
              <a href="#" class="link  link--grey">э</a>
              <a href="#" class="link  link--grey">ю</a>
              <a href="#" class="link  link--grey">я</a>
              <a href="#" class="link  link--grey">0 - 9</a>
              <a href="#" class="link  link--grey">a</a>
              <a href="#" class="link  link--grey">b</a>
              <a href="#" class="link  link--grey">c</a>
              <a href="#" class="link  link--grey">d</a>
              <a href="#" class="link  link--grey">e</a>
              <a href="#" class="link  link--grey">f</a>
              <a href="#" class="link  link--grey">g</a>
              <a href="#" class="link  link--grey">h</a>
              <a href="#" class="link  link--grey">i</a>
              <a href="#" class="link  link--grey">j</a>
              <a href="#" class="link  link--grey">k</a>
              <a href="#" class="link  link--grey">l</a>
              <a href="#" class="link  link--grey">m</a>
              <a href="#" class="link  link--grey">n</a>
              <a href="#" class="link  link--grey">o</a>
              <a href="#" class="link  link--grey">p</a>
              <a href="#" class="link  link--grey">q</a>
              <a href="#" class="link  link--grey">r</a>
              <a href="#" class="link  link--grey">s</a>
              <a href="#" class="link  link--grey">t</a>
              <a href="#" class="link  link--grey">u</a>
              <a href="#" class="link  link--grey">v</a>
              <a href="#" class="link  link--grey">w</a>
              <a href="#" class="link  link--grey">x</a>
              <a href="#" class="link  link--grey">y</a>
              <a href="#" class="link  link--grey">z</a>
            </div>
          </div>
        </div>
      </div>
      <div class="stores__content">
        <div class="page-container">
          <h2 class="stores__subtitle">b</h2>
        </div>
        <div class="page-container">
          <div class="stores__items">
            <div class="store-item">
              <a href="#" class="store-item__logo">
                <img class="store-item__img" src="img/store-bo-box.jpg" alt="Bo-box">
              </a>
              <div class="store-item__about">
                <h3 class="store-item__title">Bo-box</h3>
                <div class="store-item__text">Санкт-Петербург, ст. м. Купчино, Балканская пл.5, МЦ "12 стульев", секция А8 - 1 этаж</div>
                <ul class="store-item__tags  tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкие диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link  tags__link--more" href="\">Еще</a>
                  </li>
                </ul>
              </div>
              <ul class="store-item__contacts">
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--tel-green">(812) 000 - 00 - 00</span>
                </li>
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--clock-green">Пн - Вс 10:00-20:00</span>
                </li>
                <li class="store-item__contact-item">
                  <a class="text  text--big  text--mail-green" href="mailto:mail@mail.ru">mail@mail.ru</a>
                </li>
                <li class="store-item__contact-item">
                  <span class="btn">секция AB - 1 этаж</span>
                </li>
              </ul>
            </div>
            <div class="store-item">
              <a href="#" <div class="store-item__logo">
                <img class="store-item__img" src="img/store-bellus.jpg" alt="Bellus">
              </a>
              <div class="store-item__about">
                <h3 class="store-item__title">Bo-box</h3>
                <div class="store-item__text">Санкт-Петербург, ст. м. Купчино, Балканская пл.5, МЦ "12 стульев", секция А8 - 1 этаж</div>
                <ul class="store-item__tags  tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкие диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link  tags__link--more" href="\">Еще</a>
                  </li>
                </ul>
              </div>
              <ul class="store-item__contacts">
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--tel-green">(812) 000 - 00 - 00</span>
                </li>
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--clock-green">Пн - Вс 10:00-20:00</span>
                </li>
                <li class="store-item__contact-item">
                  <a class="text  text--big  text--mail-green" href="mailto:mail@mail.ru">mail@mail.ru</a>
                </li>
                <li class="store-item__contact-item">
                  <span class="btn">секция AB - 1 этаж</span>
                </li>
              </ul>
            </div>
            <div class="store-item">
              <a href="#" <div class="store-item__logo">
                <img class="store-item__img" src="img/store-bo-box.jpg" alt="Bo-box">
              </a>
              <div class="store-item__about">
                <h3 class="store-item__title">Bo-box</h3>
                <div class="store-item__text">Санкт-Петербург, ст. м. Купчино, Балканская пл.5, МЦ "12 стульев", секция А8 - 1 этаж</div>
                <ul class="store-item__tags  tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкие диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link  tags__link--more" href="\">Еще</a>
                  </li>
                </ul>
              </div>
              <ul class="store-item__contacts">
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--tel-green">(812) 000 - 00 - 00</span>
                </li>
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--clock-green">Пн - Вс 10:00-20:00</span>
                </li>
                <li class="store-item__contact-item">
                  <a class="text  text--big  text--mail-green" href="mailto:mail@mail.ru">mail@mail.ru</a>
                </li>
                <li class="store-item__contact-item">
                  <span class="btn">секция AB - 1 этаж</span>
                </li>
              </ul>
            </div>
            <div class="store-item">
              <a href="#" <div class="store-item__logo">
                <img class="store-item__img" src="img/store-bellus.jpg" alt="Bellus">
              </a>
              <div class="store-item__about">
                <h3 class="store-item__title">Bo-box</h3>
                <div class="store-item__text">Санкт-Петербург, ст. м. Купчино, Балканская пл.5, МЦ "12 стульев", секция А8 - 1 этаж</div>
                <ul class="store-item__tags  tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкие диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link  tags__link--more" href="\">Еще</a>
                  </li>
                </ul>
              </div>
              <ul class="store-item__contacts">
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--tel-green">(812) 000 - 00 - 00</span>
                </li>
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--clock-green">Пн - Вс 10:00-20:00</span>
                </li>
                <li class="store-item__contact-item">
                  <a class="text  text--big  text--mail-green" href="mailto:mail@mail.ru">mail@mail.ru</a>
                </li>
                <li class="store-item__contact-item">
                  <span class="btn">секция AB - 1 этаж</span>
                </li>
              </ul>
            </div>
            <div class="store-item">
              <a href="#" <div class="store-item__logo">
                <img class="store-item__img" src="img/store-bo-box.jpg" alt="Bo-box">
              </a>
              <div class="store-item__about">
                <h3 class="store-item__title">Bo-box</h3>
                <div class="store-item__text">Санкт-Петербург, ст. м. Купчино, Балканская пл.5, МЦ "12 стульев", секция А8 - 1 этаж</div>
                <ul class="store-item__tags  tags">
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Мягкие диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Раскладные диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link" href="\">Диваны</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__link  tags__link--more" href="\">Еще</a>
                  </li>
                </ul>
              </div>
              <ul class="store-item__contacts">
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--tel-green">(812) 000 - 00 - 00</span>
                </li>
                <li class="store-item__contact-item">
                  <span class="text  text--big  text--clock-green">Пн - Вс 10:00-20:00</span>
                </li>
                <li class="store-item__contact-item">
                  <a class="text  text--big  text--mail-green" href="mailto:mail@mail.ru">mail@mail.ru</a>
                </li>
                <li class="store-item__contact-item">
                  <span class="btn">секция AB - 1 этаж</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="stores__sidebar">
            <div class="group">
              <div class="group__header">
                <h3 class="group__title">Магазины по категориям</h3>
              </div>
              <div class="group__content">
                <form class="filter-form" action="/" method="get">
                  <fieldset class="filter-form__section">
                    <legend class="filter-form__header  filter-form__header--hidden">
                      <h2 class="filter-form__title">Магазины по категориям</h2>
                    </legend>
                    <ul class="filter-form__items">
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-1">
                          <span class="filter-form__checkbox-label">Диваны</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-2">
                          <span class="filter-form__checkbox-label">Кухни</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-3">
                          <span class="filter-form__checkbox-label">Гостинные</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-4" checked>
                          <span class="filter-form__checkbox-label">Модульная мебель</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-5">
                          <span class="filter-form__checkbox-label">Шкафы-купе</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-6">
                          <span class="filter-form__checkbox-label">Двери</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-7">
                          <span class="filter-form__checkbox-label">Детская мебель</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-8" checked>
                          <span class="filter-form__checkbox-label">Готовые наборы</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-9">
                          <span class="filter-form__checkbox-label">Подростковая мебель</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-10">
                          <span class="filter-form__checkbox-label">Мебель для спальни</span>
                        </label>
                      </li>
                      <li class="filter-form__item">
                        <label class="filter-form__checkbox">
                          <input type="checkbox" name="item-11">
                          <span class="filter-form__checkbox-label">Аксессуары для спальни</span>
                        </label>
                      </li>
                    </ul>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="page-container">
          <div class="stores__items-pagination">
            <a href="#" class="btn showmore--js">Показать еще</a>
          </div>
        </div>
      </div>
    </section>
    <section class="postscript">
      <div class="page-container">
        <h2 class="postscript__header">Заголовок</h2>
        <div class="postscript__content text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
        </div>
      </div>
    </section>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
