<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Настройки</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "templates/page-header.html" %}
  <main class="page-content">
    <div class="page-container">
      <div class="user  user--w420">
        <div class="user__header">
          <a class="user__link user__link--home" href="/">В личный кабинет</a>
          <span class="user__name">ИП Ковалев</span>
        </div>
        <div class="user__content">
          <form class="form  form--settings" id="form" action="/" method="post">
            <div class="form__header">
              <h2 class="form__title">Настройки</h2>
            </div>
            <fieldset class="form__section form__section--contacts">
              <legend class="form__section-title">Контактные данные</legend>
              <ul class="form__items form__items--input-rows">
                <li class="form__item">
                  <label class="form__label form__label--grey" for="email">E-mail:</label>
                  <div class="form__input form__input--email-black form__input--readonly">
                    mail@mail.com
                    <button class="form__btn  form__btn--edit" type="button">Изменить</button>
                  </div>
                  <input class="form__input form__input--email form__input--hide" type="text" id="email" name="email" value="mail@mail.com">
                </li>
                <li class="form__item">
                  <label class="form__label form__label--grey" for="tel">Телефон:</label>
                  <div class="form__input form__input--tel-black form__input--readonly">
                    8 999-99-99
                    <button class="form__btn  form__btn--edit" type="button">Изменить</button>
                  </div>
                  <input class="form__input form__input--tel form__input--hide" type="tel" id="tel" name="tel" placeholder="8 999-9">
                </li>
              </ul>
            </fieldset>
            <fieldset class="form__section form__section--password">
              <legend class="form__section-title">Смена пароля</legend>
              <ul class="form__items">
                <li class="form__item">
                  <label class="form__label" for="cur-pwd">Текущий пароль</label>
                  <input class="form__input form__input--password" type="password" id="cur-pwd" name="cur-pwd" placeholder="*****">
                </li>
                <li class="form__item">
                  <label class="form__label" for="new-pwd">Новый пароль</label>
                  <input class="form__input form__input--password" type="password" id="new-pwd" name="new-pwd" placeholder="*****">
                </li>
                <li class="form__item">
                  <label class="form__label" for="repeat-pwd">Повторите пароль</label>
                  <input class="form__input form__input--password" type="password" id="repeat-pwd" name="repeat-pwd" placeholder="*****">
                </li>
              </ul>
            </fieldset>
            <div class="form__footer  form__footer--right">
              <input class="form__btn form__submit" type="submit" value="Сохранить">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  {% include "templates/page-footer.html" %}
</body>

</html>
